[2018-02-12 07:41] 10001if commented on #1408
추후에 문제가 발생하면 다른 이슈를 통해 기록 하겠습니다. 감사합니다.

[2018-02-12 07:53] keedi commented on #1394
이슈가 정확하게 무엇이 문제인지 모르겠습니다. 무엇이 문제인 것인지 자세한 설명 부탁드립니다.

가상계좌입금 완료 하였으나 잔디로 메시지가 오지 않은 것이 문제인가요?

[2018-02-12 08:23] keedi commented on #1413
92452 상기 주문서 쿠폰 사용 문제 없이 해결되었나요? 아니면 다른 문제가 더 있는지요?

[2018-02-12 08:36] pingpongworks commented on #1394
현재 가상계좌를 전송하는 방법은 두 가지가 있습니다.

*1. 반납시 연장, 연체가 있을 경우*

`미납`탭을 눌러 아래와 같이 `가상계좌 문자전송`을 통해 계좌를 보냅니다. 이 경우에는 잔디로 알림이 오지 않는 것이 정상입니다.
![image](https://user-images.githubusercontent.com/17288038/36088537-01b490ae-101b-11e8-9509-f23a220ed559.png)

*2. 다양한 이유로 추가 입금을 받아야 하는 경우*

대여자의 전화번호를 클릭하여 아래와 같이 가상계좌를 생성한 후 문자를 통해 계좌를 보냅니다. 이 경우에는 대여자가 입금을 하면 잔디의 `가상계좌 입금확인` 페이지에 아래와 같이 입금확인 메시지가 들어와야 정상입니다.
![image

[2018-02-12 09:08] jangbora commented on #1407
저희쪽에서 API 호출 시도에 대한 모든 기록을 남기고 있습니다. 오류가 발생한 시간대를 알려주시면 문제의 원인을 찾는데 용이하지 않을까 생각됩니다.

앞서 논의된 내용을 토대로 2018년 1월 27일 하루치를 검색해보았는데, 사용하시는 계정 / IP에서 올라온 요청 중에 500응답이 내려간 기록은 찾아내지 못하였습니다.

1월 27자로 검색된 기록에 남아있는 시간 정보는 아래와 같습니다.
[/payments/prepare]
| 2018-01-27 09:08:00 |
| 2018-01-27 09:22:39 |
| 2018-01-27 09:23:23 |
| 2018-01-27 09:29:15 |
| 2018-01-27 10:35:00 |
| 2018-01-27 10:35:00 |
| 2018-01-27 13:

[2018-02-12 09:10] 10001if commented on #1413
@keedi 문제 없이 해결되었고 다른 문제가 없었습니다.

[2018-02-12 09:47] pingpongworks commented on #1394
2번의 형태로 가상계좌를 보냈는데, 잔디 알림이 오지 않은 사례로
orders/9018 주문서의 경우도 그렇습니다.
2월 1일에 입금했는데, 잔디 알림이 오지 않아 2월 7일에야 입금을 확인한 경우입니다.

추측하기로는 2월 1일 이후로 잠시 동안 어떠한 이유 때문에 위와 같은 사례들이 발생했었던 것 같습니다.

[2018-02-12 09:48] keedi commented on #1394
넵 내용 다시 확인해보겠습니다.

[2018-02-12 09:49] keedi commented on #1394
정확하게는 항상 메시지가 전달되지 않는 것인가요? 아니면 현재 특정지어주신 몇몇 건들의 메시지가 전달되지 않은 것인가요?

[2018-02-12 10:35] pingpongworks commented on #1394
1월 31일까지는 정상적으로 전달되었던 것으로 보이고요, 2월 1일 이후에는 2번처럼 가상계좌를 보낸 건이 위의 2건으로 파악되는데, 2건 다 잔디 알림이 오지않았습니다.

현재는 제가 테스트해본 바로 정상적이라 문제는 없는데, 혹시 나중에 같은 문제들이 발생했을 때를 위해서 일단 적어두었습니다.

[2018-02-12 11:52] pingpongworks commented on #1405
오늘 오후 늦게 수행업체 선정 발표가 났습니다.
서비스오픈 준비를 해야할 듯 합니다.
내일 오전에 자세한 진행계획 전달받는대로 연락드리겠습니다.
설 연휴가 바로라 걱정되어서 일단 알려드립니다~

[2018-02-13 02:42] keedi commented on #1394
우선 기록되어있는 두 건과 관련해 로그를 먼저 확인한 후 경과 내용을 기록토록 합니다.

[2018-02-13 02:43] keedi commented on #1413
특별한 후속 문제가 없으므로 이슈 닫습니다.

[2018-02-13 02:43] #1413 closed

[2018-02-13 02:51] keedi commented on #1377
쿠폰은 세션 정보를 이용합니다. 당시 서울시 및 관련 업체와의 정확한 가이드라인 없이 혼동속에 서울시 쿠폰 사용이 마감되었기 때문에 발생한 이슈입니다. 버그는 아닙니다만, 앞으로도 유사한 일이 생길 것을 감안하면 유효하지 않은 쿠폰 정보가 세션에 남아있을 경우 초기화 또는 지워줄 수 있는 방법을 만들어야 할 듯 합니다.

[2018-02-13 02:52] keedi commented on #1310
여전히 유효한 이슈인지 확인 부탁드립니다.

[2018-02-13 03:12] pingpongworks commented on #1405
내일 14일 10시에 운영계획 회의가 있을 예정입니다.
서비스 시작은 여전히 19일 월요일로 예정이라고 합니다.
미리 작업을 하기도 뭐하고 좀 난감한 스케줄이 될 듯 합니다.
일단은 오늘 내부적으로 취업날개 관련해서 챙겨야할 부분들 정리해보고
내일 회의 다녀와서 공유드리겠습니다.

[2018-02-13 04:35] 10001if commented on #1310
@pingpongworks 확인 부탁드릴게요.

[2018-02-13 08:56] pingpongworks commented on #1310
@keedi 이슈를 요청했던 옷장지기에게 확인해보았습니다. 여전히 봉사자에게 주로 포장을 부탁하고 있기 때문에 `대여가능일 때만 포장이 가능하도록 함`이 가능해지면 좋을 듯 합니다.  상태가 `대여가능`이어야 함을 인식하지 못해서 [사진1]과 같이 상태변경이 되지 않은 품목이 있는 상태에서 포장완료를 해버리는 경우, [사진2]와 같이 원래 대여하려고 했던 품목 일부가 누락될 수 있습니다.
결제 담당자가 대여하려는 품목을 확인하는 과정에서 오차가 있는 경우를 발견해서 다시 포장을 하기도 하지만, 놓치는 경우도 있을 수 있기 때문에 `대여가능일 때만 포장이 가능하도록 함`이 가능해지면 좋을 듯 합니다.

[사진1]
<img width="960" alt="2018-02-13 17 41 42" src="https:

[2018-02-18 21:43] keedi commented on #1405
2018년 서울시 쿠폰 예약 만료일을 알려주세요. 정확하게 표현하면 서울시 쿠폰(seoul-2018-1)의 방문 예약을 마감하는 일시를 알려주세요. 지난 seoul-2017-2 쿠폰의 경우 2017-12-13T23:59:59 였습니다.

관련 내용은 #1366 이슈를 참고해주세요.

[2018-02-18 23:23] pingpongworks commented on #1405
작년에도 예산문제로 12-13일까지 제한하였습니다. 현재로는 2018-12-31까지로 봐야합니다.
예산이 어느 시점에 소진될지는 진행하면서 다시 말씀드리겠습니다.

[2018-02-19 04:48] keedi commented on #1395
피드백은 확인했습니다. 현재 기기와 서비스를 사용하는 정황상 뒤로가기나 새로고침으로 인한 오동작의 가능성은 높으나, 이 문제가 주문서 상태를 바꾸는 문제와 직접적인 상관이 있는지는 확인할 수 없습니다. 하지만 여전히 심각한 문제이므로 반드시 고쳐야 할 듯합니다. 주문서 상태가 임의로 변경되는 것과 관련된 내용은 모두 모니터 쪽에서 더 진행하는 것이 적절할 듯 합니다. 일단 본 이슈는 닫습니다.

[2018-02-19 04:48] #1395 closed

[2018-02-19 06:46] aanoaa commented on #1405
고려해야할 부분입니다.

1. 취업날개로 유입된 사용자가 선택한 예약 날짜가 올바르게 취업날개 서비스에 반영되는지
2. 열린옷장의 예약시간 변경이 올바르게 취업날개 서비스에 반영이 되는지
3. 하루 한번 일괄로 취업날개 쿠폰의 상태를 예약중 -> 대여완료로 변경하는 작업이 동작하는지 (OpenCloset-Cron-Event)
4. 취업날개를 통한 온라인/오프라인 통계가 제대로 동작하는지 (OpenCloset-Cron-Visitor)

----------------------------------

1, 2번은 취업날개의 예약내역 목록에 표시가 되지 않는 문제가 있습니다.
데이터는 들어가있는데 목록에 나타나지 않고 검색도 되지 않습니다.
담당 업체에 문의를 해봐야 합니다.

3번, 4번은 `2017` 로 표기

[2018-02-19 06:59] aanoaa commented on #1405
3번을 위한 패치 입니다.

[OpenCloset-Cron-Event-v0.1.0.tar.gz](https://cpan.theopencloset.net/STAFF@THEOPENCLOSET.NET/OpenCloset-Cron-Event-v0.1.0.tar.gz)

서버에 배포 하고 재시작 해주어야 합니다.

[2018-02-19 07:05] aanoaa commented on #1405
4번을 위한 패치 입니다.

[OpenCloset-Cron-Visitor-v0.3.1.tar.gz](https://cpan.theopencloset.net/STAFF@THEOPENCLOSET.NET/OpenCloset-Cron-Visitor-v0.3.1.tar.gz)

서버에 배포 하고 재시작 해주어야 합니다.

[2018-02-19 07:15] aanoaa commented on #1405
온라인상에서 취업날개 쿠폰일 경우에 주소지가 서울이어야 하고, 대여목적이 입사면접이어야 하는 룰이 있습니다.
거기에 이벤트 종료일이후에는 사용할 수 없도록 해놓았습니다.

이것을 seoul-2018 에 적용하도록 수정하였습니다.

[2018-02-19 07:23] aanoaa commented on #1405
@pingpongworks 담당업체에 문의를 해주셔야 합니다.

서버에 반영했습니다. 익일 제대로 동작하는지 확인이 필요합니다.

서버에 반영했습니다. 익일 제대로 동작하는지 확인이 필요합니다.

서버에 반영했습니다. 취업날개 쿠폰으로 결제가 되는지 확인을 해봐야 합니다.

[2018-02-19 07:24] keedi commented on #1405
1, 2 항목은 우리쪽에서 변경할 내용 없이 잘 보여야 하는데 안보였던 것인가요 아니면 OC::Cron::* 두 모듈과 관련이 있나요?

[2018-02-19 07:26] aanoaa commented on #1405
변경한 내용이 없고 나머지 모듈과 관련이 없습니다.
데이터는 제대로 들어가고 있는데 취업날개 예약목록에 나타나지 않고 있습니다.

[2018-02-19 07:28] keedi commented on #1405
그렇죠? 저도 그렇게 알고 있었는데, 현재 예약 목록에서 나오지 않는 것은 저희쪽에서 할 부분이 아닌 것으로 알고 있습니다.

@pingpongworks 해당 담당자가 통신이니, 연결이니, 주소니 말한 것은 황당한 이야기인듯하군요.

[2018-02-19 07:28] keedi commented on #1405
제가 궁금한게 이게 원래 되었나요?

@aanoaa  되었다면 해당 기능을 하는 부분이 어느 부분인지요?

@pingpongworks 되지 않았다면, **선택한 예약 날짜가 올바르게 취업날개 서비스에 반영되는지... 열린옷장의 예약시간 변경이 올바르게 취업날개 서비스에 반영이 되는지** 라고 말씀하시게 된 연유가 무엇인지요?

[2018-02-19 07:55] aanoaa commented on #1405
@keedi
`OpenCloset::Web::Controller::Statistic::create_event` 이게 연장하기 버튼을 눌렀을때에 실행되는 route 입니다.

연장하기 기능이란 한번 예약해서 대여일을 늘이는대신 쿠폰횟수가 차감되는 기능입니다.

3박4일 이면 1회 차감(기본)
6박7일 이면 쿠폰을 2회 사용

`OpenCloset::Events::EmploymentWing` 와 관련이 있습니다.

- `templates/order/detail.html.ep`
- `coffee/order-detail.coffee`

여기에도 `seoul-2017` 이 하드코드 되어 있습니다.
수정되어야 합니다.
말씀해주시면 제가 고치겠습니다만 그리 어려운 작업은 아닐 것 같습니다.

[2018-02-19 07:59] aanoaa commented on #1405
@keedi
네 작년에 만들어서 되던 기능입니다.

- OpenCloset::API::Order::reservated
- OpenCloset::API::Order::update_reservated

입니다.

호출되는 곳은

- `OpenCloset::Web::Controller::Order::update_booking`
- `OpenCloset::Web::Controller::Booking` 에서 `update_reservated` 로 검색해보시면 됩니다.

[2018-02-19 09:00] pingpongworks commented on #1405
이 부분은 저의 질문은 아니고, @aanoaa 님의 말씀이었습니다^^

[2018-02-19 14:55] pingpongworks commented on #1405
@aanoaa
**연장하기**가 올해는 내용이 달라졌습니다. **대여자가 연장을 원할 경우 취날홈에서 면접증빙을 업로드한 후 연장하기 버튼을 본인이 직접 누를 수 있는 기능**이 취날 홈페이지에 추가되었습니다. 그래서, 대여자와 옷장지기가 확인되지 않은 상태에서 각자 연장하기를 하게 될 경우, 이중으로 연장이 될 가능성이 있습니다.

**연장은 취날 홈에서 대여자 본인이 하고, 그 데이터가 연동되어 주문서에서 자동 연장**되면 가장 혼란이 없을 듯 합니다.

어제 서울시 전담업체에 그런 방식으로 작업에 대해 문의했고 가능하다는 답변을 받았습니다. 일단은 잘 되리라는 희망을 가지고 진행 해볼까 합니다만, 꼭 체크해야할 부분이 있을까요?

[2018-02-20 00:49] keedi commented on #1405
연장하기와 관련해 결정해야할 사항은 저와 이야기 나누시면 됩니다. 의사소통 채널을 단순화하기 위한 것이니 참고해주시구요. 열린옷장 서비스는 서울시에 종속되는 서비스가 아니라 별도의 독립적인 서비스인 만큼 서울시 서비스(완전하지도 않은)에 일일이 다 연동을 하는 것은 적절하지 못하기도 하고, 사실상 불가능합니다. 가능하면 방법을 찾긴 하겠지만, 서울시에 종속되는 컴포넌트가 많아질 수록 데이터 관리나, 시스템 관리가 어려워집니다. 자동화가 되면 좋겠지만, 모든 것을 자동화하는데는 비용이 너무 크게 들어갑니다. 이런 점을 고려해주시면 좋을 것 같습니다.

추가로 해당 서울시 홈페이지에서 연장을 해서 만약 자동으로 연장이 되기를 원하는 것은 열린옷장에서 이 사용자가 연장됐는지 안됐는지 신청을 했는지 안했는지 아예

[2018-02-20 00:55] keedi commented on #1405
aanoaa wrote: @keedi 네 작년에 만들어서 되던 기능입니다.

- OpenCloset::API::Order::reservated
- OpenCloset::API::Order::update_reservated

입니다.

호출되는 곳은

- `OpenCloset::Web::Controller::Order::update_booking`
- `OpenCloset::Web::Controller::Booking` 에서 `update_reservated` 로
  검색해보시면 됩니다.

@aanoaa
이렇게 말씀하신대로라면 예약 정보를 갱신하는 요청을 dressfree 쪽으로 쏴주는 것을 작년에 구현을 완료했는데 이쪽에는 특별히 하드코딩된 부분이 없으니 안될 이유가 없고, 만일 안된다고 하면 이는 우리쪽

[2018-02-20 02:38] aanoaa commented on #1405
공식적으로 API 를 요청한 부분이 3개인데 하나는 답변을 받았고 나머지는 받지 못했습니다.

- 상태변경
- 예약날짜변경
- 연장하기

상태변경은 특정주소로 요청을 보내라는 답을 받았고,
나머지는 임의로 사용중입니다.(답변을 안줬습니다.)
안된다면 해당업체의 서비스에 변경이 있는 것이니까,
다시한번 공식적으로 요청해서 API 를 받던지 작년처럼 바뀐부분을 임의로 고쳐서 사용해야 할 것 같습니다.

동작여부는 대여자의 예약시간이 취업날개 관리화면에서 반영되었는지 확인해보면 될 것 같습니다.

[2018-02-20 02:44] pingpongworks commented on #1395
알겠습니다. 새로운 정황이 포착되면 모니터에 이슈 올리겠습니다.

[2018-02-20 03:29] 10001if commented on #1405
오해가 있을 수 있어 남깁니다. 올해 달라진 내용은 연장하기 기능이 신설된 것이 아니고 연장하기 전에 면접 정보를 업로드 하는 과정이 추가된 것입니다. 작년에도 이용자가 직접 연장할 수 있었습니다. 따라서 연장하기 기능은 작년과 동일하나 다만, 연장시 면접 정보를 업로드 하는 것이 추가된 것 뿐입니다. 연장하기 기능은 새 기능이 아닙니다.

[2018-02-20 05:03] keedi commented on #1405
이용자가 직접 연장했다는 것이 어떤 의미이신지요? 대여자가 dressfree에서 연장을 진행했었다는 것인지요? 그렇다면 dressfree에서 연장은 연장대로 진행한 뒤에 열린옷장에 와서 또는 전화로 요청하면 확인 후 쿠폰 연장 버튼을 이용해서 연장했던 것인가요? 쿠폰 연장 버튼을 우리가 추가한 것은 알고 있지만 그것과 별개로 대여자가 dressfree에서 연장은 작년에도 각자가 진행한 것인가요?

[2018-02-20 05:55] 10001if commented on #1405
네, 이용자가 dressfree에서 연장을 진행했습니다.

하지만, dressfree에서 연장 신청을 해도 staff에 반영되지 않았기 때문에. 취업날개 이용자에게 연장안내를 할 때 dressfree에서 직접 연장하지 말고 대여 후 발송되는 문자 메세지
 https://github.com/opencloset/opencloset/pull/622#issuecomment-187539497 에 연장일을 입력하도록 하였습니다. 이렇게 한 이유는 열린옷장에 연장을 신청해 주시면 의류를 반납했을 때 연장 여부를 확인하여 https://github.com/opencloset/opencloset/issues/1294 를 통해 옷장지기가 staff에서 연장을 진행했습니다. 이렇게 하면 https://github.com/ope

[2018-02-20 06:37] aanoaa commented on #1405
- [x] 취업날개로 유입된 사용자가 선택한 예약 날짜가 올바르게 취업날개 서비스에 반영되는지
- [x] 하루 한번 일괄로 취업날개 쿠폰의 상태를 예약중 -> 대여완료로 변경하는 작업이 동작하는지 (OpenCloset-Cron-Event)
- [x] 취업날개를 통한 온라인/오프라인 통계가 제대로 동작하는지 (OpenCloset-Cron-Visitor)

어제 작업한 위 세건에 대해서 확인하였습니다.
2018-02-19 의 경우 방문인원이 4인데 시간표상에서는 5명이 방문한 것으로 나옵니다.
1명은 신분증 미지참으로 쿠폰을 사용하지 못하고 대여하였습니다. 그래서 4명이 맞습니다.

온라인은 아직 신청된 건이 없어서 확인을 못했습니다.

[2018-02-20 10:48] pingpongworks commented on #1405
아침 업무 전에 어제 대여한 4명의 데이터가 정상적으로 보이는 것을 확인했었는데,
오늘 데이터가 보이지 않는 것을 오후 늦게 확인했고,
대여자도 목록조회를 할 수 없어서 연장을 할 수 없는 현상까지 메일로 담당업체에 문의한 상태입니다.

[2018-02-20 11:21] pingpongworks commented on #1405
새로 담당하는 주무관과 담당업체에게 새로 바뀐 기능으로 전달을 받았어서 작년에는 대여자가 직접 연장하는 기능이 없었던 걸로 잘못 인지했습니다.

올해 바뀐 부분은 연장시에도 대여자가 면접서류를 업로드해야 하는 것이고, 면접서류가 확인되어야 하는 부분이 필수라면 대여자가 직접 업로드 후 바로 연장을 하는 것은 말이 안된다는 생각이 듭니다. 상식적으로 승인과정이 필요하다는 생각이 들어, 연장시 면접서류 확인에 대한 서울시의 생각을 문의해놓은 상태입니다.

꼭 확인을 해야한다면, '연장하기'가 아니라 '승인요청'이 되어 옷장지기가 서류 확인 후 승인을 통해 연장을 해야 합니다. 혹은 연장하기가 아예 없고, 작년과 동일하게 연장이 필요한 경우 서류 업로드 후 열린옷장으로 전화/카톡으로 연락을 하여 확인 후 연장이

[2018-02-20 11:42] 10001if commented on #1405
담당업체는 기존 업체이고 주무관도 2017년 8월부터 진행을 하던 분입니다. 8월부터 12월까지 담당을 했기 때문에 새로 담당한 주무관은 아닙니다. 하지만 금년에 새로 설정하려는 요건들이 정확히 정리되지 못한 상태에서 진행되고 있어서 필요한 내용들은 챙겨야 할 것 같네요. 변경되는 부분들은 전부 staff에 반영되지 못하기 때문에 명확히 정리되지 않은 상태에서 진행되지 않도록 전달받은 내용이라도 한번 더 확인하고 진행하면 좋을 듯 합니다.

[2018-02-20 12:11] pingpongworks commented on #1405
작년의 기능과 상황들을 제가 세세히 파악하고 있지 못합니다. 상황 파악도 안되어있는 상태에서 오픈에 급급하다보니 여러가지로 정리되지 않은 상태로 자꾸 논의를 드리게 되었는데요, 조금 시간이 걸리더라도 작업 관련해서 정리된  내용으로 공유하도록 하겠습니다.

[2018-02-20 14:07] keedi commented on #1405
저도 기능과 구현 부분을 포함해서 좀 파악을 해야겠네요. 여튼 부담 가지지 마시고 같이 잘 확인해보죠. 작년 기능, 올해 기능, 작년 구현 부분, 올해 구현 부분 등 저도 파악해야 하는 것이 많으니 찬찬히 확인하시고 기록해주세요. 집중적으로 논의해야 할 내용이 많아보이니 금주에는 오프에서 뵐 수 있도록 해보겠습니다.

[2018-02-20 14:57] pingpongworks commented on #1405
네! 너무나 감사한 말씀입니다^^ 주요 이슈 정리해놓겠습니다.

[2018-02-21 02:27] pingpongworks commented on #1405
@keedi 어제 담당업체에 요청한 **예약목록이 관리자페이지 및 대여자페이지에 나타나지 않는 현상**의 원인을 담당업체가 못 찾고 있습니다. 오늘 현재 상황은 어제 안 보였던 20일 예약내역은 보이는데 오늘 정보는 또 안 보이고 있습니다. 정보데이터의 프로세스를 저에게 설명해주었는데요, 대략 이렇다고 합니다.

1. 대여자가 취날 홈페이지에서 예약하면 정보를 아이넷에서 받음
2. 아이넷에서 받은 정보를 옷장 쪽으로 보냄
3. 옷장 쪽에서 시간 등을 선택하고 예약하면 다시 아이넷에서 정보를 받음
4. 관리자페이지에 업데이트 됨

문제 해결을 위해서 3번 과정, 즉 옷장에서 아이넷으로 예약한 정보를 보낼 때 **어떤 경로로, 어떤 데이터(주소 등)를 보내는지** 알려달라고 요청했습니다. 혹시 빠른 해결을 위해

[2018-02-21 02:34] keedi commented on #1405
관련 내용은 메일로 주고 받으셨나요? 가능하면 해당 업체와 메일을 주고 받으실 때는 항상 staff 단체 메일을 cc로 꽂아주셔야 합니다. 해당업체를 떠나서 가능하면 시스템 및 시스템과 연관되는 업무와 관련해 소통하실때는 cc로 넣어주시지 않으면 상황을 파악하기가 매우 어렵습니다. 일단 상기 받으신 메일을 staff로 포워딩해주세요. 더불어 담당업체와는 메일 이외의 방식으로는 커뮤니케이션하지 않을 예정이니 참고해주세요.

[2018-02-21 03:17] keedi commented on #1405
feature/#1405-coupon-seoul-2018-1 가지에서 수정해주신 후 실섭에서 pull 후 재기동 부탁드립니다. 현재 master가 아닌 해당 가지에서 운영중입니다. 쿠폰 관련 오픈 이슈가 완료되면 가지를 병합하고 릴리스할 예정입니다.

[2018-02-21 03:24] pingpongworks commented on #1405
@keedi 메일로 소통할 때는 stafff를 꼭 cc로 걸고 있습니다. 그런데, 이 업체 성향이 메일로 받고 전화로 답하는 스타일이네요. 어제 저녁에 보낸 메일에 대해, 오늘 오전에 담당업체의 알 수 없는 팀들로부터 전화가 여러 통 왔습니다. 메일로 답변해달라고 제가 따로 요청하겠습니다.

[2018-02-21 03:46] pingpongworks commented on #1405
저희쪽으로 꼭 알려주셔야 합니다
지금 발생되는 현상이 그런 상황인거 같습니다.
변경하신 내용을 확인하신후 꼭 연락좀 부탁드립니다.

아이넷과 통화 후 개인 메일로 누군가가 답변주었던 내용입니다.

[2018-02-21 03:51] aanoaa commented on #1405
연장하기를 사용한 통계입니다.

[연장하기-2017-통계](https://staff.theopencloset.net/stat/events/extra-seoul-2017)

이것이 이제는

[연장하기-2018-통계](https://staff.theopencloset.net/stat/events/extra-seoul-2018)

로 바뀌게 되겠죠.

생각보다 연장하기를 많이 사용했네요.
11월에는 하루에 10회 정도 연장하기를 사용한셈이네요.

[2018-02-21 03:55] aanoaa commented on #1405
지금 발생되는 현상이 뭔지 모르겠습니다.
담당업체에서 공식적으로 알려준 예약상태 변경 API(?) 를 사용중이고 바뀐부분이 없습니다.

그외에 비공식으로(요청했지만 답변을 안줘서) 예약날짜변경과 연장하기를 사용중인데 이부분역시 바뀐점은 없습니다.
예약날짜변경은 동작하는 것을 확인했고,
연장하기는 아직 사용된적이 없어서 동작여부를 모릅니다.

[2018-02-21 04:02] aanoaa commented on #1405
"연장하기" 버튼의 "통계보기" 를 누르면 Page not found 에러가 발생하는데,
이는 아직 한번도 연장하기를 사용하지 않아서 입니다.
한건이라도 발생한 이후에는 정상적으로 보이게 됩니다.

@keedi 말씀해주신 부분 수정하였습니다.

[2018-02-21 04:58] keedi commented on #1405
얼척이 없는게, 보시면 아시겠지만, 이딴식(?)입니다. 저희는 바뀐 것이 없는데요. 연장하기는 내부적으로 지원할 뿐이니 바뀌고 자시고 할 것도 없습니다. 그쪽에서 협의도 없이 새로운 오픈 준비해놓고, 되니 안되니 하는 상황도 불쾌하고, 전화로 계속 답신을 넣는 상황도 불쾌합니다. 그래서 작년에는 아예 어느 시점 이후에는 저희는 전화 응대는 대응하지 않았습니다. 어찌됐든 지금 뭐가 문제인지 모르겠습니다. 자신들의 문제가 있어도 해결한 다음 무엇이 문제였는지 피드백도 주지 않던 상황도 작년이나 올해나 똑같고, 밑도 끝도 없이 안된다면서 저희한테 변경사항이 있냐고 묻는데 무엇을 답변해야할지도 모르겠네요;;;

[2018-02-21 05:11] pingpongworks commented on #1405
- 그외에 예약날짜변경과 연장하기를 사용중인데 이 부분 역시 바뀐 점 없음.
- 예약날짜변경 동작 확인했음.

등의 내용을 아이넷 쪽에 메일로 전달하겠습니다.

어떤 데이터를 보내는지 알려달라고 했던 부분은 특별히 답변이 필요하지는 않을까요?

[2018-02-21 05:34] aanoaa commented on #1405
https://github.com/opencloset/opencloset/issues/1256#issuecomment-307344268

이렇게 보내고 있습니다.
이후에 온라인 택배발송일과 관련된 내용도 추가되었습니다.

협력업체 및 서울시에 문의 하였습니다.

[2018-02-21 05:46] keedi commented on #1405
@pingpongworks
오해의 소지가 있어 @aanoaa 님께서 쓰신 내용의 형식(포맷)을 조금 변경했습니다. 무엇을 보내냐는 것에 대한 2017년에 이미 주고 받은 메일 내역이고 관련해 따로 변경한 것이 없다는 의미입니다. 저 내용 그대로 긁어서 보내주셔도 상관없을 듯하네요.

[2018-02-21 05:49] pingpongworks commented on #1405
@aanoaa 공식적으로 전달받은 api가 다음의 내용이라고 보면 되는건가요?

http://dressfree.net/theopencloset/api_rentRcv.php
POST로 넘겨주실 변수
rent_num > 보내드린 예약코드
rent_date > 예약일(yyyy-mm-dd)
rent_time > 예약시간(hh:ss)

[2018-02-21 05:50] aanoaa commented on #1405
네 맞습니다.

[2018-02-21 07:01] aanoaa commented on #1405
![screenshot-2018-2-21](https://user-images.githubusercontent.com/170528/36467041-3b042a48-1720-11e8-904c-fa18af9cd55c.png)

작년에는 연장하기에 상세내용만을 넣었는데 올해는 이부분이 좀 바뀌었네요.
연장하기 버튼이 정상적으로 동작하지 않을 수 있습니다.
실제로 사용하기전에 테스트가 필요합니다.
연장하기 방법이 바뀌었다면 거기에 맞게 프로그램의 변경이 필요할 수도 있습니다.

@pingpongworks

[2018-02-21 08:41] pingpongworks commented on #1405
![image](https://user-images.githubusercontent.com/17288038/36470448-2cea0456-172e-11e8-8f08-12ed71ed0d61.png)

@aanoaa 연장하기 버튼을 내부에서 테스트해보았습니다. 주문서 '연장하기'버튼으로 연장이 가능합니다. 다만, 위 그림과 같이 면접증빙서류가 없이도 연장이 되어버려서 담당자가 확인절차를 제대로 하지 않을 경우, 문제가 될 수 있을 듯 합니다.

[2018-02-21 08:44] pingpongworks commented on #1405
동일한 API 를 사용중이고 작년과 바뀐부분이 없다고 하시니 열린옷장 쪽에서 취업날개 쪽으로 보내는 데이터를 처리하는 곳에 수신로그를 DB에 저장하도록 처리를 해놓고 저장된 로그를 확인해서 정확한 원인을 찾으려고 합니다.
불편하시더라도 금일 하루는 로그가 쌓이도록 놔두고 내일 오전에 로그를 분석해서 결과를 알려드리도록 하겠습니다.
상태변경이 정상처리 되지 않은 내역이 있을 경우 추후 확인을 통해 일괄적으로 상태변경을 진행하도록 하겠습니다.

아이넷의 답변 메일입니다.  내일 오전까지 지켜봐야 할 듯 합니다.

[2018-02-22 03:29] aanoaa commented on #1405
예약일시 변경은 `OpenCloset::Events::EmploymentWing` 모듈에서 담당하고 있고 이를 사용하는 모듈/서비스는 두군데 입니다.

- OpenCloset::API
- OpenCloset::Cron::Event

최초 예약인지 여부를 고려할 수 있도록 변경하고 사용된 곳에서 적절하게 처리해주도록 하겠습니다.

[2018-02-22 04:14] aanoaa commented on #1405
- [OpenCloset-API-v0.1.3.tar.gz](https://cpan.theopencloset.net/STAFF@THEOPENCLOSET.NET/OpenCloset-API-v0.1.3.tar.gz)
- [OpenCloset-Cron-Event-v0.1.2.tar.gz](https://cpan.theopencloset.net/STAFF@THEOPENCLOSET.NET/OpenCloset-Cron-Event-v0.1.2.tar.gz)
- [OpenCloset-Events-EmploymentWing-v0.1.0.tar.gz](https://cpan.theopencloset.net/STAFF@THEOPENCLOSET.NET/OpenCloset-Events-EmploymentWing-v0.1.0.tar.

[2018-02-22 04:16] aanoaa commented on #1405
서버에 설치하고 서비스 재시작 해주었습니다.
취업날개로 예약된 대여자가 취업날개 홈페이지 예약목록에 나타나는지 확인이 필요합니다.

cc @pingpongworks

[2018-02-22 04:52] aanoaa commented on #1412
제가 작업하겠습니다.
쿠폰이 새로 발급되면 통계와 관련되어서 몇가지 작업을 해주어야 하는데
기존에 했던 작업의 반복수준입니다.

이번 이슈를 진행하면서 다시 한번 자세하게 남기도록 하겠습니다.

[2018-02-22 05:56] aanoaa commented on #1412
새로운 쿠폰이 발급되고 나면 하루 한번 일일 사용(방문)수 를 수집하는 cron job 을 [OpenCloset::Cron::Visitor](https://github.com/opencloset/OpenCloset-Cron-Visitor) 에 추가해야 합니다.

1. OpenCloset::Cron::Visitor 에 수집할 수 있는 함수를 추가하고,
2. `opencloset-cron-visitor.pl` 에서 담당하는 worker 를 늘려줍니다.
3. 버전을 올려서 배포하고
4. 서버에 설치한 후 서비스 재시작

통계한 한번 수집되고 난 이후부터는

/stat/events/:name # 전체
/stat/events/:name?online=1 # 온라인만
/stat/events/:name?online=0 #

[2018-02-22 05:59] aanoaa commented on #1412
이 경우에는 누락된 통계의 데이터를 직접넣어줘야 하는 작업도 필요합니다.

[2018-02-22 06:13] aanoaa commented on #1412
자세한 코드입니다.

https://github.com/opencloset/OpenCloset-Cron-Visitor/commit/cfb3d8695719947096ae885c8df7e8b8383e226e

[2018-02-22 06:15] aanoaa commented on #1412
비어있는 통계는 https://github.com/opencloset/OpenCloset-Cron-Visitor/issues/5#issuecomment-300706625 를 참고해서 기간과 이벤트명을 조금 수정해서 적용할 수 있습니다.

[2018-02-22 06:27] aanoaa commented on #1412
아래 스크립트를 돌려서 2018-02-01 ~ 2018-02-21 까지의 누락된 통계를 넣어주었습니다.

[code]

[2018-02-22 06:27] aanoaa commented on #1412
https://staff.theopencloset.net/stat/events/gunpo

[2018-02-22 06:28] aanoaa commented on #1412
인증없이 볼 수 있는 public 주소는 따로 알려드리도록 하겠습니다.

[2018-02-22 06:28] aanoaa commented on #1412
오늘 이후부터 제대로 수집하는지 확인이 되면 닫도록 하겠습니다.

[2018-02-22 06:29] aanoaa commented on #1412
한건도 안쓴것이 맞나요?

[2018-02-22 06:32] 10001if commented on #1412
네! 아직 시행 전이라 사용 한 적이 없습니다. 3월 초부터 시작 예정입니다.

[2018-02-22 10:18] pingpongworks commented on #1405
![default](https://user-images.githubusercontent.com/17288038/36532394-f671d990-1803-11e8-90e7-b87dedcb28a9.JPG)

오늘 날짜 대여내역을 확인하면 이렇게 나옵니다.
실제 취날 대여자는 20여명인데, 이렇게 일부만 보입니다.
확인해보니 **신청일(예약일)과 대여일이 같은 사람**만 보이는 듯 합니다.

- 오늘 22일에 대여한 나머지 인원은 어제처럼 보이지 않습니다.
- 어제 안보였던 어제 예약 내역은 오늘은 보이고 있습니다.

@aanoaa 문제가 뭘까요?

[2018-02-22 10:34] aanoaa commented on #1405
수정된후 오늘 오후에 반영되었기 때문입니다. 그동안 누락된 대여자는 어제와 마찬가지로 보이지 않는 것 같습니다

[2018-02-23 02:47] pingpongworks commented on #1405
@aanoaa
2월 23일 11시 39분 상황입니다.

![2](https://user-images.githubusercontent.com/17288038/36575453-5ffd8370-188e-11e8-93c8-038bcd6f35bd.JPG)
[관리자가 로그인해서 보는 관리자페이지]

취날관리자페이지에서 오늘 날짜의 대여내역을 검색하면,
22일, 23일에 예약해서 >> 오늘(23일)에 대여한 내역만 보이는데
상태가 `회수대상`이 아니라 `예약중`으로 뜹니다.

그래서 오늘 대여한 대여자가, 바로 또 한번의 면접이 생겨 연장을 하려고 해도
`예약중` 상태라 연장을 할 수 있는 연장입력 부분과 `연장하기` 버튼이 보이지 않습니다.

![default](https://user-images.githubuserc

[2018-02-23 03:57] aanoaa commented on #1405
`대여중` -> `대여완료` 로의 취업날개 상태변경은 하루한번 일괄로 하고 있습니다.
자세한 내용은 https://github.com/opencloset/opencloset/issues/1256#issuecomment-306097199 에 있습니다.

취업날개 관리자 페이지에서 직접 상태를 변경할 수 있지않나요?

[2018-02-23 04:41] aanoaa commented on #1412
어제 날짜의 데이터가 들어가 있는 것을 확인했습니다.

[2018-02-23 04:41] #1412 closed

[2018-02-23 04:45] pingpongworks commented on #1405
![3](https://user-images.githubusercontent.com/17288038/36578283-79f2c072-189f-11e8-83a2-c20f9055ac2a.JPG)

네,  상태를 변경할 수 있는 버튼들이 있어서 할 수는 있습니다.
그동안에는 저희가 상태를 변경할 일은 없어서 사용하지 않았을 뿐입니다.

[2018-02-23 04:49] aanoaa commented on #1405
문제가 있는건가요?
뭘 어떻게 해야 하나요?

[2018-02-23 05:11] keedi commented on #1405
일단 상황을 좀 정리해보겠습니다.

- 원래 주문서 별 상태 변화는 서울시 하청 업체가 관련해 구현과 관련해 제대로 설계하지 않았다. 따라서 열린옷장과 연동할 방법이 없었다.
- 그러므로 시스템을 자체 운영하는 업체(현재로서는 열린옷장이 유일) 역시 다른 두 업체와 마찬가지로 관리 페이지에 들어와서 직접 하나씩 클릭해서 수정하라고 업체가 그렇게 만들었다.
- 실제로 한동안 열린옷장에서 업무 마감시각이라던가 등 몰아서 수기로 일일이 선택해서 수정했다.
- 하지만 이 관리 페이지의 상태는 열린옷장 입장에서는 아무 관심이 없는 자료이며, 시스템이 없는 나머지 두 업체가 지속적으로 요청해서 서울시가 예산으로 제작해준 것이다. 과연 예산으로 두 업체의 장부 관리를 할 수 있는 시스템을 만들어주는 것이 적절한 것인가는

[2018-02-23 05:13] keedi commented on #1405
더불어 코드 번호는 가능하면 절반 이상은 안보이게 모자이크나 블러 처리하셔야 할 것 같습니다.

[2018-02-23 05:33] pingpongworks commented on #1405
내일(2017-06-06)부터 매일 AM 01:05 에 전날 방문자의 예약상태를 대여완료로 변경하게 됩니다.

말씀해주신 #1256 내용을 살펴보니, 매일 AM 01:05에 예약상태를 `대여완료`로 변경하도록 되어있다는 내용이 있습니다.  그렇다면 현재 상태에서는 당일 예약한 내역은 `예약중`으로 뜨다가 AM 01:05에 `대여완료`로 바뀌는게 당연한듯 합니다. 따로 변경 요청을 드린 적이 없으니까요. 현재의 `예약중` 상황이 이해가 되었습니다.

다만 올해는 `연장하기`의 방식이 달라졌기 때문에 고민이 생겼습니다.

2017년에는 대여자가 취날 페이지에서 연장을 한 것이 아니라 열린옷장에서 발송하는 문자URL을 통해 연장을 하면 주문서가 연장상태가 되고, 반납을 처리할 때 취업날개인 경우 옷장지기가 `연장

[2018-02-23 05:52] keedi commented on #1405
왜 이렇게 작년과 달리 관리 페이지를 계속해서 보려고 하시나 했는데, 연장하기 때문이군요. 상황은 이해했습니다. 하지만 연장하기는 관련 서류를 첨부하는 것을 빼면 동일했습니다. 제가 상황을 파악하기로 바뀐 것은 없는데, 어떻게 작년에는 사용자들이 연장을 하기 위해 열린옷장으로 연락을 한 것인가요? 열린옷장 대여자의 경우 연장하기로 갔을때 서울시측 사이트에서 연장하기가 아예 안떴나요? 아니면 연장하기가 떴지만 전화를 한것인가요? 바뀐 것이 없는데 어떻게 작년에는 사용자들이 열린옷장에 연락을 해서 연장을 시도하려고 했는지가 의문입니다.

@10001if 님께서도 기억나시는 것이 있다면 정리 부탁드립니다.

[2018-02-23 06:13] pingpongworks commented on #1405
@keedi  제가 전에 착각했었는데 작년에도 본인 취날 페이지에서 연장을 할 수 있었습니다. 그래서 연장에 대해 안내할 때, "취날 페이지에서 연장하지 말고, 열린옷장 문자 URL로 연장해달라"고 고지를 하고 있었습니다.

[2018-02-23 06:27] aanoaa commented on #1405
이메일 "취업날개의 연장하기 버튼문의" 에서 내용을 주고 받았습니다.
관련내용은 https://github.com/opencloset/opencloset/issues/1294#issuecomment-317967530 부터 정리되어 있습니다.

다른 업체는 대여자와 관리자가 모두 `연장하기`를 취업날개 사이트에서 할 수 있었으나 열린옷장은 대여일을 따로 관리하고 있어서,
관리자만 `연장하기` 버튼을 사용할 수 있게 해달라고 했던 걸로 기억합니다.

(질문에 전화로 답변이 왔던 것 같습니다.)

그 내용이 올해는 바뀌어서 대여자도 연장하기 버튼을 누를 수 있게 된 것 같습니다.

------------------------------

- 연장을 원할때는 staff 에게 문의
- 대여자가 취업날개 사이트에서 직

[2018-02-23 07:10] pingpongworks commented on #1405
@aanoaa 말씀하신 연장하기 내용은 모두 맞습니다. 작년의 경우는 대여자도 특별히 취날페이지에 꼭 가야할 이유가 없었기 때문에 열린옷장 연장 url을 통해 연장을 했고, 만들어주신 n회 연장버튼으로 해결이 되었습니다.
그런데, 올해는 면접증빙 업로드를 위해 취날 페이지에 들어갈 수 밖에 없기 때문에 (아무리 안내를 해도) 바로 옆에 있는 '연장하기'버튼을 누를 가능성이 매우 높아진 것입니다. 그래서 현재는 아예 직접 연장을 하고 난 후에 열린옷장으로 연락을 주도록 하고 있습니다.

@keedi
확실히 말씀하신 것처럼 문제의 발단은 안 보던 관리페이지를 자꾸 보려고 한 것이었습니다^^
사실 제가 관리페이지를 보려고 했던 이유는 여러가지였습니다.

1. 하루에 한번 동기화되는 것을 몰랐어서 예약내역, 대여내

[2018-02-23 11:28] pingpongworks opened #1414 "직원 예약 페이지에 `예약문자 전송 안함` 기능 추가"
스태프가 대여자 대신 예약을 하는 경우가 종종 있습니다.

급한 온라인/ 퀵 발송 또는 내부 사정으로 인해 새로 주문서를 만들어야 하는 경우
스태프가 대여자 대신 직원예약으로 진행하게 됩니다.

내부에서 예약했음을 알게 되는 예약완료 문자를 대여자가 굳이 받을 필요가 없는 경우가 있어
직원예약시 예약완료 문자 전송을 차단할 수 있는 기능이 아래와 같이
**예약문자 전송 안 함** 기능으로 있으면 좋을 듯 합니다.

위치는 '관리시스템으로 돌아가기' 바로 위면 좋을 듯 합니다. 가능할까요?

![image](https://user-images.githubusercontent.com/17288038/36592134-db1c93d6-18d7-11e8-935f-dd8fdaad95a9.png)

[2018-02-25 09:43] pingpongworks commented on #1405
2월 27일에 전체 관계자 회의가 있습니다.
아이넷에서도 참석할 예정이라 연장, 연동 관련해서 생각을 정리한 후 참석하면 좋을 듯 하여 의견을 여쭙고 싶습니다.

현재는 구축되어 있는 관리자페이지의 연장기능을 그대로 사용하여
**대여자가 면접 확인 서류를 업로드한 후 직접 '연장하기' 버튼을 눌러 연장한 후 열린옷장 쪽으로 연락을 주면
반납희망일을 수정하는 방식**으로 연장을 처리하고 있습니다.

    이럴 경우, 우리에게 숙제로 남는 부분은 2가지 일 듯 합니다.

    1. 연락을 제대로 주지 않을 경우 취업날개 연장인 줄 모르고 연체로 처리를 하게되는 문제 >> 이럴 경우 대여자는 연체문자를 받고 불쾌할 것이고, 우리는 쿠폰이 발행되지 않은 상태로 주문서를 처리할 가능성이 커집니다.

    2.

[2018-02-25 17:00] keedi commented on #1405
@aanoaa
`visitor.event`의 `seoul-2018` 과 `extra-seoul-2018` 의 차이는 무엇인가요? 마찬가지로 `seoul-2017`과 `extra-seoul-2017`의 차이는 무엇인가요?

[2018-02-26 02:40] aanoaa commented on #1405
extra 붙은거는 연장하기을 사용한 횟수입니다.

[2018-02-26 02:52] keedi commented on #1405
1. 쿠폰 이름이 seoul-2018-1 이지만 해당 테이블은 seoul-2018 과 extra-seoul-2018 값을 사용하는 것인가요?
2. 그러면 연장하기의 경우 coupon 테이블에 쿠폰을 등록하지 않고 visitor 테이블에 값만 더해주고 있는 것인가요?
3. 상기 동작은 seoul 쿠폰 한정인가요? 모든 쿠폰에 대한 것인가요?

[2018-02-26 03:40] aanoaa commented on #1405
네 맞습니다.

연장하기의 경우 추가 쿠폰이 발급되지 않습니다.
취업날개통계와의 수치를 맞춰주기 위해서 visitor 에 값만 더해주고 있습니다.

extra 는 연장하기 버튼을 누를때마다 카운트가 올라갑니다.
그 후에 일일통계에 합산됩니다.

예로 시간표상에 쿠폰 사용이 10회 였지만 통계상에 13회로 되어 있다면, 연장하기 3회가 더해진 값입니다.

취업날개에서만 한정됩니다.

[2018-02-26 04:53] aanoaa commented on #1405
이렇게 사용하면 취업날개 쿠폰을 이용한 대여자 수에 차이가 발생할 수 있습니다.
연장하기를 이용한 수치를 열린옷장 통계에서는 확인할 수 없습니다.
연장1회는 대여1회와 마찬가지인데 정산할때 문제가 있을 수 있겠네요.

[2018-02-26 05:09] keedi commented on #1405
현재 visitor 에서 통계 부분을 쿠폰 이름과 별개로 별도의 아이디를 사용하고 있습니다. 일단은 서울 쿠폰에 한정되었다는 점만 기억하고 넘어가지만, 반복될 경우 혼란이 생길 여지가 있습니다. 현 시점 이후의 등록되는 쿠폰의 경우 쿠폰 이름과 동일하게 visitor에서 사용해야 할 것입니다. 다른 쿠폰의 경우 coupon 테이블의 조작 만으로 통계를 구할 수 있으나 어찌됐든 현 시점에서 연장시 쿠폰을 발급하지 않기 때문에 서울 쿠폰의 경우 통계는 coupon 테이블로는 확인할 수 없고 visitor 테이블을 참고해야 합니다. 이점 역시 혼란의 여지는 있으나 일단 서울 쿠폰에 한정되었다는 것만 확인한 상태로 일단 두도록 합니다.

더불어 연장 연동 작업은 지난주 부터 진행중입니다.

[2018-02-26 05:59] aanoaa commented on #1405
요구하는 통계계산이 복잡해지고 쿠폰상태등의 변수에 영향을 받아서 고정된 수치가 나타나지 않는 문제를 해결하고자
하루 한번 그날의 방문자수(쿠폰사용횟수)를 연령대별/성별로 카운트해서 넣어주고 있습니다.

취업날개의 쿠폰명이 바뀌었기 때문에 방문자수 통계의 이름이 바뀐 것이지 같은 이름을 사용합니다.

coupon 테이블을 가지고 통계를 구해서는 안됩니다.
쿠폰의 상태등의 변수에 영향을 받아서 계산하는 시점에 따라 수치가 달라집니다.

[2018-02-26 07:04] keedi commented on #1405
서울 쿠폰의 쿠폰 명이 바뀐지는 꽤 되었을텐데요. seoul-2017-2는 이미 작년 초에 사용한 것이고 seoul-2018-1 역시 올해 오픈 기준 시작할 때 처음부터 이름이 정해져있었습니다.

계산이 복잡하거나 쿠폰 상태등에 따라 통계 값이 달라지는 것은 이상한 점이 아닙니다. 당연한 일인 것 같구요. 다만 성별이라던가, 세대별 자료등 열린옷장이 원하는 값을 뽑아내는데 어려움이 있어 그렇게 진행하신 것으로 이해하고 있습니다.

정리하면 현 시점 기준 연장이란 기능은 서울 쿠폰만 사용하는 기능이며, 통계는 서울 쿠폰에 한해 visitor 테이블을 참조해서 통계 결과를 뽑아내고 있습니다. 기록차 정리해둡니다.

[2018-02-26 07:14] aanoaa commented on #1405
통계 값이 달라지면 요금을 정산할 수 없어서 이렇게 진행했습니다.
작업하면서 취업날개 뿐만 아니라 모든 이벤트 및 열린옷장의 온/오프라인 방문자 미방문자수도 visitor 를 사용하도록 바꾸었습니다.

[2018-02-26 08:56] pingpongworks opened #1415 "주문서 반납 확인 메모의 가독성을 높이고 첫 화면에서 열람 가능하게 함"
![default](https://user-images.githubusercontent.com/17288038/36659562-3748d0ce-1b18-11e8-9b0e-8f04372b00bf.JPG)

- 반납시 꼭 확인이 필요한 내용들을 주문서 반납확인메모에 적어 놓고 있는데요,
현재의 반납확인메모가 가독성이 떨어져 급하게 반납처리를 하다보면 놓치는 경우가 있습니다.
- 최근 서울시 쿠폰 때문에 환불, 신분증 확인 등의 이슈가 걸려서 반납확인메모의 중요성이 높아졌습니다.
- 놓치는 경우를 방지할 수 있도록 주문서 들어가기 전에도 반납확인메모를 인지할 수 있고, 주문서 들어가서도 눈에 잘 띄면 좋겠습니다. 아래와 같이 수정 요청드립니다.

**[주문서 들어가기 전에 '반납확인메모' 삽입]**
![2](ht

[2018-02-27 03:02] pingpongworks opened #1416 "연장중 주문서 목록 열람시 특정일이 아닌 전체를 열람하게 함"
**현재 수지니 주문서에서 `연장중`을 누르면 다음과 같이  /order?status=extension 로 이동이 됩니다.**

![default](https://user-images.githubusercontent.com/17288038/36708271-94b670c0-1bb5-11e8-9140-3a4d8e0b09fd.JPG)

**현재의 URL에는 예약일이 입력되어 있지 않아 연장 주문서가 보이지 않습니다.
/order?booking_ymd=all&status=extension 로 수정이 필요합니다.**

현재 7일 이상 연장 중인 주문서가 8건 있는데, 주문서가 보이지 않아 관리를 하지 못하고 있습니다.
url 주소 수정 부탁드립니다~ @keedi

[2018-02-27 03:30] keedi commented on #1416
원래는 특정 날짜의 목록을 보는 것을 원하셨기 때문에 전체를 보려면 모든 항목에 다 수기로 `&booking_ymd=all`을 붙여야 하는데, 수정했었나보네요? 요구사항이 있었었나봅니다. 흠. 일단 원하시는대로 고쳐질때까지는 주소 끝에 `&booking_ymd=all` 을 붙여서 사용하시면 됩니다.

[2018-02-27 04:52] pingpongworks commented on #1416
네~ 알겠습니다. 감사합니다^^

[2018-02-28 07:22] 10001if commented on #1412
@aanoaa 아직 한명도 이용하지 않아 확인이 되지 않겠지만, 공개 URL 메일로 전달 부탁드릴게요~

[2018-03-02 03:05] keedi commented on #1415
주문서 목록에 삽입해달라는 상기 부분의 경우 이미 반납 확인 메모가 있을 경우 비고 란에 표시하고 있습니다. 그럼에도 불구하고 필요한 기능이신지요?

![screenshot-staff theopencloset net local 10301-2018-03-02-12-03-50](https://user-images.githubusercontent.com/138451/36881529-eba7853c-1e11-11e8-8281-d212933c578a.png)

[2018-03-02 03:09] keedi commented on #1415
그리고 상기 화면 캡쳐하신 부분을 보면 주문서 목록이 아니라 **첫 화면**의 의류 바코드 찍은 후 목록 페이지 입니다. 주문서 목록 페이지 말고 **첫 화면**에서 반납 확인 메모를 확인하시고 싶다는 의미인가요?

[2018-03-02 03:35] keedi commented on #1415
변경된 화면은 다음과 같습니다.

주문서 상세 페이지입니다.
![screenshot-staff theopencloset net local 10301-2018-03-02-12-23-39](https://user-images.githubusercontent.com/138451/36882268-2a161d48-1e16-11e8-9cbc-9e3bb860aa66.png)

첫 화면입니다.
![screenshot-staff theopencloset net local 10301-2018-03-02-12-24-57](https://user-images.githubusercontent.com/138451/36882271-2e17c69e-1e16-11e8-9355-df2c76468897.png)

[2018-03-02 03:37] keedi commented on #1415
#1405 작업으로 인해 현재 브랜치에서 서비스 중입니다. 배포를 위해서는 rebase 및 강제 pull 등이 필요하기 때문에 가능하면 저녁 마감 시간 이후에 배포할 예정입니다.

[2018-03-02 03:38] keedi commented on #1415
작업 완료했습니다. 화면 캡쳐 기준으로 피드백이 있으시다면 이슈 다시 열고 커멘트 달아주세요. 금일 배포 완료 후 관련해 변경 사항은 별도의 이슈를 열어주세요.

[2018-03-02 03:38] #1415 closed

[2018-03-02 03:47] keedi commented on #1416
어라? 마일스톤을 변경하신 이유가 있으신가요?

번호가 낮을 수록 처리 순서가 앞으로 당겨진다는 의미입니다만... 일단 작업중이므로 다시 변경해놓겠습니다.

[2018-03-02 03:56] keedi commented on #1416
작업 완료했습니다.

#1405 작업으로 인해 현재 브랜치에서 서비스 중입니다. 배포를 위해서는 rebase 및 강제 pull 등이 필요하기 때문에 가능하면 저녁 마감 시간 이후에 배포할 예정입니다.

[2018-03-02 03:56] #1416 closed

[2018-03-02 10:11] pingpongworks commented on #1416
@keedi 아, 제가 마일스톤 변경한 적이 없는데요? 마일스톤은 전혀 감이 없어서 손대고 있지 않거든요^^ 배포된 후 확인해보겠습니다. 감사합니다^^

[2018-03-02 10:16] pingpongworks commented on #1415
@keedi  첫 화면 맞습니다. 필요한 작업 그대로 해주셨습니다. 감사합니다^^

[2018-03-02 14:53] keedi commented on #1416
배포 완료 되었습니다.

[2018-03-02 14:54] keedi commented on #1415
배포 완료되었습니다.

[2018-03-03 05:51] keedi opened #1419 "시간표에서 15개의 탈의실을 지원함"
https://github.com/opencloset/monitor/issues/172

@pingpongworks wrote:

[2018-03-03 05:53] keedi commented on #1419
가능하면 커밋시 이슈 생성 후 연결 부탁드립니다.

[2018-03-03 05:54] keedi commented on #1419
9fa7cd8c26c0695068a108c45eaf7431cc9cbc8a

[2018-03-03 06:02] keedi commented on #1419
서버에 배포 완료 했습니다.

[2018-03-03 06:02] #1419 closed

[2018-03-03 06:03] keedi commented on #1419
시간표에서 새로고침 후 상태변경을 시도하면 탈의실 15까지 보일 것입니다.

[2018-03-03 06:04] keedi commented on #1419
데이터베이스 상에는 탈의실이 20개까지 선 입력을 했으므로 데이터베이스 상 수정할 내용은 없습니다.

[2018-03-03 10:55] pingpongworks commented on #1419
preparation과 dashboard, 시간표에서 문제없이 잘 작동했다고 근무자가 확인해주었습니다. 빠르게 작업해주셔서 감사드립니다^^

[2018-03-06 05:05] pingpongworks opened #1420 "서울시 쿠폰 이용자가 구두/타이만 대여할 경우 의류준비로 바로 넘어가는 것을 막을 수 있는 방법이 필요함"
현재 구두/타이만 대여하는 경우, 방문예약확인을 하면 치수측정 단계를 건너뛰고 의류준비로 바로 넘어오도록 기능 설정이 되어 있습니다.

올해 모든 서울시쿠폰 예약자는 이용대장 기입을 해야하므로 치수측정 단계를 건너뛰면 안되는 상황으로 바뀌었습니다.

    구두/타이만 대여하는 예약자 중,
    서울시쿠폰 이용자의 경우에는
    의류준비로 바로 넘어가지 않도록
    수정 부탁드립니다.

@keedi 모니터 이슈인지, 스태프 이슈인지 판단을 잘 못하겠어서 일단 스태프에 올렸습니다.

[2018-03-06 06:07] keedi commented on #1420
쿠폰이 연관되는 경우는 번거로우셔도 쿠폰 라벨 선택 부탁드립니다.

말씀하신 내용 우선 확인하고 내용 정리하겠습니다.

[2018-03-06 06:11] keedi commented on #1420
#1068 이슈 확인 부탁드립니다.

제가 당시 처리하고 완료한 내역을 제대로 이해한 것이 맞다면, 자동으로 넘어가지는 않습니다. 담당자가 화면에서 버튼 클릭을 할 때만 넘어갑니다.

![screenshot-monster silex kr 10301-2017-02-15-21-23-09](https://cloud.githubusercontent.com/assets/138451/22975006/575106de-f3c8-11e6-9e16-55bfcb9759a4.png)

버튼 자체가 의류준비로 넘기는 기능인데 이 버튼을 누르지 않으면 되는 것 아닌지요? 일단 상기 이슈 확인해주시고 자세히 상황 설명 부탁드립니다. 또는 이 문제가 아니라 상기 이슈와 별개의 상황이라면, 해당하는 내용도 설명 부탁드립니다.

[2018-03-06 06:32] pingpongworks commented on #1420
@keedi 저도 올리기 전에 #1068 이슈확인해보았습니다. 이 이슈는 무인예약확인으로 바뀌기 전의 버전입니다.

이후에 무인 예약확인 컴퓨터가 생기면서 스태프가 예약확인을 할 필요가 없이 대여자가 직접 방문예약확인을 하게 되었기 때문에, 대여자가 예약확인을 하면 자동으로 의류준비로 넘어가도록 바뀌었습니다.

아마도 최종적인 내용이 git에 정리가 되어 있지 않거나, 못 찾았거나 인 거 같습니다.

저도 이 이슈를 보고 혹시나 싶어서 제 이름으로 구두만 대여하는 예약을 해서 확인해보았는데, 현재 위의 `대여`화면에서 넘기는 기능은 구현되어있지 않습니다.

[2018-03-06 07:17] keedi commented on #1420
그러면 확인하자면, 현재 무인 예약 단말기에서 예약확인을 했을때 구두나 타이를 대여하는 대여자의 경우 직원의 개입이 전혀 없이 바로 의류 준비로 넘어가는데, 이것 자체는 원하는(의도된) 동작이지만, 서울시 쿠폰 사용자의 경우 이렇게 바로 넘어가면 곤란하다는 말씀이신지요?

[2018-03-06 07:35] pingpongworks commented on #1420
@keedi 네! 그렇습니다.

[2018-03-06 07:44] keedi commented on #1420
번거로우시겠지만 본 이슈를 monitor에 새로 등록해주셔야 할 것 같습니다. 처음에는 staff 화면에서 버튼을 눌러서 상태를 변경하는 이슈라고 생각했는데 말씀하신 것처럼 무인 예약 이후는 당시 구현한 버튼을 사용하지 않으시는 것 같네요. 따라서 monitor 쪽 이슈에 등록 부탁드립니다. 등록 이후 본 이슈는 직접 닫아주시면 됩니다.

[2018-03-06 07:47] pingpongworks commented on #1420
네~ 알겠습니다. 모니터로 이동하겠습니다^^

[2018-03-06 07:47] #1420 closed

[2018-03-06 08:03] pingpongworks commented on #1254
**user/91883 팔길이 평균 오류**
키 164cm / 몸무게 89kg 체형에 비해 팔길이 평균 47.5cm 수치가 너무 작음

[2018-03-06 08:05] pingpongworks commented on #1254
**user/90684 엉덩이둘레 평균 오류**
키 162cm / 몸무게 56kg 체형에 비해 엉덩이둘레 평균 104.0 cm 수치가 너무 큼

[2018-03-06 08:12] keedi commented on #1420
https://github.com/opencloset/monitor/issues/175

[2018-03-08 04:33] pingpongworks commented on #1415
확인했습니다. 감사합니다^^

[2018-03-08 04:34] pingpongworks commented on #1415
@keedi 제가 테스트해보고 확인한 경우에는 `확인요망`라벨 제거하면 되나요? 아니면 그냥 두면 되나요?

[2018-03-12 02:41] pingpongworks opened #1421 ""시간표"에는 예약기록이 있는데, "예약"에 없는 오류"
**orders/94731**
3월 12일자 예약자입니다.
예약을 취소해야하는 상황이라 취소하려고 하니
`시간표`에는 있는데 `예약`페이지에는 이름이 없어서 취소할 수가 없습니다.
처음 보는 오류라서 확인부탁드립니다.

[2018-03-12 04:23] keedi commented on #1421
일단 상기 내용 확인했습니다.

우선 상황은 다음과 같습니다.

해당 예약자의 경우 열린옷장에 기록한 성별은 여성인데, 방문 예약시 기록한 성별은 남성입니다. 이로 인해 열람이 안되는 것입니다. 우선 해당 사용자의 성별이 무엇인지 궁금하고, 예전의 경우 사용자 등록정보와 다를 경우 예약을 거부했지만, 예전 이슈(@1263)에서처럼 취업날개에서 다른 정보를 이용해서 예약을 시도한 경우 성별 문제가 발생할 수 있습니다. 정확히 어떤 경우인지는 더 확인해야하겠지만 우선 해당 예약자의 정확한 성별 정보부터 확인해주시면 좋을 것 같습니다.

더불어 해당 예약자가 직접 열린옷장을 통해 예약을 했는지, 아니면 취업날개 사이트를 통해 예약했는지, 담당자가 대신했는지 등의 정보도 확인 부탁드립니다.

[2018-03-12 06:30] pingpongworks commented on #1421
해당 예약자의 성별은 여성이 맞습니다.

예약되어있던 당시에 사용자의 실수로 인해
사용자정보에 `남성`으로 되어있어서
담당자가 `여성`으로 수정을 했다고 합니다.

특이사항을 한가지 더 말씀드리자면,
원래는 해당 예약자의 동생(orders/94744)이 취날 이용을 하려고 취날홈에서 예약을 한 후
열린옷장 방문시간 예약을 하려고 하니까 뭔가 계속 에러가 나서
언니인 94731의 이름으로 열린옷장 방문시간 예약을 한 것이라고 합니다.

이야기를 들어본 제 추측으로는 취날홈에서는 동생 정보로 예약을 하고
열린옷장으로 넘어와서는 언니 정보로 수정해서 예약하면서
뭔가 버그가 일어난거 아닌가 생각이 듭니다.

취날홈에서의 예약정보를 열린옷장으로 넘어오면서 수정하는게 가능한지
테스트 한번 해볼까 합니다. 테스트 해보고

[2018-03-12 09:30] pingpongworks commented on #1421
@keedi 테스트해보니까 취날홈에서 예약한 후 열린옷장 시간예약을 넘어오면 이름, 전화번호, 이메일은 수정할 수 없도록 되어있습니다. 상세주소와 출생년도만 수정할 수 있네요. 제 추론은 불가능한 것이었네요.
일단 워낙 특이한 케이스라 문제해결이 당장 필요하지는 않다고 판단됩니다. 제 생각에 다음에 또 같은 케이스의 오류가 있으면 좀더 자세히 상황을 파악해서 다시 확인 요청드리는게 좋을 것 같습니다.

[2018-03-15 05:53] aanoaa opened #1422 "2017년도 일일 예약인원이 115명을 넘는 날 통계"
2017년 1월 1일부터 12월 31일까지 예약인원이 115명 넘은 날이 총 몇일인지 확인 부탁드려도 될까요? 지금 직접 고르는 방식으로 바뀌었는데 이 형태로 매출 상승이 얼마나 가능할지 가늠해보고 싶어서요.. 예약인원이 가득 찬 날 기준으로 체크해야 상승분을 계산할 수 있을 것 같거든요.

[code]

총 일수도 필요한데, 월별, 요일별로도 확인해보고 싶어서요..

[code]

이렇게 나오면 더 정확하게 확인 할 수 있을 것 같아요~
감사합니다~!

[2018-03-15 05:57] aanoaa commented on #1422
일일 방문자수를 따로 저장해두고 있습니다.
`visitor` 테이블에서 알아볼 수 있습니다.

[code]

[2018-03-15 05:57] #1422 closed

[2018-03-15 05:59] aanoaa commented on #1422
요일입니다.

1: Sun
2: Mon
...
6: Sat

[2018-03-15 06:00] 10001if commented on #1422
@aanoaa 형석님, 110명 기준으로 자료를 한번 더 요청드려도 될까요? 4명 정도는 예약을 취소할 수 있을 것 같은데요. 너무 타이트하게 숫자를 잡은 것 같아요.

[2018-03-15 06:00] aanoaa commented on #1422
[code]

[2018-03-15 06:01] 10001if commented on #1422
감사합니다! 잘 활용하겠습니다.

[2018-03-20 06:03] pingpongworks commented on #1398
1>
그 사이에 https://github.com/opencloset/monitor/issues/168 를 통해
의류준비 중에 `바로 입고 가려는 대여자`를 놓치지 않기 위한 `입고감` 이슈가 해결되었습니다.

사용자정보에서 `입고감`을 선택하거나
preparation 화면의 예약시간을 클릭하면
아래 이미지와 같이  `입고감`으로 표시됩니다.

![image](https://user-images.githubusercontent.com/17288038/37637941-c5b52cc2-2c4d-11e8-9dbc-0283d5dd0cd7.png)

2>
이에 따라 위에서 요청드렸던 내용을 다시 한번 요청드리고자 합니다.

현재의 사용자정보 "착용여부" 항목을 수정해서
 `입고감` `기록요망` 중 선택할 수 있도록

[2018-03-20 08:02] pingpongworks opened #1423 "포장 품목이 중복으로 찍히는 현상"
![default](https://user-images.githubusercontent.com/17288038/37642104-4d4efabc-2c5f-11e8-9980-22d46f316b1b.jpg)

대여품목을 포장할 때 바코드를 찍고 난 후 주문서를 보면
위 이미지와 같이 중복으로 찍혀 금액도 2배로 가산되는 경우가 종종 발생합니다.

저희가 추정하는 이유는 다음과 같습니다.

    1. 인터넷 연결이 고르지 못해서
    2. `선택한 항목을 대여합니다` 버튼을 중복으로 여러번 눌러서
    3. 프로그램상의 오류로

정확한 원인이 궁금하기도 하고, 바쁠 때는 결제담당자가 혼란을 겪게 되기도 하여 개선되면 좋겠습니다.

**중복된 품목이 한 주문서에 포함될 수 없도록 한다면 발생하지 않을 듯하여 논

[2018-03-20 09:38] pingpongworks opened #1424 "대여이력이 정상적으로 뜨지 않는 오류"
orders/95715 사용자의 경우 여러번 대여를 하였던 이력이 있어
대여횟수 옆에 `00전 대여`라고 대여했던 기간이 떠야 정상인데 뜨지 않고 있습니다.
확인 부탁드립니다.

![image](https://user-images.githubusercontent.com/17288038/37646652-8d96cab0-2c6d-11e8-8c97-b4192f7ee921.png)

[2018-03-20 09:47] pingpongworks commented on #966
연체 중인 대여자가 반납을 하지않고(연락도 받지않고)
계속 연장만 하는 악성사례가 늘고 있습니다.

연체 중인 대여자가 연장을 해버리면,
연체했던 기록이 사라지고 연장으로 주문서가 처리되어
연체 행적을 따지려고 해도 할 수 가 없게 됩니다.

**연체 중인 자가 문자url을 통해 연장을 하려고 할 때**

    "귀하는 연체 중이므로 더 이상 대여기간을 연장할 수 없습니다.
    금일 중으로 열린옷장 배상규정에 따른 연체비 납부와 의류 반납을 요청합니다."

**와 같은 경고 공지가 뜰 수 있도록 부탁드립니다.**

[2018-03-20 23:48] aanoaa commented on #1398
`does_wear` 가 `0 or NULL` 이면 false, 그밖에는 true 인데,
1, 2 로 구분하면 schema 변경없이 사용할 수 있을 것 같습니다.

[2018-03-21 13:15] aanoaa commented on #1398
`NULL or 0`: 입고가지 않고 기록요망 아님
`0b01`: 입고감
`0b10`: 기록요망
`0b11`: 입고가고 기록요망

binary int 로 취급해서 활용하면 문제가 해결될 것 같습니다.

[2018-03-21 15:16] aanoaa commented on #1398
@keedi `develop` 브랜치에 기능 구현하였습니다.
서버에 반영 부탁드립니다.
현재는 `master` 브랜치로 운영되고 있지 않아서 어떻게 해야될지 모르겠네요.
의존성 모듈은 이미 설치하였고,

    $ grunt

만 해주시면 됩니다.

[2018-03-21 15:19] aanoaa commented on #966
연장하는 시점에 이미 연장중 or 연체중을 판별할 수 있는지 알아보고 판별할 수 있다면
어느 상황에서 더이상 연장을 할 수 없게 해야 하는지 명확히 해야 합니다.

[2018-03-21 15:27] keedi commented on #1398
가능하면 체인지로그는 깃헙 이슈의 제목을 그대로 써주세요. 상세한 내용이 필요하다면 해당 항목은 하부 목록으로 적으시면 됩니다.

[code]

[2018-03-21 15:37] keedi commented on #1398
실서버에 배포 완료 후 `grunt` 실행 및 서비스 재기동 완료했습니다. 릴리스 전이므로 정상 동작하지 않는 경우 본 이슈를 다시 열어서 기록을 남겨주세요. 이슈 닫습니다.

[2018-03-22 01:19] aanoaa commented on #966
연체일과 연장일 모두 반납희망일을 기준으로 계산합니다.
연체중이던 주문서를 연장하면 반납희망일이 수정되어서 연체가 아닌 연장이 됩니다.

    연체일: 오늘 - 반납희망일
    연장일: 반납희망일 - 반납예정일

연장버튼을 누르는 시점에 연체인지 아닌지 판별할 수 있습니다.
이미 연체가 되어버린 경우라면 연장을 할 수 없게 만들 수 있습니다.

하지만 연체가 되기 전이라면 무한연장이 가능합니다.
연장을 하는 시점에 연체가 아니라면 연장을 허용해야합니다.
하지만 이때에도 몇일째 연장중인지는 알 수 있습니다.
연장후 연장을 방지하기 위해서라면 이미 연장중이라면 더이상 연장을 할 수 없도록 할 수 있습니다.
혹은 n일 이상 연장은 더이상 연장이 될 수 없도록 할 수도 있습니다.

연장일을 선택할때에 최대 몇일

[2018-03-22 02:04] pingpongworks commented on #966
@aanoaa
최근 내부 논의중인 이슈가 '장기 대여'에 대한 것입니다.
'연장은 최대 n일까지 가능하다'는 `장기대여는 최대 n일까지 가능하다' 와 연관되어있습니다.
내부 논의가 끝나는대로 공유하겠습니다.

[2018-03-22 03:29] keedi commented on #966
애초에 사용자의 자의적인 연장 신청 자체가 가능하게 하는 것이 옳으냐 부터 다시 검토하시는 편이 좋을 것 같습니다. 이것이 해결되지 않으면, 번거롭고 복잡한 룰만 많아지는 것 같은데요. 기본적으로 의류를 대여할때 선불 시스템인데 지금 사용하고 있는 연장은 미납 상태에서의 연장입니다. 요금을 지불한 뒤 연장도 아닌 것이니 당연히 사용자 입장에서는 이 룰 대로라면 끝도 없이 연장할 수 있고, 이것을 막으려면 이런 경우는 안되고 저런 경우는 안되고 등등 복잡한 경우만 늘어나는 것으로 보입니다.

연장한다면, 명확하게 비용을 지불(결제)하고, 그것이 확인되었을때 연장이 가능하게 하는 것이 원천적으로 맞지 않나 판단됩니다. 잘 논의해보시고 알려주세요.

[2018-03-22 03:32] keedi commented on #966
더불어 본 문제가 해결되기 전까지 연장 요청이 있었던 주문서 목록은 모두 뽑아내서 관련해 부정 사용이 있는 주문서가 있는지는 수기로 확인을 해서 처리하는 방법이 있을 것입니다. 해당 주문서 목록이 필요하다면 기간과 조건 등을 지정해서 알려주세요. 조건을 지정하기 어렵다면 특정 기간 사이에 연장 신청을 수행한 것으로 사료되는 모든 주문서를 추출해서 드릴 수는 있습니다. 이경우 반납된 경우도 있을 수 있고 반납되지 않은 경우도 있을 수 있겠죠. 어찌됐든 필요하다면 알려주세요. 필요하지 않으시면 요청하지 않으셔도 됩니다.

[2018-03-22 07:09] pingpongworks commented on #966
@keedi 신경써주셔서 감사합니다.
지나간 연장 요청 주문서 목록 중 부정사용 주문서를 따로 확인할 필요까지는 없을 듯 합니다. 사실상 확인이 되어도 반납하지 않고 연장만 하고 있는 경우에 대부분 연락도 받지 않기 때문에 저희가 할 수 있는 조치가 거의 없습니다. 마음만 아플 뿐이죠ㅜㅜ

사용자의 자의적인 연장 신청 자체가 가능한게 옳으냐의 문제는 대부분의 대여자는 연장 기능을 악의적으로 사용하고 있지는 않다고 판단됩니다만, 담당자들의 의견은 어떤지 한번 들어보겠습니다.

@aanoaa 말씀처럼 1년 뒤까지 연장이 가능한 것은 생각해볼 필요가 있을 듯 합니다. 오늘 아침회의에서 논의했던 내용이 '한달 이상의 장기 대여'가 열린옷장의 취지 상 필요한가 맞는가 였습니다. 한달 이상의 대여가 되면 대여료가 부담

[2018-03-22 07:49] pingpongworks commented on #1423
일단 버튼을 여러번 누르는 테스트를 해보았는데, 중복으로 찍히는 현상을 재현하기는 어려웠습니다.

[2018-03-22 08:00] pingpongworks commented on #1398
테스트했습니다. 잘 사용하겠습니다. 감사합니다~

[2018-03-23 05:53] 10001if opened #1425 "쿠폰: anyang201801 제한 해제"
아이디: anyang201801
이름: anyang201801
발급: 300
제한: 300
유형: suit
사용기간: 2018-12-31

으로 설정되어 있는 anyang201801 쿠폰의 제한 개수 삭제를 요청드립니다.

안양시에서 추경예산 편성을 통해 2018년 한 해 동안은 이용이 문제 없도록 한다는 답변을 받았습니다.
따라서, 2018년에 사용한 쿠폰 수를 모두 정산받을 수 있을 것으로 예상되므로

현재 설정되어 있는 제한 기능은 삭제해주시기 바랍니다.

[2018-03-23 12:40] pingpongworks opened #1426 "과거 주문서의 착용일이, 최종 대여했던 착용일로 바뀌는 오류"
![default](https://user-images.githubusercontent.com/17288038/37829368-1c6563a2-2ee2-11e8-83c9-20aa510042db.jpg)

`orders/47873`의 주문서에서 보여지는 바와 같이
2016년 12월의 주문서인데, 최근 대여했던 2018년 3월 23일로 착용일이 변경되어 있습니다.
여러번 대여했던 사용자의 다른 주문서들에서도 같은 현상이 확인되었습니다.

모든 주문서의 착용일이 최종 대여했던 주문서의 착용일로 덮어씌워지는 듯 합니다.
오류 수정 부탁드립니다.

[2018-03-23 12:52] pingpongworks opened #1427 "연체/연장료가 0원인데 납부방법이 미납인 경우 미납 라벨 제거"
#1426 에서 언급했던 `orders/47873 `의 주문서에는 또 하나의 오류가 있습니다.

정확한 상황은 알 수 없으나, 미납금이 없는데 이름 옆에 `미납`으로 표시되어 있습니다.

원래 미납금이 있었는데, 뭔가 잘못된 조치로 금액만 없어진 건지 현재로서는 원인파악을 정확히 알  수 없습니다.

원인에 대해서는 같은 상황이 또 발견된다면 자세히 파악해보겠습니다.

일단 부탁드리고 싶은 것은 대여하러 방문할 때마다 `미납`때문에 논란이 되지 않도록 미납 버튼 삭제 요청 드립니다.

현재 프로그램에서는 완납으로 처리할 방법을 못 찾았겠습니다.

[2018-03-24 00:49] aanoaa commented on #1427
미납인지 아닌지 판별하는 것은 주문서에 `연체/연장료 결제방법` 에 `미납` 이라고 적혀있는지를 보는 것 입니다.
실제로 이 주문서의 경우 `미납`으로 적혀있습니다.
하지만 연체/연장료를 계산해보면 `0`원 입니다.
(이부분 때문에 주문서의 `연체/연장료 결제방법`이 `해당사항없음` 으로 나타납니다)

    대여일:    2016-12-18
    반납예정일: 2016-12-21
    반납희망일: 2016-12-21
    반납일:    2016-12-22

날짜상으로 보면 1일 연체 했습니다.
연체료가 있어야 할 것 같은데 0 원입니다.

연체료/연체일을 계산하는 방법은 복잡한데, 이경우에는 반납된 주문서의 룰을 따라서 상세대여 항목을 참고해서 계산합니다.
`stage` 가 `1` 인 항목이 있어야 할

[2018-03-24 01:10] aanoaa commented on #1427
비슷한 상황의 주문서들 입니다.

[code]

오래된 데이터처리의 문제라고 생각했는데 최근에도 발생하고 있습니다.
새로운 결제/반납 화면은 `2017-06-24`(#1277) 에 배포되었는데 그 이후에 건수가 더 많습니다.
가장 최근 주문서를 살펴봤는데 반납방법은 기록에 없는데 `미납` 입니다.

`연체/연장료`가 `해당사항없음` 이라면 `연체/연장료 결제방법` 을 `미납` 으로 선택할 수도 없습니다.
데이터를 변경하기 전에 좀 더 살펴봐야 하겠습니다.

[2018-03-24 01:17] aanoaa commented on #1426
주문서의 착용일과 사용자정보의 착용일이 있는데, 사용자정보의 착용일을 주문서에서 나타내고 있습니다.
2017-05-30 이후에는 주문서에 의류착용일을 입력하고 있지 않았습니다.
관련된 내용을 이슈에서도 찾지 못하겠습니다. #1277 을 진행하면서 빠트린 부분이 아닌가 싶습니다.

의류착용일은 방문예약할때에 선택하는 값이니까 방문예약할때에 의류착용일을 주문서에 기록하고,
주문서에서는 사용자정보의 의류착용일 대신에 주문서의 의류착용일을 나타내면 될 것 같습니다.

[2018-03-24 01:58] aanoaa commented on #1427
#1360 에서도 보고된 내용입니다.

92603 주문서의 경우 최근 변경된 시간이 `2018-02-22 09:39:47` 입니다.
추측컨대,

- 택배 반납 혹은 반납함에 들어있던 의류였고, 반납예정일(2018-02-21)이 지난 다음날 오전(2018-02-22)에 확인
- 연체료가 있는데 택배라서 연체료 납부방법을 `미납`으로 수정
- 반납함 혹은 택배반납 이라서 `택배발송/반납일` 을 수정
- 연체료가 0원으로 설정됨
- 전체반납

이렇게 하면 연장/연체료는 0원 이지만 `미납` 라벨이 붙습니다.

[2018-03-24 01:59] aanoaa commented on #1427
반납일을 기준으로 연체/연장료를 계산하는데 이렇게 되면 반납일을 하루 앞당겨야 해서,
반납일과 반납처리일을 분리할까 했지만 아직 처리되지 않았습니다.(#1213)

[2018-03-24 02:04] aanoaa commented on #1427
전체반납 혹은 부분반납할때에 연체/연장료가 0원인데 납부방법이 `미납` 이라면,
위와 같은 패턴으로 인해 잘못 기록된 것이라고 판단하고 `미납`을 제거하는 방법이 있을 수 있습니다.

[2018-03-24 03:11] pingpongworks commented on #1427
내부적으로 정확한 상황 파악이 덜 된 것같아 이슈 삭제 하겠습니다.

[2018-03-24 03:16] aanoaa commented on #1427
- 주문서내의 `미납` 라벨의 판별식을 변경하거나

or

- 잘못된 패턴의 반납에 대해 `미납` 라벨이 붙지 않도록 처리
- 미납이 아님에도 미납으로 인식되는 주문서들의 `미납` 라벨을 제거

두가지 방법이 있습니다.

주문서내의 `미납` 라벨의 판별식을 변경하도록 하겠습니다.
데이터의 변경도 필요없고 미납 주문서 목록을 뽑는 판별식과 동일합니다.

[2018-03-24 03:32] aanoaa commented on #1427
서버에 적용하기전에 [OpenCloset-Common-v0.1.7.tar.gz](https://cpan.theopencloset.net/STAFF@THEOPENCLOSET.NET/OpenCloset-Common-v0.1.7.tar.gz) 을 설치해주어야 합니다.

위에 뽑은 주문서 목록의 데이터를 변경해줄 필요는 없습니다.

[2018-03-24 03:33] aanoaa commented on #1427
@keedi 님이 적용해주시면 서버에서 확인하고 이슈 닫도록 하겠습니다.

[2018-03-24 03:54] pingpongworks commented on #1427
판별식을 변경한다는 의미를 제가 정확히 이해하지는 못했습니다만, 결과적으로는

- 택배 반납 혹은 반납함에 들어있던 의류를 반납예정일이 지난 다음날 오전에 확인하고
- 연체료 납부방법을 미납으로 수정한 후
- 반납함 혹은 택배반납 이라서 택배발송/반납일을 원래 반납예정일로 수정하더라도
-` 미납` 버튼이 붙지 않는다

라는 것인가요? @aanoaa

[2018-03-24 03:57] pingpongworks commented on #1427
이 부분도 궁금해서 여쭤봅니다.
이미 `미납`버튼이 붙어있는 과거 주문서들의 데이터를 변경하지않는다면, 계속 미납으로 남아있는 건가요? 아니면,  OpenCloset-Common-v0.1.7.tar.gz 설치 작업 후에는 자동으로 문제있던 주문서들의 미납이 사라지는 건가요?

[2018-03-24 04:09] aanoaa commented on #1427
현재 미납이 아닌데 미납으로 라벨이 표시되는 주문서들은 실수에 의해서 미납으로 기록한 것들 입니다.
배포 후에는, 같은 실수가 반복되더라도 주문서내의 `연장/연체료 납부방법` 은 `미납` 으로 기록은 되지만,
지금처럼 주문서에 `미납` 라벨이 붙지는 않게됩니다.

정확하게 지금까지는 `연장/연체료 납부방법` 이 `미납` 이면 주문서에 `미납` 라벨이 붙었는데,
앞으로는 `연장/연체료 납부방법` 이 `미납` 이면서 실제로 연장/연체료가 0원 초과인 주문서들만 `미납` 라벨이 붙습니다.

문제있던 주문서들의 `미납` 라벨은 사라지게 됩니다.

[2018-03-24 04:15] aanoaa commented on #1426
staff 와 visit 양쪽 서비스에 적용되어야 합니다.

    $ closetpan OpenCloset::API

[2018-03-24 04:26] pingpongworks opened #1428 "모든 주문서의 "택배반납 발송일"이 "오늘 날짜"로 바뀌는 오류"
orders/47873 주문서의 미납 문제와 의류착용일을 파악하는 과정에서 발견된 또 하나의 날짜 관련 오류입니다.

모든 주문서의 택배반납 발송일이 현재 날짜로 바뀌고 있습니다.

어제 확인했을 때는 3월 23일이었는데 오늘은 3월 24일로 바뀌어 있습니다.

확인해보니, 모든 주문서의 택배반납 발송일 날짜가 오늘 날짜로 통일되어 있습니다.

[2018-03-24 04:29] pingpongworks commented on #1428
주문서 관련 오류를 @aanoaa 님이 처리하고 계신 것 같아 Assignees 걸고 이슈우선순위에 올렸습니다.

[2018-03-24 04:44] aanoaa commented on #1428
이건 오류가 아닙니다.
`택배발송/반납일` 은 저장되는 값이 아닙니다.
단지 기본값이 오늘 날짜인 것 뿐입니다.
날짜가 바뀜에 따라 연체/연장료가 다시 계산됩니다.

보통 반납함 이나 택배로 반납받았을때에 어제 날짜로 연체료를 계산하기 위해 사용됩니다.

[2018-03-24 04:57] pingpongworks commented on #1428
아, 그런가요?
저장되는 값이 아닌 건 몰랐습니다.
마음이 편해지네요 ㅎ  알겠습니다.
저장될 필요가 있다고 판단될 때 다시 말씀드리겠습니다.
스스로 이슈 닫겠습니다.

[2018-03-24 04:57] #1428 closed

[2018-03-26 07:00] pingpongworks commented on #1398
![default](https://user-images.githubusercontent.com/17288038/37891059-d43f9f7e-310d-11e8-8141-aab02387dcd6.png)

문구 수정 하나만 부탁드립니다~
추가로 만들어주신 항목 덕분에 생각이 나서 요청드립니다.

`입고감+기록요망`은 추가로 만들어주신 항목인데
입고가는 대여자의 경우는 기록이 필요없습니다.

필요한 날짜보다 일찍 방문해서 입어보았는데 사이즈가 특이해서 따로 보관이 필요한 경우,
만약을 위해 입어본 옷의 기록이 필요합니다.
아래와 같이 항목 수정해주시면 요긴할듯 합니다.

`입고감+기록요망` => `보관+기록요망`

[2018-03-26 16:53] keedi commented on #1398
완료되서 이슈를 닫은 후 실제 서버에 배포 된 이후에는 항상 별도 이슈로 열어주세요. 닫힌 이슈를 새로 열어서 내용을 추가하면 이후 내용 추적이 몹시 어렵습니다. 간단히 말해 제목이 추가된 내용을 반영할 수가 없습니다. 추가한 내용과 이전 내용의 적용 시기를 판단하기가 매우 어렵기 때문이 이후 문제가 발생했을때 추적이 어렵습니다. 번거로우시겠지만 항상 이슈가 닫힌 뒤에는 그 내용이 작든 크든, 별도 이슈로 열어 등록해주세요. 더불어 새로운 이슈로 등록 해주신 후 본 이슈는 닫아주세요.

[2018-03-26 21:51] pingpongworks commented on #1398
네~ 알겠습니다. 별도 이슈로 등록하겠습니다~

[2018-03-26 21:51] #1398 closed

[2018-03-27 00:13] aanoaa commented on #1398
제가 이어서 진행하겠습니다.
문구하나만 바꾸는 작업은 아닙니다.
물론 문구만 바꿔서 사용할 수는 있지만, 그렇게 되면 의도와는 다르게 사용되는 것입니다.

"기록요망과 입고감이 같이 사용되면 그때의 입고감은 입고감이 아니라 보관의 의미이다."

이런 내용을 기억해둬야 하는데 이런 내용들이 고려해야하는 포인트를 늘려서 복잡도를 증가시킵니다.

문구만 바꾸는 것이 아니라 올바르게 수정한다면
대여자가 입고가는지 여부를 저장하던 `does_wear` 라는 컬럼의 의미를 확장해서 기록요망 이라는 용도로 사용했는데

- 입고감
- 기록요망

여기에 보관 이라는 의미를 추가해야 합니다.

----------------------------------------

- `NULL or 0`: 안입고감
- `1`: 입고감
-

[2018-03-27 00:28] pingpongworks commented on #1398
@aanoaa `보관`의 의미가 추가되어서 복잡도가 증가된다면,

0b100: 보관
0b101: 입고감+보관
0b110: 기록요망+보관
0b111: 입고감+기록요망+보관

이 부분은 아예 삭제해도 될 듯 합니다.
필요했던 부분은 입고감 or 기록요망 이었어서요.

0b010: 기록요망

`입고감+기록요망`을 `보관+기록요망`으로 수정하는게 간단한 문구수정이라고 생각해서 요청드린 건데요, 복잡해지는 작업이라면 꼭 필요하지 않습니다.  판단 한번 해봐주세요^^  @aanoaa

[2018-03-27 00:52] aanoaa commented on #1398
문구만 바꿔서 사용하는 것은 적절하지 않은 것 같습니다.
의류를 보관해야 하는지 여부를 주문서에 기록해두고 싶으신 거라면 착용여부에 보관여부를 기록하는 것이 아니라
보관여부를 따로 저장할 수 있도록 주문서를 변경해야 합니다.

그게 필요한 기능이라면 이슈를 새로 만들어주세요.

[2018-03-27 01:46] pingpongworks commented on #1398
@aanoaa
그렇다면 일단 `보관` 관련한 작업은 보류해주세요.

의류를 보관하는 행위는 업무 원칙에도 맞지는 않고 업무효율성과 대여자 배려 차원에서 하고 있는 것이라, 사실상 프로그램에 정식으로 기능추가는 생각을 안 했던 부분입니다.

말씀해주신 대로 `보관`기능을 정식으로 만든다면, 단지 문구로 언급하는 것 이상을 고려해서 만드는게 맞을 듯 합니다. 주문서 어디에 표기할 것인가? 대여자가 다시 대여하러 왔을 때 어느 시점에 어디서 확인할 것인가? 등등요.

좀더 정리한 후 꼭 필요할 때 새로 이슈 등록하겠습니다.

[2018-03-27 04:51] pingpongworks opened #1429 "2017년 3회 이상 반복 대여한 대여자 수 및 10일 이상 연장 대여한 대여자 수"
교육, 갑작스런 출근, 계속적인 면접일정으로 장기 대여를 원하는 분들이 점점 늘어나고 있어 '장기대여에 적절한 비용책정' 에 대해 논의중입니다. 결정을 하는데 있어 쟁점이 몇가지 있는데 작년 대여 데이터를 확인할 필요를 느껴 요청드립니다.

_쟁점1> 어느 시점부터 장기대여로 볼 것인가?_
15일 이상 장기대여하는 사람보다는 10일 정도 필요한 사람이 많을 것으로 예상되는데
2017년 1년 동안 실제로 10일 이상 연장대여한 대여자수가 몇 명인지 데이터를 통해 확인해보고자 합니다.

_쟁점2> 현재 시행중인 3회 이상 대여일 경우 할인 룰에 장기대여 룰까지 중복 적용할 것인가?_
2017년 1년 동안 3회 이상 대여로 할인받은 대여자수가 몇 명인지 요청드립니다. 생각보다 많을 경우 중복 적용을 고려해야 하기

[2018-03-28 05:38] pingpongworks opened #1430 "서울시 쿠폰의 2016년 이용자 명단"
2016년 서울시쿠폰은 기부금으로 진행된바, 기부금 결산 신고에 필요한 자료 요청드립니다.

- 범위 : 2016년 4월~12월 서울시쿠폰으로 대여한 명단
- 항목 : 대여자성명, 쿠폰번호, 사용일, 전화번호, 이메일주소, 대여목적, 대여품목

[2018-03-29 02:33] keedi commented on #1430
주문서 단위로 질의 후 세부 항목은 `GROUP BY`와 `GROUP_CONCAT` 구문을 이용해 합칩니다.

https://stackoverflow.com/questions/149772/how-to-use-group-by-to-concatenate-strings-in-mysql
https://dev.mysql.com/doc/refman/5.7/en/group-by-functions.html#function_group-concat

[code]

[2018-03-29 02:38] keedi commented on #1430
실 자료는 메일로 첨부드렸습니다.

[2018-03-29 02:44] keedi commented on #1429
서울시 쿠폰 대여만 제외인가요? 모든 쿠폰 대여 제외인가요?

[2018-03-29 03:25] keedi commented on #1429
2017년 3회 이상 반복 대여한 대여자 목록을 추출하는 질의는 다음과 같습니다.

[code]

자료 자체로는 정확하다고 생각하나 내부적으로 테스트를 목적으로 수행했던 경우가 있거나 또는 단체 대여 등 시스템과 별개로 내부에서만 인지하고 있는 항목이 있을 수 있으므로 세부 각 항목이 적절한지 실제로 검증해야 할 것입니다.

[2018-03-29 03:32] keedi commented on #1429
연장이라는 개념이 몹시 모호합니다. 현재 연장을 정의 할 수 있는 공식이 있는지도 좀 의문입니다. 연장과 연체와 관련해서는 그동안 너무 많이 바뀌었고 내부적으로도 저희 예상과 다르게 쓰고 있는 바 몇가지 확인이 필요합니다.

@10001if @pingpongworks
연장이란 반납 예정일 또는 이보다 일찍 반납 한 경우로 판단해도 되나요? 반납 예정일 보다 늦게 반납했지만 연체가 아니라 연장인 경우의 주문서가 있다면 몇가지 실례를 알려주세요.

[2018-03-29 03:38] keedi commented on #1429
간단하게 설명해서 반납 예정일을 지나서 반납하지 않은 경우 중, 해당 주문서 정보를 열람했을 때 주문서 메모를 제외하고 무엇을 보고 이 주문서가 연체인지 연장인지 구분하시는지요?

[2018-03-29 06:12] pingpongworks commented on #1429
2016년 서울시는 연장을 쿠폰으로 처리했기 때문에 실제로 연장이 필요하지 않은 경우에도 연장했을 듯 하여 서울시만 제외하려는 것입니다. 서울시쿠폰만 제외해주시면 됩니다.

- 반납예정일은 지났으나 반납희망일은 지나지 않았다면 연장
- 반납예정일도 지났고, 반납희망일도 지났다면 연체로 봅니다.

[2018-03-29 07:23] keedi commented on #1429
모든 쿠폰이 아닌 서울시 쿠폰만 제외한 2017년 3회 이상 반복 대여한 대여자 목록을 추출하는 질의는 다음과 같습니다. 이전 질의와 비교해 주문서의 상태가 반납인 경우에 한정합니다. 이는 주문서 중 연체 주문서나, 방문하지 않거나, 환불 등의 다양한 경우가 있기 때문입니다.

[code]

[2018-03-29 07:28] keedi commented on #1429
정확하게 10일 이상 연장 대여한 대여자 수를 알고 싶은 것인가요? 10일 이상 연장 대여한 주문서 수를 알고 싶은 것인가요? 확인 바랍니다.

[2018-03-29 07:47] keedi commented on #1429
2017년 10일 이상 대여한 주문서 수를 추출하는 질의는 다음과 같습니다.

[code]

2017년 10일 이상 연장 대여한 주문서 수를 추출하는 질의는 다음과 같습니다.

[code]

2017년 10일 이상 연장 대여한 사용자 수를 추출하는 질의는 다음과 같습니다.

[code]

[2018-03-29 08:06] pingpongworks commented on #1429
주문서 수입니다~

[2018-03-29 08:18] keedi commented on #1429
상기 사항 확인 완료되면 결과 메일로 첨부하겠습니다. 피드백 부탁드립니다.

[2018-03-29 08:21] pingpongworks commented on #1429
네~ 감사합니다^^

[2018-03-29 08:26] pingpongworks opened #1431 "2017년 경기도 광주시 주소지의 주문서 목록"
공교롭게도 데이터 관련한 요청이 많습니다^^;;

경기도 광주시 일자리센터에서 광주시에 거주하는 취준생을 대상으로

정장 무료대여서비스를 열린옷장과 연계하여 진행하고자 합니다.

가장 걱정되는 부분이 광주시와 건대 거리때문에 이용자가 적을까 입니다.

적정한 예산 규모 설정을 위해 데이터 요청을 드립니다.

**2017년 1년동안 주문서 중 '경기도 광주시' 주소지인 주문서가 몇 개인지 확인 부탁드립니다.**

[2018-03-29 08:27] keedi commented on #1429
관련 결과물 메일로 전달드렸습니다.

[2018-03-29 08:39] keedi commented on #1431
2017년 경기도 광주시 주소지의 주문서 목록을 구하는 질의는 다음과 같습니다.

[code]

[2018-03-29 08:40] keedi commented on #1431
결과는 128건 입니다. 개수 이외에도 세부 목록이 필요하시다면 알려주시면 메일로 첨부드리겠습니다.

확인 후 변동 사항 없다면 이슈 닫아주세요.

[2018-03-29 08:46] keedi commented on #1425
#1406 에 따르면 800건 발급에 200건 제한이었는데 300/300으로 표시하셨는데 변경이 있었나요? 헷갈리는데 확인 부탁드립니다.

[2018-03-29 08:47] keedi commented on #1425
아 아닙니다 일단 제가 안양시와 군포시를 헷갈렸군요. 다시 확인하겠습니다.

[2018-03-29 08:48] keedi commented on #1425
헷갈렸습니다. 관련 이슈는 #1364 입니다.

[2018-03-29 08:50] keedi commented on #1425
제한을 삭제해달라고 하셨는데 현재 안양시 쿠폰의 경우 300개 발급에 300개 제한입니다. 제한을 해제해도 발급은 300건이기 때문에 300건 까지 밖에 쓸 수 없습니다. 제한 개수를 해제해달라고 하셨으니 해제는 할 수 있는데 이 점은 인지하고 계신 것인지요?

[2018-03-29 10:58] 10001if commented on #1425
네, 사실 저도 좀 헷갈렸던 것 같아요. 300개 제한이 없어진다고 해도 실질적으로 달라지는 건 없겠네요. 제한 삭제 요청은 없는 것으로 정정 하겠습니다. 알려주셔서 감사해요. 이후에 추가 발급이 있을 때 그때에 맞게 재요청 하도록 하겠습니다. ^^

[2018-03-29 12:13] pingpongworks commented on #1431
건수만 전달하면 됩니다.
덕분에 빠르게 진행할 수 있을듯하네요.
감사합니다~

[2018-03-29 12:14] #1431 closed

[2018-03-30 00:47] pingpongworks commented on #1429
@keedi 메일 확인했습니다. 감사합니다~

[2018-03-30 01:48] pingpongworks opened #1432 "비전 트레이닝 센터에 기증한 의류 수량: 2018년 1월 ~ 3월"
2018-01-01 ~ 2018-03-30
3개월간 비젼트레이닝에 기증된 각 품목별 의류 수량을 확인하고자 합니다.
비젼트레이닝에 전달하여 기부금 영수증을 발급받아야 하는 건입니다.

#1279 참고 부탁드립니다

[2018-03-30 01:54] pingpongworks commented on #1432
[추가 질문이 있습니다]
다음달부터는 매달 말일에 한달 간의 기증의류수 확인서를 보내달라는 비전 측의 요청이 있었습니다.  이런 경우, 매달 말일에 새로 이슈를 올리는게 편하실까요? 아니면 뭔가 다른 방법이 있을까요? 계속 날짜만 바뀌고 계속 반복될 내용이라 혹시 뭔가 다른 방법이 있나 해서 여쭤봅니다. @keedi

[2018-03-30 02:40] keedi commented on #1422
라벨 추가 잘 부탁드립니다~

[2018-03-30 02:42] keedi commented on #1425
아닙니다. 제한을 삭제하는 것은 삭제하는 나름대로 의미가 있습니다. 이후 추가 발급을 100개 했을 때 여전히 제한이 300개라면 발급은 총 400개라도 제한은 300개니까요. 제한을 이 때는 더 늘리고 싶다면 300개 이상으로 설정하던가 해야 합니다. 제한을 제거한다면 이후 발급한 만큼 사용할 수 있는 것이구요.

다만 말씀드리고 싶었던 것은 제한 개수를 삭제 해달라는 요청이 제한을 삭제한다고 발급 개수 이상을 쓸 수 있다는 의미는 아니므로 명확하게 이해하신 것인지 확인하기 위해 기록한 것입니다.

[2018-03-30 03:18] keedi commented on #1432
좋은 방법이 있을지 고민해보겠습니다. 우선은 상기 이슈 제목처럼 이슈를 열어서 해결하는 것이 좋을 듯 합니다. 더불어 우측 라벨에서 **통계** 라벨도 선택 부탁드립니다.

[2018-03-30 03:24] keedi commented on #1432
특별히 수정사항이 없을 경우 이슈 닫아주시고 아니라면 피드백 부탁드립니다.

[2018-03-30 03:26] keedi commented on #1430
첨부드린 자료에 문제가 없다면 이슈 닫아주시고 아니면 피드백 부탁드립니다.

[2018-03-30 04:32] pingpongworks commented on #1430
@keedi 자료 확인했습니다. 감사합니다~

[2018-03-30 04:32] #1430 closed

[2018-03-30 04:33] pingpongworks commented on #1432
@keedi 확인했습니다. 감사합니다~

[2018-03-30 04:33] #1432 closed

[2018-03-30 05:45] 10001if commented on #1425
@keedi 그렇군요. 제한 개수 삭제의 의미에 대해 더 정확하게 이해했습니다~ 그리고 발급 개수를 초과하여 사용할 수 없다는 것은 인지하고 있습니다. 그럼 제한 삭제 요청은 그대로 진행 부탁드리겠습니다.

[2018-03-30 06:20] keedi commented on #1425
알겠습니다.

[2018-03-30 06:45] keedi commented on #1425
쿠폰이 서울시와 그외의 쿠폰, 그리고 제한이 있는 쿠폰 세 종류로 파편화 되어 관련해 내용을 숙지하는데 시간이 걸렸습니다. 일단 내용을 정리하면 다음과 같습니다.

현재 서울시 쿠폰을 제외하고는 선 발급 시스템입니다. 선 발급을 했으므로 기존 300건은 해당 사업 주관 단체에게 전달을 한 것이며, 따라서 발급건과 관련해 300건은 물리적으로 정해진 상태입니다. 이 상태에서 300건이 별도로 제한이 걸려있는데, 이는 `coupon_limit.limit` 값에 설정해서 결정합니다. 쿠폰 제한을 해제하려면 이 값을 `-1`로 설정해야 합니다. 물론 현재 이 값을 `0`이나 `NULL`로 설정해도 쿠폰 제한이 걸리지는 않습니다. 정확히 말하면 `0`과 `NULL` 값일 경우 제한이 걸리지 않는 것은 기존 쿠폰의 호

[2018-03-30 06:48] keedi commented on #1425
다음 명령으로 쿠폰의 제한 개수 설정을 해제했습니다.

[code]

[2018-03-30 06:49] keedi commented on #1425
이슈 닫습니다.

[2018-03-30 06:49] #1425 closed

[2018-03-30 07:31] keedi commented on #1429
@pingpong wrote:

[2018-03-30 07:35] keedi commented on #1429
언급해주신대로 착오가 있는 것 같네요. 다시 확인 후 전달 드리겠습니다.

[2018-03-30 07:37] keedi commented on #1429
조건식 부분을 잘못 표기해서 결과가 엉터리로 나온 것 같습니다. 다시 뽑도록 합니다.

[code]

[2018-03-30 07:39] keedi commented on #1429
수정한 3회 이상 반복대여한 대여자 목록을 구하는 질의입니다.

[code]

수정한 10일 이상 연장한 주문서 목록을 구하는 질의입니다.

[code]

[2018-03-30 07:45] keedi commented on #1429
메일로 첨부드렸습니다. 특히 10일이상 대여의 경우 아예 해당 항목이 없음을 유의해주세요.

마찬가지로 이상한 부분이 있다면 피드백 부탁드립니다.

[2018-03-30 07:47] keedi commented on #1429
더불어 3회 이상 연장의 경우도 서울시 쿠폰은 제외했지만 아마 다른 쿠폰을 사용한 경우일 수 있으니 이점은 직접 확인해보셔야 할 듯합니다. 제가 얼핏보기에는 대부분 안양시 쿠폰 사용자가 아닌가 싶긴 하네요. 서울시 쿠폰 이외의 경우는 제외하지 말아달라고 하셔서 관련 쿠폰 사용자는 결과에 포함되었습니다.

[2018-03-30 09:03] keedi commented on #1429
@pingpong wrote:

[2018-03-30 09:04] keedi commented on #1429
ᅟ62410 사용자를 콕 짚어 명시해주신 덕에 질의가 잘못된 부분을 찾을 수 있었습니다.

무엇보다 생각보다 이 조건의 통계를 내는 질의가 좀 복잡하네요;;;

[2018-03-30 09:06] keedi commented on #1429
변경된 조건식은 다음과 같습니다.

[code]

`c.desc` 값을 체크함으로 인해서 쿠폰 값 자체가 존재하지 않는 경우가 제외되었었던 것 같습니다. 명시적으로 쿠폰을 사용하지 않은 경우도 체크하도록 조건식을 조절합니다.

[2018-03-30 09:10] keedi commented on #1429
수정한 3회 이상 반복대여한 대여자 목록을 구하는 질의입니다.

[code]

수정한 10일 이상 연장한 주문서 목록을 구하는 질의입니다.

[code]

[2018-03-30 09:19] keedi commented on #1429
각각 544 / 44 건으로 집계됩니다.

세세한 목록은 메일로 첨부드렸습니다. 오류가 있을 수도 있으니 확인해보시고 피드백 부탁드립니다.

[2018-03-30 09:40] pingpongworks commented on #1429
네~ 외부에 있어서 밤에 확인하겠습니다~ 감사요^^

[2018-04-01 06:28] pingpongworks commented on #1429
메일로 주신 데이터 확인했습니다. 전혀 문제없습니다. 감사합니다~

[2018-04-01 06:28] #1429 closed

[2018-04-02 00:31] 10001if opened #1433 "2017-12-07 ~ 2018-03-31 기간 동안 안양시 쿠폰을 이용한 대여자 명단"
안양시에서 분기별로 정산을 요청하고 있습니다.

2017년의 경우에는 예산이 초과되어, 12월 분은 정산을 하지 못했는데요.
2017년 이용과 함께 1/4 분기 이용에 대한 정산을 요청하고자 합니다.
정산 요청시에는 이용자 명단 자료가 필요하기 때문에, 2017년 12월 7일부터 2018년 3월 31일까지 안양시 쿠폰을 사용한 대여자 명단을 요청드립니다.

다만, 2017년에는 anyangyouth
         2018년에는 anyang201801 쿠폰명으로 사용된 것으로 알고 있습니다.

따라서, 2017년 12월 7일부터 사용된 anyangyouth 쿠폰 사용내역과
            2018년 3월 31일까지 사용된 anyang201801 쿠폰 사용내역을 요청드리고자 합니다.

요청드립니다~

[2018-04-02 00:35] 10001if commented on #1433
형식은 https://github.com/opencloset/opencloset/issues/1364 이슈와 동일합니다.

[2018-04-02 01:40] keedi commented on #1433
쿠폰 발급건인 #1364 가 아니라 통계 요청인 #1382 와 유사한 이슈입니다.

[2018-04-02 01:49] 10001if commented on #1433
@keedi 네~ 맞습니다. 제가 이슈번호를 잘못올렸네요~ 수정해 주셔서 감사합니다.

[2018-04-02 02:03] keedi commented on #1433
명확하게 1과 2로 구분하겠습니다.

1.
anyangyouth 는 2017-12-07 00:00:00 부터 지금까지 모두를 구하는 것인가요? 아니면 2018-12-31 23:59:59 까지인가요?

2.
anyang201801 은 그 언제인가부터 2018-12-31 23:59:59 까지 모두를 구하는 것인가요? 아니면 2017-12-07 00:00:00 부터 2018-12-31 23:59:59 까지인가요?

[2018-04-02 02:14] 10001if commented on #1433
2017-12-07 00:00:00 부터 2018-03-31 23:59:59 까지 입니다.

2017-12-07 00:00:00 부터 2018-03-31 23:59:59 까지 입니다.

[2018-04-02 05:56] keedi commented on #1433
anyang201801 쿠폰의 경우 17년 12월 5 ~ 6일 사이 이용 내역이 있습니다. 말씀하신대로 그냥 무시하면 되나요?

[2018-04-02 06:38] 10001if commented on #1433
@keedi 네. 그냥 무시해 주셔도 됩니다. 7일부터 자료만 뽑아주시면 됩니다. 확인해 주셔서 감사합니다~

[2018-04-02 08:04] keedi commented on #1433
2017-12-07 00:00:00 부터 2018-03-31 23:59:59 까지 anyangyouth 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

2017-12-07 00:00:00 부터 2018-03-31 23:59:59 까지 anyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-04-02 08:07] keedi commented on #1433
결과 메일로 첨부드렸습니다.

[2018-04-02 08:32] pingpongworks commented on #966
- 연체중일 때 연장을 할 수 없다.
- 연체중인 자가 연장을 하려고 할 때는 다음과 같이 고지한다
    **"귀하는 연체 중이므로 더 이상 대여기간을 연장할 수 없습니다.
    금일 중으로 의류 반납과 연체비 납부 이행을 요청합니다."**

- 연장 중일 때는 추가로 연장할 수 있다.
- 최대 대여가능 기간은 30일로 제한한다. 연장의 경우에도 동일하게 적용한다.
   그러므로, 3박4일 대여자가 최대로 연장할 수 있는 연장일은 26일

위와 같이 정리하였습니다.
연장과 관련해서 3회 이상 대여시 30% 할인과 별도로
10일 이상 연장시 비용 할인 정책을 정리하고 있습니다.
연장비 할인 내용은 추후에 별도 이슈로 올리겠습니다.

[2018-04-03 00:56] 10001if commented on #1433
파일 확인하여 해당 시에 전달했고 이상 없음을 확인했습니다. 이슈 닫겠습니다. 감사합니다.

[2018-04-03 01:04] 10001if opened #1434 "2018-02-01 ~ 2018-03-31 기간 동안 gunpo201801 쿠폰을 이용한 대여자 명단"
https://github.com/opencloset/opencloset/issues/1433 이슈와 비슷한 요청입니다.

2018년 1분기 정산을 위해 gunpo201801 대여자 명단 요청드립니다.

* 이름: gunpo201801
* 사용 쿠폰 요청기간: 2018-02-01 ~ 2018-03-31

[2018-04-03 01:19] keedi commented on #1433
이슈를 닫았다가 다시 여셨는데 무슨 문제가 있나요?

[2018-04-03 01:27] keedi commented on #1434
질의를 조금 더 보기 좋게 변경했습니다.

[code]

[2018-04-03 01:30] keedi commented on #1434
메일로 결과 첨부드렸습니다.

[2018-04-03 01:38] 10001if commented on #1433
아닙니다. 제가 클릭은 한번 더 했나보네요. 다시 닫겠습니다.

[2018-04-03 01:38] #1433 closed

[2018-04-03 01:43] 10001if commented on #1434
@keedi 제가 전달에 오류가 있었습니다.  gunpo201801의 이용자를 요청드렸어야 하는데 anyang201801 의 이용자를 요청드렸네요. 다시 한번 수정 요청드립니다.

* 이름: gunpo201801
* 사용 쿠폰 요청기간: 2018-02-01 ~ 2018-03-31

의 대여자 명단을 요청드립니다.

[2018-04-03 03:04] keedi commented on #1434
수정한 질의는 다음과 같습니다.

[code]

[2018-04-03 03:05] keedi commented on #1434
메일로 결과 첨부드렸습니다.

[2018-04-03 03:11] pingpongworks opened #1435 "연장중 주문서 목록 중 '가상계좌 문자전송' 있는 것과 없는 것의 차이"
![default](https://user-images.githubusercontent.com/17288038/38227160-ea1b21d0-3737-11e8-9e64-9a4ba6568b58.JPG)

작업을 요청드리는 것은 아니고, 옷장지기들이 문의하는데 제가 답을 못 찾아서 문의드립니다^^
연장중인 주문서 목록을 보면, 대부분은 '가상계좌 문자전송'이 없는데
하나의 주문서만 붙어있습니다.
'가상계좌 문자전송'이 있는 주문서와 없는 주문서의 차이가 뭘까요?
업무에 영향은 없으니까 특별한 이유가 없다면 '없다'고 답해주셔도 됩니다~

[2018-04-03 03:52] keedi commented on #1435
미납이거나 연체인 경우에만 **미납 문자 전송** 또는 **연체 문자 전송** 이라는 링크 및 버튼이 발생하는 것일 겁니다.

https://github.com/opencloset/opencloset/blob/013c4b819c9034c731eccbb385dab3f399309e95/templates/order/index.html.ep#L174-L229

혹시 상기 경우(미납/연체)를 제외하고 해당 버튼이 붙어 있는 경우가 있는지요?

[2018-04-03 08:43] pingpongworks commented on #1435
네, 맞습니다.
그런데, 문제의 주문서 orders/94578 는 `연장 중` 리스트 중 유일하게 해당 버튼이 달려있어서
어떤 차이가 있는지 궁금해진 것입니다.

[2018-04-04 03:14] pingpongworks commented on #1254
/user/93986 엉덩이둘레 평균 오류
키 166Cm / 몸무게 55kg 체형에 비해 엉덩이둘레 평균 77 cm 수치가 너무 작음
![default](https://user-images.githubusercontent.com/17288038/38286703-a791f8a0-3801-11e8-8024-6532972882f5.JPG)

[2018-04-04 08:08] 10001if commented on #1434
해당 시에 전달했고 확인완료 되었습니다. 감사합니다. 이슈 닫겠습니다.

[2018-04-04 08:08] #1434 closed

[2018-04-10 08:17] pingpongworks opened #1436 "시간표에 4번 중복 예약 오류"
![4](https://user-images.githubusercontent.com/17288038/38544314-104cbbb6-3ce2-11e8-9207-687037aad952.jpg)

4월 10일 10시 30분 시간표에
1명의 대여자가 4번 중복 예약된 상태로 떴습니다.
예약 자체를 4번 중복해서 한 건 아닌 듯 합니다.
4월 10일 0시 1분에 예약이 된 걸로 보아
0시를 기점으로 시스템 오류가 난 것이 아닌가 추측해봅니다.
매우 예외적인 경우로 보고 신경 쓰지 않아도 될지 문의드립니다.

[2018-04-20 08:35] pingpongworks opened #1437 "쿠폰: gwangju201801 800건 발급 및 200건 제한"
- 아이디 :  gwangju201801
- 이름 : 광주 청년꿈이룸
- 제한 : 200
- 발급 : 800
- 유형 : suit
- 사용기간 : 2018-12-31

경기도 광주시에서 진행하는 정장대여비 지원 프로그램을 위해 쿠폰 발급을 요청드립니다.
열린옷장에서 800개의 쿠폰 번호만 전달하면 광주시에서 해당 청년에게 쿠폰번호를 전달하는 방식입니다. 이후 개인이 예약페이지를 통해 쿠폰 입력 후 예약을 진행한다고 합니다. 서울시 쿠폰과 유사한 형식이지만 광주시 내부에서 연령, 나이, 이용횟수를 체크하여 선정된 인원에게 쿠폰을 제공한다고 합니다. 따라서 열린옷장은 이상의 조건으로만 쿠폰을 발급하여 제공하면 됩니다.

통계페이지는 서울시 쿠폰과 동일하게 요청드립니다. 온라인, 오프라인 모두 이용 가능합니다.

[2018-04-23 01:19] 10001if opened #1438 "쿠폰: anyang201801 500건 추가 발급 및 제한없음"
[code]

발급을 요청드립니다.

[2018-04-23 02:48] keedi commented on #1438
진행합니다.

[2018-04-23 02:51] 10001if commented on #1438
@keedi 빨리 진행 해주셔서 감사합니다!

[2018-04-23 03:54] keedi commented on #1438
메일로 첨부드렸습니다. 확인 부탁드립니다.

[2018-04-23 04:01] keedi commented on #1438
특별한 이슈는 없을 것으로 예상됩니다. 이슈 닫습니다.

[2018-04-23 04:01] #1438 closed

[2018-04-23 04:02] keedi commented on #1438
예전 발급 300건과 현재 500건을 포함해 총 800건이 발급되었으며, 개수 제한은 없습니다.

[2018-04-24 23:25] keedi opened #1439 "쿠폰: gwangju201801 통계 페이지"
#1437 이슈에서 통계 페이지 구현 부분을 별도의 이슈로 분리합니다.

@pingpong wrote:

[2018-04-24 23:27] keedi commented on #1439
#1412 (쿠폰: gunpo201801 통계 페이지) 항목을 참고합니다.

[2018-04-24 23:28] keedi commented on #1437
통계 페이지는 별도 이슈로 분리했습니다.

[2018-04-24 23:30] keedi commented on #1437
`gwangju201801` 쿠폰의 사용 개수를 200개로 제한하는 질의는 다음과 같습니다.

[code]

[2018-04-24 23:51] keedi commented on #1437
쿠폰은 발급 후 메일로 첨부드렸습니다.

[2018-04-25 01:06] #1437 closed

[2018-04-27 05:05] pingpongworks opened #1440 "쿠폰: samsunglife201801 183건 발급 및 183건 제한"
아이디 : samsunglife201801
    이름 : 삼성생명 면접정장 지원
    제한 : 183
    발급 :  183
    유형 : suit
    사용기간 : 2018-05-11

삼성생명에서 자사 공채채용에 지원한 면접자를 대상으로 정장대여비 지원 프로그램을 진행합니다. 프로그램 진행을 위해 쿠폰 발급을 요청드립니다.
열린옷장에서 183개의 쿠폰 번호와 예약 url을 전달하면, 삼성생명에서 대상자에게 면접일자 통보를 하면서 이메일로 쿠폰번호를 전달하는 방식입니다.  이후 개인이 예약페이지를 통해 쿠폰 입력 후 예약을 진행합니다.

통계페이지는 서울시 쿠폰과 동일하게 요청드립니다. 온라인, 오프라인 모두 이용 가능합니다. 따라서 전체, 오프라인, 온라인 페이지가 필요합니다.

5월 2일-3일

[2018-04-27 05:15] pingpongworks commented on #1440
**택배비용**
내용에서 빠졌는데, 택배 비용도 모두 회사에서 부담한다고 합니다. 온라인 대여하는 경우, 발송비 포함해서 결제되도록 해주세요.

반납택배비용도 모두 부담하겠다고 해서, 그 부분은 반납 택배 받았을 때 저희가 따로 정리해야할 듯 합니다.

[2018-04-30 03:57] pingpongworks opened #1441 "쿠폰: samsunglife201801 통계 페이지"
**#1440 쿠폰 건의 통계페이지 요청드립니다. 온라인, 오프라인 모두 이용 가능합니다. 따라서 전체, 오프라인, 온라인 페이지가 필요합니다.**

[2018-04-30 06:17] keedi commented on #1440
samsunglife201801 쿠폰의 사용 개수를 183개로 제한하는 질의는 다음과 같습니다.

[code]

[2018-04-30 06:25] keedi commented on #1440
쿠폰은 발급 후 메일로 첨부드렸습니다.

[2018-04-30 06:49] pingpongworks commented on #1440
메일 확인했습니다. 감사합니다~

[2018-05-01 09:38] #1440 closed

[2018-05-01 14:52] keedi commented on #1439
https://github.com/opencloset/OpenCloset-Cron-Visitor/issues/9 이슈에서 처리 후 릴리스 및 실서버에 반영 완료했습니다.

실제로 쿠폰을 사용하기 시작하면 그 다음 날 자정에서 새벽 1시 사이에 통계가 갱신되고 그 이후 부터는 열람이 가능할 것입니다. 통계 관련해 이상이 있으면 별도의 이슈로 보고 바랍니다.

[2018-05-01 14:53] #1439 closed

[2018-05-01 14:53] keedi commented on #1441
https://github.com/opencloset/OpenCloset-Cron-Visitor/issues/11 이슈에서 처리 후 릴리스 및 실서버에 반영 완료했습니다.

실제로 쿠폰을 사용하기 시작하면 그 다음 날 자정에서 새벽 1시 사이에 통계가 갱신되고 그 이후 부터는 열람이 가능할 것입니다. 통계 관련해 이상이 있으면 별도의 이슈로 보고 바랍니다.

[2018-05-01 14:53] #1441 closed

[2018-05-01 15:00] keedi commented on #1410
좀 헷갈리는데요. **예약확정문자** 라는 것이 휴대폰 문자를 말씀하시는 것인가요?

[2018-05-02 05:11] pingpongworks commented on #1441
통계페이지 확인했습니다.

관련해서 추가로 요청드릴 부분이 있습니다.

기존의 안양, 군포와 같이 **외부에서 로그인없이 쿠폰사용통계를 확인할 수 있는 url이 필요**합니다.

**생명 담당자가 직접 쿠폰이용현황을 확인하여 추후 투명하게 정산을 하기 위한 것**입니다.

추가로 부탁드립니다.

[2018-05-02 05:17] pingpongworks commented on #1410
네, 그렇습니다.

5명으로 제한이 되어있는데, 6명으로 예약이 된 경우에

`-1명 예약가능`으로 보여지고 있는 것인데요,

대여자가 이해할 때는 1명 예약이 가능한 것으로 이해해서

예약을 변경하려고 하는데, 왜 그 시간에 안되냐고 문의가 오곤 합니다.

그래서, 1명이 넘치게 예약이 된 경우에도 (물론 그렇게 안되는게 가장 좋지만요^^)

`예약인원초과`로 뜨면 혼란이 없어질 것이라고 생각한 것입니다.

[2018-05-02 06:25] aanoaa commented on #1441
https://visit.theopencloset.net/events/samsunglife201801/stat 에서 인증없이 확인할 수 있습니다.

형식은 똑같습니다.

`/events/:event/stat` 입니다.

[2018-05-02 15:15] keedi commented on #1441
가능하면 전체 경로 빼고 커멘트 부탁드립니다. 더불어 지난번에는 링크 관련해 외부 링크는 메일로 전달하신다고 하셔서 그러는 줄 알았는데, 그냥 커멘트로 쓰기로 한 것인지와 더불어 열린옷장도 누구나 열람해도 상관없는 것인지 궁금하군요.

상관없다면 메일로 따로 설명드릴 필요 없고 커멘트에서 남겨도 충분하겠죠.

[2018-05-02 16:52] pingpongworks commented on #1410
제목 없음
[Web발신]
[열린옷장] 000님 05월 03일 14시 30분으로 방문 예약이 완료되었습니다.
<열린옷장 위치안내>
서울특별시 광진구 아차산로 213 국민은행, 건대입구역 1번 출구로 나오신 뒤 오른쪽으로 꺾어 150M 가량 직진하시면 1층에 국민은행이 있는 건물 5층으로 올라오시면 됩니다. (도보로 약 3분 소요)
지도 안내: https://goo.gl/UuJyrx

예약시간 변경/취소는 https://visit.theopencloset.net/order/100349/booking/edit?phone=2844 에서 가능합니다.

1. 지각은 NO!
꼭 예약 시간에 방문해주세요. 예약한 시간에 방문하지 못한 경우, 정시에 방문한 대여자를 먼저 안내하기 때문에 늦거나 일찍 온 시간만큼 대기시간이

[2018-05-02 17:13] pingpongworks commented on #1441
아무래도 위 링크와 같은 내용은 메일로 따로 주시는게 좋을 듯 합니다. 통계를 다른 외부인이 보는 것은 아무래도 문제가 될 수 있으니까요. 늘 그렇게 전달해주신 걸로 알고 있는데, 앞으로도 메일로 부탁드립니다.

전달해주신 인증없이 확인할 수 있는 통계페이지는 확인했습니다. 회사에 전달하겠습니다. 감사합니다.

[2018-05-03 08:54] keedi commented on #1410
음. 그러니까 **X명 예약 가능** 문구가 문자로 가는 것은 아니죠?

[2018-05-03 09:44] pingpongworks commented on #1410
네~ 문자 내에 url 내용이 x명입니다

[2018-05-04 04:39] aanoaa opened #1442 "기존총액과 대여비의 차이"
1. 98415 주문서 : 기존총액(원) 480,000 | 할인금액(원) 0 | 대여비(원) 512,000
2. 99649 주문서 : 총액(원) 240,000 | 할인금액(원) 0 | 대여비(원) 0

할인금액이 없는데 기존총액과 대여비가 다른 이유가 무엇인지 궁금합니다.

라고 @10001if 님이 문의

[2018-05-04 04:41] aanoaa commented on #1442
용어부터 정리해보면,

기존총액: 대여 의류 품목 가격의 합 (할인을 고려하지 않은 가격)
할인금액: (의류품목 가격 - 대여항목 가격)의 합 + 할인항목의 가격의 합
대여비: 기존총액 - 할인금액, 연장/연체일 등을 고려하지 않습니다, 에누리 금액이 포함됩니다, 이것을 기준으로 연장비/연체비가 계산되어서는 안됩니다.

[2018-05-04 04:41] aanoaa commented on #1442
99649 은 98415 의 하위주문서 입니다.
대여비가 없는 것이 정상으로 보여집니다.

[2018-05-04 04:48] aanoaa commented on #1442
당연히 기존총액이 대여비보다 크거나 같아야 합니다.
기존총액에서는 타이가 0원으로 계산되는 반면에 대여비에서는 타이가 2,000원으로 계산됩니다.
의도치 않았고 예상치 못한 결과입니다.
프로그램 버그입니다.

[2018-05-04 04:48] aanoaa commented on #1442
`OpenCloset::Calculator::LateFee`
기존총액은 clothes.price 의 가격으로 계산 (clothes 에서 tie 의 가격은 0원)
대여비는 detail.final_price 의 가격으로 계산

[2018-05-04 04:49] aanoaa commented on #1442
https://github.com/opencloset/OpenCloset-Calculator-LateFee/blob/develop/lib/OpenCloset/Calculator/LateFee.pm#L90

https://github.com/opencloset/OpenCloset-Calculator-LateFee/blob/develop/lib/OpenCloset/Calculator/LateFee.pm#L152

[2018-05-04 04:55] aanoaa commented on #1442
총액, 할인금액, 대여비등은 https://github.com/opencloset/OpenCloset-Calculator-LateFee/issues/3 에서 다루었습니다.
clothes.price 와 od.final_price 의 차이가 없을 것으로 여기고 작업한 것 같습니다.
하지만 타이가격에서 차이가 발생하고 있습니다. 수정하도록 하겠습니다.

[2018-05-04 05:10] aanoaa commented on #1442
실수가 있었습니다.

    ## 대여금액이 아닌 정상금액을 계산하는 것이므로 clothes.price 의 합을 구한다

라는 코멘트가 있습니다.
`clothes.price` 를 참조하는 것이 의도 되었습니다.

[2018-05-04 05:17] aanoaa commented on #1442
3회 이상 방문 할인의 경우
할인금액을 더해주는 방식이 아니라 금액 자체에서 할인금액을 적용합니다.

예로 자켓 10,000 을 대여했을 경우에

    자켓        10,000
    3회 이상 할인 -3,000

이 아니고,

    자켓         7,000

입니다.
때문에 `order_detail.price | order_detail.final_price` 을 참조하면 정상금액을 계산해낼 수 없으므로 `clothes.price` 를 참조하는 것이 맞습니다.

모든 타이의 가격이 0 원인데 이것을 2,000 으로 변경했을때에 문제가 없을 것인가를 검토해봐야 합니다.

[2018-05-04 05:26] aanoaa commented on #1442
@10001if

이것 때문에 98415 주문서의 기존총액과 대여비에서의 차이가 발생했습니다.

[2018-05-04 05:29] 10001if commented on #1442
다른 이유가 있나 싶었는데, 이런 이유였군요~! 확인해 주셔서 감사해요. 혹시 저희가 놓친게 있나 싶어서 문의 드렸습니다.

[2018-05-04 05:32] aanoaa commented on #1442
하지만 대여비에서 무조건 타이가 2000으로 계산되지는 않습니다.
한벌 대여일경우에만 0원으로 계산됩니다.

이 경우에는 구두를 대여하지 않았기 때문에 한벌대여로 계산되지 않았습니다.

[2018-05-04 05:46] 10001if commented on #1442
@aanoaa 만약에 옷장지기가 의도를 가지고 타이금액을 2,000원으로 변경하는 경우에는 어떻게 되나요?

[2018-05-04 05:50] aanoaa commented on #1442
지금은 반납이 된 상태라서 금액을 변경할 수 없지만,
대여 전 이라면 staff 가 대여품목의 가격을 변경할 수 있습니다.
기존총액은 변하지 않고, 대여비에만 영향을 끼치게 됩니다.

그리고 이미 해당 주문서의 타이 가격은 2000으로 계산되고 있습니다.

[2018-05-04 07:14] 10001if commented on #1442
주문서 98975 를 보면 할인금액 적용이 올바르지 않은 것 같습니다. 기존총액 4000원 할인금액 1200원 대여비 2800원이 되어야 하는데요. 기존총액은 이해한 상태이지만 할인금액이 왜 이 금액이 표기되었는지 궁금합니다. 확인 요청드려요~

[2018-05-04 07:24] aanoaa commented on #1442
할인금액은 품목마다의 `정상가 - 할인된 금액의 합` 입니다.
이경우에는,

    2000 - 1400 = 600 # 타이1
    2000 - 1400 = 600 # 타이2

할인가격이 1200 이 되어야 할 것 같습니다만 이렇게 안된 이유는,
타이의 정상가격이 0원이기 때문입니다.

    0 - 1400 = -1400
    0 - 1400 = -1400

해서 -2800 의 절대값 2800 으로 할인가격이 표시되었습니다.
타이의 정상가격을 0으로 책정하고 있었는데 이 문제를 계기로 이런 문제가 발생하지 않도록 고민해봐야 합니다.

[2018-05-04 14:10] aanoaa opened #1443 "도커 이미지에 ace-theme 를 embbed 혹은 bind mount 를 사용"
제 개발환경에서 image 를 build 했을때에는

    COPY . .

에 의해서 ace-theme 가 image 안에 포함되었는데,
당연하게도 travis ci 에서 build 된 이미지는 ace-theme 가 없습니다.

저작권이 유료인 테마라서 repo 에 올릴 수 없습니다.
bind mount 를 사용해서 runtime 에 링크를 걸어주거나, 따로 install 해주는 방법이 필요합니다.

[2018-05-05 06:05] aanoaa commented on #1443
WEB 상에 install 가능한 tarball 을 둔다고 해도 인증절차가 없으면 무용지물입니다.
provisioning 할때에 적절한 위치에 theme 파일을 둘 수도 있지만, bind mount 를 활용하도록 하겠습니다.

compose repo 에 `opencloset/opencloset/public/theme/` 를 두고 `/home/opencloset/service/staff.theopencloset.net/public/theme/` 에 mount 시켜서 사용하도록 합니다.

[2018-05-05 06:05] #1443 closed

[2018-05-18 02:56] aanoaa opened #1444 "스태프가 예약취소시 msg 문자전송"
https://github.com/opencloset/OpenCloset-Cron-SMS/issues/29

정상적으로 취소하면

`[열린옷장] xxx님 xx월 xx일 xx시 xx분 방문 예약이 최소되었습니다.`

문자가 발송되는데 이는 OpenCloset::API::cancel 에서 보내는 기능입니다.
하지만 예약화면에서의 취소는 OpenCloset::API::cancel 를 활용하지 않고 직접 예약을 취소하고 문자를 보냅니다.

이것은 같은 기능이 파편화 된 잘못된 행동입니다.
마이그레이션 하면서 실수로 빠트렸을수도 있고, 당일 예약 취소 기능을 만들면서 OpenCloset::API::cancel 존재를 모르고,
직접 컨트롤 했을 수 있습니다.

거기에 문자가 `msg` 로 발송됩니다.
오타로 인해 `$

[2018-05-18 03:16] aanoaa commented on #1444
사용자가 취소하는 경로는 아래 입니다.
(`order#cancel_form` 에서 취소버튼을 클릭)

    DELETE /order/:id?phone=xxxx

이 동작은 OpenCloset::API::cancel 을 호출하고 주문서를 삭제합니다.

----------------------------

관리자가 예약을 취소하는 경로는 아래 입니다.
(`booking#ymd` 에서 취소 버튼을 클릭)

    DELETE /api/order/:id/booking

이 동작은 주문서의 booking_id 를 삭제하고 메세지를 보냅니다.

----------------------------

동작이 다릅니다.
주문서를 삭제하는 것과 주문서의 booking_id 만 삭제하는 것.

관리자가 예약을 취소하는 경우에

[2018-05-18 04:00] #1444 closed

[2018-05-19 03:39] pingpongworks opened #1445 "2018년 5월 / 월별 평균처리시간 오류"
![image](https://user-images.githubusercontent.com/17288038/40264545-2898870c-5b61-11e8-829e-c10a14aad308.png)

프로그램 상태페이지에서 월별 평균처리시간을 확인하면서 업무처리속도를 관리하고 있습니다.
그런데, 2018년 5월의 월별 평균처리시간이 이상합니다.
도저히 나올 수 없는 시간이 나오고 있습니다.
확인부탁드립니다.

[2018-05-20 01:42] pingpongworks opened #1446 "2018년 상반기 기증 통계"
열린옷장 소개자료를 만들다보니까 필요해서요,
지금까지 기증된 모든 의류의 통계를 알 수 있을까요?

프로그램의 '수량'을 통해서는 등록된 의류수만 알 수 있는데
그 외에 폐기되었거나, 재기증된 의류의 수량까지 모두 알고 싶습니다.

이번 기회에 기증된 의류 중 사용되고 있는 의류의 수는 얼마나 되는지
정확히 아는 것도 의미가 있을 듯 합니다.

가능하시다면, 품목별 / 월별로 통계 부탁드립니다.

[2018-05-29 07:01] keedi opened #1447 "2017년 경기도 고양시 주소지의 주문서 목록"
확정되지는 않았지만 고양시 일자리 정책과에서 고양시에서 열린옷장과 연계한 정책을 하는 것이 의미가 있는지 확인하기위해 지난 기간동안 고양시 거주의 대여자 통계를 구해야 합니다. 2017년 1년동안 주문서 중 '경기도 고양시' 주소지인 주문서가 개수를 확인합니다.

[2018-05-29 07:02] keedi commented on #1447
#1431 이슈와 유사합니다.

[2018-05-29 07:03] keedi commented on #1447
2017년 경기도 고양시 주소지의 주문서 목록을 구하는 질의는 다음과 같습니다.

[code]

[2018-05-29 07:04] keedi commented on #1447
결과는 439건입니다. 지난 번 광주시의 경우 128건 이었는데 그에 비하면 훨씬 많군요. 개수 이외에도 세부 목록이 필요하시다면 알려주시면 메일로 첨부드리겠습니다.

확인 후 변동 사항 없다면 이슈 닫아주세요.

[2018-05-29 08:07] pingpongworks commented on #1447
확인했습니다. 감사합니다~

[2018-05-29 08:07] #1447 closed

[2018-05-30 01:44] aanoaa opened #1448 "가방 기증자가 기증한 항목의 총 대여 횟수 및 인기 대여 의류 통계"

[2018-05-30 02:07] pingpongworks commented on #1448
재기증하는 기증자에게 이전 기증된 물품의 활용 상황을 전달하기 위한 껀입니다.
필요한 정보는 다음과 같습니다.

- 기증자 : L*TUFF
- 기간 : 기증일인 2017년 3월 8일 이후
- 필요한 정보
1. 총 대여횟수
2. 총 대여횟수 중 남:여 비율
3. 가장 많이 대여된 의류코드 순위별로 5개

부탁드립니다~

[2018-05-30 02:14] keedi commented on #1448
특정 기증자가 기증한 항목이 대여된 횟수는 주문서 개수입니다. 부분 반납이 아닌 주문서이면서, 주문서의 상태가 반납인 경우가 정상적인 상태입니다. 해당하는 주문서 목록을 추출하는 질의는 다음과 같습니다.

[code]

이렇게 질의를 할 경우 결과는 308건입니다.

[2018-05-30 02:15] keedi commented on #1448
주문서 상태가 반납이 아닌 경우가 있습니다. 어떤 경우인지 상태를 확인하는 것이 도움이 될듯합니다. 해당 항목을 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-05-30 02:17] keedi commented on #1448
환불의 경우 실질적으로 대여를 진행하지 않은 건이므로 추가하지 않는 것이 맞을테고, 대여중인 경우는 두가지 경우가 있습니다. 현재 정말로 대여중인 경우와 나머지는 대여후 미반납하는 경우입니다. 어느쪽인지는 직접 보시고 판단해야하겠지만, 어찌되었든 대여중 자체는 6건입니다.

정상적인 대여건수는 308건이며, 이 6건을 포함한다면 314건이겠네요. 포함할지 말지, 또는 몇개를 포함할지는 상기 목록을 보시고 판단하셔야 할 듯 합니다. `id`는 주문서 번호입니다.

[2018-05-30 02:32] keedi commented on #1448
가장 많이 대여된 의류코드 순위를 추출하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

분석하는데 도움이 될 수 있다고 판단해 상위 5개가 아닌 전체 목록을 추출했습니다. 더불어 분실등의 연유로 재대여가 불가능한 가방의 경우 순위가 높지 않을 수 있으니 이런 부분은 고려하시기 바랍니다.

[2018-05-30 02:33] keedi commented on #1448
일단 현재는 특정 기증자를 지정하기 위해 `u.name='LOTUFF'`라는 식으로 조건을 썼지만, 실제로 동명이인이 있을 수 있기 때문에 `u.id=xxx`와 같은 방식으로 질의를 남겨야 합니다. 이번 요청의 경우 해당 기증자는 한 명만 존재함을 이미 확인했기 때문에 `u.name`을 사용해 질의를 수행했습니다.

[2018-05-30 02:36] pingpongworks commented on #1448
네~ 확인했습니다. 감사합니다^^

[2018-05-31 02:05] pingpongworks opened #1449 "비전 트레이닝 센터에 기증한 의류 수량 : 2018년 5월"
2018-05-01 ~ 2018-05-31
3개월간 비젼트레이닝에 기증된 각 품목별 의류 수량을 확인하고자 합니다.
비젼트레이닝에 전달하여 기부금 영수증을 발급받아야 하는 건입니다.

#1279 참고 부탁드립니다

[2018-06-07 01:57] pingpongworks commented on #1449
@keedi 비전트레이닝센터 5월 통계 부탁드립니다~ 아무래도 매달 이런 방식으로 확인하는게 번거롭긴 하네요. 재기증 통계를 프로그램 `통계` 항목에서 확인할 수 있는 방안을 따로 요청드려 보겠습니다.

[2018-06-07 06:02] keedi commented on #1449
2018년 5월 사이 자료를 추출하는 질의는 다음과 같습니다. (#1432)

[code]

[2018-06-07 06:02] keedi commented on #1449
현 시점 기준 결과는 다음과 같습니다.

[code]

[2018-06-07 06:04] keedi commented on #1448
별도의 추가적인 피드백이 없으므로 이슈 닫습니다.

[2018-06-07 06:04] #1448 closed

[2018-06-07 07:35] pingpongworks commented on #1448
네~ 별도 피드백 없습니다

[2018-06-07 07:35] pingpongworks commented on #1449
확인했습니다. 감사합니다^^

[2018-06-07 07:35] #1449 closed

[2018-06-11 06:13] pingpongworks opened #1450 "반납처리안 했는데 반납처리 되어있는 오류"
orders/104557
    orders/104488
    orders/104163

위 3개의 주문서는
6월 9일 (토) 아침에 무인반납함에서 꺼내어 반납을 확인했는데
6월 8일 (금)에 이미 반납처리가 되어 있었던 주문서입니다.

6월 8일에 옷장지기가 반납처리한 것은 아니고,
자동으로 반납처리가 된 어떤 이유가 있을 듯 합니다.

확인부탁드립니다.

[2018-06-18 06:26] pingpongworks opened #1451 "쿠폰: goyang201801 1000건 발급 및 485건 제한"
-  아이디 : goyang201801
-  이름 : 고양청년 희망나래
-  제한 : 485
-  발급 : 1,000
-  유형 : suit
-  사용기간 : 2018-12-31
- 서비스 시작일 : 2018-06-25

경기도 고양시에서 진행하는 정장대여비 지원 프로그램을 위해 쿠폰 발급을 요청드립니다.
열린옷장에서 1,000개의 쿠폰 번호를 전달하면 고양시에서 해당 청년에게 쿠폰번호를 전달하는 방식입니다. 이후 개인이 예약페이지를 통해 쿠폰 입력 후 예약을 진행합니다.

기존 안양시, 군포시와 마찬가지로 온라인, 오프라인 모두 필요합니다.

통계페이지는 별도 이슈로 요청하겠습니다.

**쿠폰 발급은 6월 24일 (일)까지 부탁드립니다.**

[2018-06-18 06:32] pingpongworks opened #1452 "쿠폰: goyang201801 통계 페이지"
이름 : 고양청년 희망나래
    제한 : 485
    발급 : 1,000
    유형 : suit
    사용기간 : 2018-12-31
    서비스 시작일 : 2018-06-25

#1451 고양시 쿠폰 건에 대한 통계 페이지 요청드립니다.
**로그인 없이 통계를 확인할 수 있는 url 생성 후 메일로 전달 요청드립니다.**

해당 단체에서는 온-오프라인이 통합된 페이지만 로그인 없이 확인 할 수 있도록 요청드립니다.

그러나 온/오프라인은 정산 금액이 다르기 때문에 열린옷장측에서는 이용자의 구분이 필요합니다.
/stat/events/goyang201801
/stat/events/goyang201801?online=1
/stat/events/goyang2018?online=0
따라서 총합 / 온라인

[2018-06-18 06:43] pingpongworks opened #1453 "방문 예약시 예약자의 "불납" 내역이 있으면 납부할 수 있도록 팝업 및 문자 메시지로 안내"
대여자가 방문예약시 미납내역이 있는 경우
납부할 수 있도록 팝업 및 문자메시지로 안내하는 기능이
#1197 이슈를 통해 이미 구현되어 있습니다.

덕분에 미납 상태로 방문하시는 분이 줄어든 듯 합니ㅏㄷ.

미납 상태가 20일이 경과해도 납부가 되지 않은 경우
`불납`상태로 바꾸어 따로 관리를 하고 있는데요,
'불납'인 경우에도 '미납'과 마찬가지로
납부 안내 팝업 및 문자메시지가 안내되도록 요청드립니다.

이전에 @aanoaa 님이 작업하셨던 내용이라 assignees 걸었습니다.

[2018-06-19 06:28] keedi commented on #1451
택배 비용 관련해서도 기록 부탁드립니다.

[2018-06-19 06:52] keedi commented on #1451
goyang201801 쿠폰의 사용 개수를 485개로 제한하는 질의는 다음과 같습니다.

[code]

[2018-06-19 07:05] pingpongworks commented on #1451
온라인 발송의 경우 택배비는 종전과 같이 3000원입니다.

[2018-06-19 07:44] keedi commented on #1451
쿠폰 발급 요청시 해당 쿠폰의 택배비를 누가 부담하는지를 기록해주셔야 합니다. 원래 쿠폰은 택배비를 사용자가 부담했으나, 중간에 지자체(?)의 요청으로 택배비 포함시켜달라는 요청이 와서 한동안 현금을 택배 발송 박스에 넣었다가, 이후 기능이 추가되어 택배비 지불 주체가 쿠폰 별로 설정할 수 있게 되었습니다. 정리하면 고양시 쿠폰의 경우 무료 배송이냐 아니냐 여부를 더 정확히 말하면 택배비를 누가 지불하냐 여부를 쿠폰 요청시 알려주셔야 합니다.

[2018-06-19 08:20] pingpongworks commented on #1451
아, 네~ 고양시의 경우는 온라인 발송택배비만 지자체가 부담합니다. 반납택배비는 대여자 본인 부담입니다.

[2018-06-20 04:54] keedi commented on #1451
무료 배송 쿠폰으로 설정해서 1000건 발급했고, 요청대로 485건으로 제한했습니다. 결과는 메일로 첨부드립니다.

[2018-06-20 05:02] pingpongworks commented on #1451
네~ 감사합니다. 외부 일정 중이라 내일 오전에 쿠폰 확인하고 이슈 닫겠습니다.

[2018-06-20 07:48] keedi commented on #1452
https://github.com/opencloset/OpenCloset-Cron-Visitor/issues/13 이슈에서 처리 후 릴리스 및 실서버에 반영 완료했습니다.

실제로 쿠폰을 사용하기 시작하면 그 다음 날 자정에서 새벽 1시 사이에 통계가 갱신되고 그 이후 부터는 열람이 가능할 것입니다. 통계 관련해 이상이 있으면 별도의 이슈로 보고 바랍니다.

[2018-06-21 01:07] pingpongworks commented on #1451
쿠폰 1000개 데이터 확인했습니다. 전달하겠습니다. 감사합니다~

[2018-06-21 01:07] #1451 closed

[2018-06-21 01:07] pingpongworks commented on #1452
확인했습니다. 전달하겠습니다. 감사합니다~

[2018-06-21 01:07] #1452 closed

[2018-06-25 04:55] pingpongworks opened #1454 "`대여중`이던 주문서가 `결제대기`로 뜨는 오류"
user/101569

6월 22일 (금)에 대여를 하여 `대여중` 상태였던 101569 대여자가
6월 24일 (일)에 아무 이유없이 `결제대기`로 다시 떴음.
반납일도 22일 대여시에는 25일로 정상입력되었으나
24일 오류로 다시 떴을 때는 27일이 반납일로 자동 설정되어 있었음.
원인을 알 수 없는 오류로 원인파악 부탁드립니다.

![default](https://user-images.githubusercontent.com/17288038/41830910-c41c14d4-787e-11e8-90da-747b3ba8a7f9.png)

[2018-06-25 05:56] pingpongworks opened #1455 "서울시 쿠폰 대여 후, 관리자 페이지 주문 기록에 대여 일시가 없음"
orders/106372
orders/106514

위 3건은 서울시 쿠폰으로 대여한 후,
열린옷장 주문서에는 정상적으로 쿠폰 대여로 처리되었는데,
취날 관리자페이지 주문기록에 대여일시가 없이 기록된 경우입니다.
대여일시가 없는 상태로 기록될 경우 '정상대여 건'으로 입력되지않아
비용 정산시 누락되게 됩니다.

106429 주문자의 경우는 첫번째 발생건으로
관리자페이지 관리업체에 원인 규명을 요청하였으나 찾지못하여
수동으로 대여일시를 입력하여 수정해놓은 상태입니다.
이후 같은 현상이 2건 더 발생하여 관리업체에 원인규명을 요청해놓은 상태입니다.

예약할 때부터 대여일과 대여시간이 누락된 채로 신청서가 만들어지는 것 같기도 한데
혹시 대여 예약시 또는 대여 후, 대여기록이 관리자페이지에 동기화되는 과정에서 생

[2018-06-26 02:43] keedi commented on #1455
우선 확인 후 내용 공유하겠습니다.

[2018-06-26 02:49] keedi commented on #1455
내용 및 상황을 정확하게 이해하지는 못했지만 다음 두 이슈와 연관이 있을 것 같습니다.

- #1256 취업날개 서비스의 방문/미방문자의 통계수치 동기화
- #1284 취업날개 통계수치 비교

우선 상기 이슈를 참고해 상황을 먼저 파악하겠습니다.

[2018-06-26 04:21] pingpongworks commented on #1455
네~ 아이넷에서도 원인파악한 후 7월 3일까지 답변주기로 했습니다.
6월 정산과 관련된 부분이라 7월 3일까지는 원인이 파악된 후
정상적인 대여기록으로 복구가 필요합니다.

[2018-06-28 01:31] pingpongworks opened #1456 "이유를 알 수 없는 `미납`버튼 삭제 요청"
**orders/77443**

서울시쿠폰으로 대여 후
정상적으로 반납을 한 주문서인데
`미납`버튼이 떠 있어 확인 부탁드립니다.

이런 경우 재대여하러 올 때마다 미납자인지 확인을 하게 되므로
원인이 확인되는데 시간이 걸린다면 `미납`버튼 삭제 먼저 요청드립니다.

[2018-06-28 02:07] pingpongworks opened #1457 "연체중일 때 연장할 수 없도록 요청"
이전에 #966 을 통해 요청드렸던 이슈인데
계속 나쁜 사례가 재발하고 있어 다시 한번 요청드립니다.

user/72304 사용자의 경우에는 두벌의 정장을 대여해놓고
연체 후에도 계속 연장하는 방법으로 반납을 피하고 있습니다.

#966 에서 요청드렸던 내용 다시 한번 아래 인용하여 요청드립니다.

연체중인 자가 연장을 하려고 연장신청 url을 접속하려고 할 때 대여연장신청서가 보여지는 대신 다음과 같이 고지한다

    귀하는 연체 중이므로 더 이상 대여기간을 연장할 수 없습니다.
    금일 중으로 의류 반납과 연체비 납부 이행을 요청합니다.

`연장중`에는 당연히 연장을 할 수 있습니다만, 기한을 제한하고자 하여 별도의 이슈로 남기겠습니다.

[2018-06-28 02:08] pingpongworks commented on #1457
@aanoaa 이전에 작업하셨던 내용이라 같이 assignees 걸었습니다

[2018-06-28 02:30] pingpongworks opened #1458 "연장중일 때 연장 가능한 기간을 제한하고자 함"
다수를 위한 공유옷장이고 하는 열린옷장의 취지와
대여의 특성상 의류관리 가능기간 등을 고려하여
내부논의를 거쳐 **대여가능기간을 30일**로 제한하고자 합니다.
그 동안의 사례로 보아 30일이 넘는 장기대여의 경우
대부분 반납기일에 대한 인식이 흐려져 연체가 되거나
재대여가 불가능할 정도로 옷에 문제가 생긴 상태로 반납되는 경우가 많아
적정 대여가능기간을 30일로 제한하고자 합니다.

**3박4일 기본 대여 기준일 때 연장 가능한 기간은 26일입니다.**

#1457 을 통해 연체중일 때 연장을 할 수없도록 요청드린 것과 별도로
**연장 중일 때 연장을 하는 경우, 전체 대여기간이 30일로 제한**되도록 요청드립니다.

현재 연장 url을 통해 본인이 직접 연장을 하는 방식 내에서 연장기간을 선택할 때
30

[2018-06-29 03:07] keedi commented on #1360
체인지 로그에 해결되었다고 기록되었으므로 마찬가지로 마일스톤 기록하고 닫습니다.

[2018-06-29 03:07] #1360 closed

[2018-06-29 03:19] keedi commented on #1441
작업 완료 후 템플릿에 이벤트를 열람할 수 있게 추가가 필요합니다.

https://github.com/opencloset/opencloset/commit/eef3e97bffd1a2786493eb937f7b82968683aeba

[2018-06-29 03:19] keedi commented on #1439
작업 완료 후 템플릿에 이벤트를 열람할 수 있게 추가가 필요합니다.

https://github.com/opencloset/opencloset/commit/eef3e97bffd1a2786493eb937f7b82968683aeba

[2018-06-29 03:32] keedi commented on #1405
사실상 자동 연장 관련 이슈가 있었는데 당시 서비스 시작하고 진행되는 바람에 적용이 애매모호해진 점이 있습니다. 현시점 어느정도 안정적으로 돌아가고 있는 것을 감안했을때 연장 관련 프로세스를 바꾸기 보다는 내년에 다시하게 될경우 이번에는 일찍 연장 관련 작업을 할 수 있는 방안을 살펴보아야합니다. 서울시 쿠폰 오픈 준비 관련해서는 더이상 처리하지 않고, 이후 필요한 내용은 별도의 이슈로 관리합니다.

[2018-06-29 03:32] #1405 closed

[2018-06-29 03:40] keedi commented on #1427
배포 완료 했으며 이슈 닫습니다.

[2018-06-29 03:40] #1427 closed

[2018-06-29 03:40] keedi commented on #1426
배포 완료 했으며 이슈 닫습니다.

[2018-06-29 03:40] #1426 closed

[2018-06-29 03:41] keedi commented on #1456
#1426, #1427 과 상관 있는지 확인 부탁드립니다.

[2018-06-29 05:59] pingpongworks commented on #1456
말씀해주신 것처럼 #1426과는 관련성이 확실히 있어 보입니다.

위의 77443 주문서 사용자의 착용일이
이후 주문서인 orders/107020의 착용일로 바뀌어 있습니다.
#1426에서 나타났던 현상과 같습니다.

하지만 #1427의 경우는 정확히는 모르겠습니다.
orders/77443 주문서는 서울시쿠폰으로 대여한 후 한번 연장했는데
쿠폰 기한이 2일 남은 상태로 반납을 했기 때문에
반납처리할 때 실수로 `미납` 상태가 되게 처리했을 가능성은 거의 없어보입니다.

[2018-06-29 06:49] pingpongworks commented on #1405
네, 이미 자동연장이 아닌 상태로 서울시쿠폰 진행하는 방식이 익숙해져 있어서 말씀대로 내년을 생각해보는게 나을 듯 합니다. 서울시쿠폰 진행방식도 해마다 조금씩 변동사항이 있으니, 올해 버전에 맞게 작업을 하는게 효율적이지 않을 수 있습니다.

특히 올해는 연장시 증빙을 다시 한번 업로드하는 과정이 생김으로 해서, 대여자가 직접 연장을 했더라도 옷장지기가 관리자페이지로 가서 증빙을 확인해야 합니다. 어쩌면 증빙 확인 후 옷장지기가 직접 주문서에서 날짜를 변경하는 지금의 방식이 조금 번거롭더라도 혼란을 방지하는 일일 수 있습니다.

서울시 쿠폰 자동연장 관련해서는 차후에 꼭 필요한 부분이 있을 때 말씀드리겠습니다.

[2018-06-29 10:30] pingpongworks opened #1460 "연체일 때 부분반납처리를 하는 경우 하위주문서가 중복 생성되는 상황 개선 요청"
`사진 1`과 같이 연체인 상황에서 일부 품목만 반납을 하는 경우에
연장연체료 결제방법을 선택하지 않고 부분반납처리를 하면

`사진1`
![image](https://user-images.githubusercontent.com/17288038/42086703-e4e25fb8-7bce-11e8-8479-7bfbeddbd8ec.png)

`사진2`와 같이 하위주문서가 중복으로 생성됩니다.
옷장지기가 실수로 여러번 같은 행위를 반복하면
계속 여러 개의 하위주문서가 생성됩니다.

`사진2`
![image](https://user-images.githubusercontent.com/17288038/42086809-3295a1f2-7bcf-11e8-91c6-08e286991a72.png)

이렇게 하위주문서가 여러개

[2018-06-29 10:40] pingpongworks opened #1461 "'환불'했는데, 의류상태는 '대여중'"
그림과 같이 주문서를 `환불`했는데
주문서의 의류상태는 `대여중`인 상태로 뜨고 있습니다.
예전에는 `환불`하면 의류상태도 `환불`로 바뀌었던 거 같은데
언젠가부터 이렇게 뜨고 있습니다. 확인 부탁드립니다.

![default](https://user-images.githubusercontent.com/17288038/42088214-ceb88ec4-7bd3-11e8-8721-263ecb2ddbbf.png)

[2018-07-02 02:09] pingpongworks opened #1462 "2018-04-01 ~ 2018-06-30 기간 동안 안양시 쿠폰을 이용한 대여자 명단"
안양시에서 분기별로 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 4월 1일부터 2018년 6월 30일까지
anyang201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

빠른 정산을 위해 가능하면 일순위로 작업 부탁드립니다.

[2018-07-02 02:15] pingpongworks opened #1463 "2018-04-01 ~ 2018-06-30 기간 동안 군포시 쿠폰을 이용한 대여자 명단"
군포시에서 분기별로 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 4월 1일부터 2018년 6월 30일까지
gunpo201801 쿠폰을 사용한 대여자 명단을 요청드립니다.
형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

#1462 와 같은 스케줄로 진행 부탁드립니다.

[2018-07-02 02:18] pingpongworks opened #1464 "비전 트레이닝 센터에 기증한 의류 수량 : 2018년 6월"
2018-06-01 ~ 2018-06-30
1개월간 비젼트레이닝에 기증된 각 품목별 의류 수량을 확인하고자 합니다.
비젼트레이닝에 전달하여 기부금 영수증을 발급받아야 하는 건입니다.

#1279 참고 부탁드립니다

[2018-07-03 05:44] keedi commented on #1464
2018년 6월 사이 자료를 추출하는 질의는 다음과 같습니다. (#1432)

[code]

[2018-07-03 05:45] keedi commented on #1464
현 시점 기준 결과는 다음과 같습니다.

[code]

[2018-07-03 05:54] keedi commented on #1462
2018-04 부터 2018-06 까지 anyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-07-03 06:01] keedi commented on #1463
2018-04 부터 2018-06 까지 gunpo201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-07-03 06:06] keedi commented on #1462
결과 메일로 첨부드렸습니다.

[2018-07-03 06:07] keedi commented on #1463
결과 메일로 첨부드렸습니다.

[2018-07-03 06:56] keedi commented on #1456
네 그럼 #1426 이 반영되었는데 해당 라벨은 제거되었는지요?

[2018-07-03 07:31] aanoaa commented on #1457
연체중일때

![screenshot-localhost 5001-2018-07-03-16-17-33](https://user-images.githubusercontent.com/170528/42205049-51ba8a36-7ede-11e8-89be-2a6fa4f9b226.png)

----------------------------------------------

연장 중 일때

![screenshot-localhost 5001-2018-07-03-16-17-51](https://user-images.githubusercontent.com/170528/42205081-61f1c680-7ede-11e8-81e5-642fde796396.png)

------------------------------------

[2018-07-03 07:36] aanoaa commented on #1457
- 연체중일 때 연장을 할 수 없다.
- 연체중인 자가 연장을 하려고 연장신청 url을 접속하려고 할 때 대여연장신청서가 보여지는 대신 다음과 같이 고지한다(...)
- 연장 중일 때는 추가로 연장할 수 있다.
- 최대 대여가능 기간은 30일로 제한한다. 연장의 경우에도 동일하게 적용한다.

@pingpongworks 세세하게 논의 되지 않은 내용은 제가 임의로 진행했습니다.
아직 반영하지 않았습니다.
추가하거나 수정일 필요한 부분을 말씀해주세요.

[2018-07-03 07:42] aanoaa commented on #1458
#1457 에서 연체 중 이거나 최대 연장기간을 넘어선 사용자가 연장신청을 할 수 없도록 진행
중에 있습니다.

최대연장기간이 26일 이니까 현재 연장일 포함해서 앞으로 신청하는 연장일 또한 26일을 넘기지
못하게 하는 기능인 것 같습니다.

예로 7/1일에 25일째 연장 중인 사용자가 7/26일로 연장을 할 수 없도록 해야 하는 기능입니다.
7/2일 까지만 연장을 허용할 수 있어야 합니다.

[2018-07-03 08:29] aanoaa commented on #1458
연장신청 달력에서 남은 연장일 까지만 선택 가능하도록 하였습니다.
반납일+26d 까지 선택 가능합니다.

7/1일 기준으로 15일 연장하고 있다면 7/11일 까지만 선택가능합니다.

[2018-07-03 08:30] #1458 closed

[2018-07-03 08:33] pingpongworks commented on #1463
확인하고 정산 청구했습니다. 감사합니다~

[2018-07-03 08:33] #1463 closed

[2018-07-03 08:33] pingpongworks commented on #1462
확인하고 정산 청구했습니다. 감사합니다~

[2018-07-03 08:33] #1462 closed

[2018-07-03 08:34] pingpongworks commented on #1464
확인했습니다. 감사합니다~

[2018-07-03 08:34] #1464 closed

[2018-07-03 10:43] pingpongworks commented on #1458
테스트 해보니까 아직은 무한정 연장이 가능하네요. 아직 적용이 안되었나봐요. 내일 다시 한번 테스트해보겠습니다. 감사합니다^^

[2018-07-03 10:48] aanoaa commented on #1458
네 아직 적용하지 않았습니다.
#1457 피드백 주시면 수정해서 같이 반영하려고요.

[2018-07-03 10:50] pingpongworks commented on #1457
정리하신 걸 보니까 제가 미처 세세하게 정리를 못 해드렸네요.
위와 같이 진행해주시면 될 거 같습니다. 잘 정리해주셔서 감사합니다~

[2018-07-03 10:51] pingpongworks commented on #1458
네~ #1457 내용도 확인했습니다. 같이 부탁드릴게요~

[2018-07-03 10:58] pingpongworks commented on #1456
네~ 미납 버튼은 제거되었습니다

[2018-07-03 11:29] pingpongworks commented on #1102
@aanoaa 엄청난 고민을 했던 이슈였던 거 같은데, 다시 고민을 시작해볼까 합니다.

현재 업무를 하면서 가장 요구되는 부분은 위의 고민들 중 **미리 방문해서 입어본 대여자가 온라인으로 쉽게 대여할 수 있도록 하고자 함**입니다.

현재 내부적으로 미리 방문해서 입어본 대여자가 다시 대여하고자 하는 기한이 1주일 내외일 경우에는 업무효율을 위해 입어본 의류를 대여하지 않고 따로 보관했다가 다시 방문했을 때 혹은 온라인으로 주문했을 때 그대로 대여를 하고 있습니다.  원칙적으로는 특정 옷에 대해 예약을 거는 것은 불가능하지만 업무효율을 위해 내부적으로 진행하고 있습니다. 그렇지 않으면 며칠 후 다시 방문했을 때 (혹은 온라인으로 발송을 할 때) 옷장지기가 다시 의류를 준비해야하는데, 효율적이지 못하다고

[2018-07-04 02:53] keedi commented on #1456
#1426 의 중복 이슈입니다. 해당 이슈에서 해결되어 배포까지 된 이슈이므로 추가 처리 없이 닫으면 됩니다.

별도 이슈가 있나요?

[2018-07-04 03:20] aanoaa commented on #1457
7/3일에 대여했는데 7/30일 까지만 연장이 가능합니다.
8/2일? 까지 가능해야 합니다.

[2018-07-04 05:17] aanoaa opened #1465 "예약탭에서 예약취소가 동작하지 않음"
문자 URL 에서는 되지만 예약탭에서는 되지 않습니다.
staff 가 예약을 취소할 수 없어서 불편합니다.

[2018-07-04 05:21] #1457 closed

[2018-07-04 05:28] aanoaa commented on #1465
개발환경에서 제대로 동작하고 있습니다.

[2018-07-04 05:33] aanoaa commented on #1465
이게 정상적인 호출 과정인데,

[code]

컨트롤러로 라우팅도 되지않고 바로 not found 를 응답했다는게 이상합니다.

[2018-07-04 05:45] aanoaa commented on #1465
`order#delete` 는 `visit` 에서 처리되는데 예약탭의 예약 취소는 `visit` 가 아닌 `staff` 도메인으로 요청하고 있습니다.
개발환경에서는 visit, staff 가 통합되어 있어서 동작한 것 입니다.

[2018-07-04 06:06] aanoaa commented on #1465
visit 의 `DELETE /order/:id` 를 staff 도메인에서 ajax 로 요청해서 아래와 같은 에러가 발생합니다.

[2018-07-04 06:08] aanoaa commented on #1465
#1444 이슈의 사이드 이펙트 입니다.
수정 후에 제대로 확인하지 않았습니다.

[2018-07-04 07:00] aanoaa commented on #1465
cross domain 으로 요청할때,

- `GET example.com/something` 일 때에는 simple request
- `DELETE example.com/something` 일 때에는 preflight request

보다 자세한 내용은 https://homoefficio.github.io/2015/07/21/Cross-Origin-Resource-Sharing/ 에 설명되어 있습니다.

## Simple Request

아래의 3가지 조건을 모두 만족하면 Simple Request

- GET, HEAD, POST 중의 한 가지 방식을 사용해야 한다.
- POST 방식일 경우 Content-type이 아래 셋 중의 하나여야 한다.
  application/x-www-form-urlenco

[2018-07-04 07:01] aanoaa commented on #1465
36fa9e0ea24617c358322bb88413037ba7ad6080...4672c0225664a4a551fda714e44c83379a058075

에서 해결되었습니다.

[2018-07-04 07:01] #1465 closed

[2018-07-04 09:01] pingpongworks commented on #1457
테스트하고 확인했습니다. 감사합니다~

[2018-07-04 09:45] pingpongworks commented on #1458
테스트하고 확인했습니다. 감사합니다~

[2018-07-12 04:25] aanoaa opened #1466 "중복된 탈의실로 상태변경을 못하도록 함"
https://github.com/opencloset/monitor/issues/181

상태변경은 단순하면서 복잡한 작업입니다.
`order.status_id` 의 값을 바꿔주면 상태가 변경되지만,
어떤상태에서 어떤상태로 변경되느냐에 따라 추가작업이 각기 다릅니다.

일반적인 경우 탈의1번에 두개 이상의 주문서가 배치되는 경우는 없습니다.
하지만 가능은 합니다.

실수로 탈의1 에 사람이 있음에도 탈의1 로 배정을 해버린다면 문제가 발생할 수 있기 때문에
그렇게 할 수 없도록 하는 작업입니다.

[2018-07-12 07:09] keedi commented on #1446
@pingpongworks commented on May 20:

[2018-07-13 11:39] Bentleypark commented on #1466
시간표에서 바로 탈의실의 지정하여 하도록 수정하는 코드에서 수정사항이 있어서 요청드립니다.
대여자 중에 자켓 or 팬츠(스커트) or 자켓/팬츠(스커드) 선택하는 경우, 치수 측정자는 탈의실을 별도로 지정하지 않는 기존의 방법대로 의류준비로 상태를 변경하고 있습니다.  적용된 코드를 사용할 경우에 의류준비 단계에서 탈의실을 지정하면 탈의실 지정은 되지만 다시 한번 의류준비 상태가 됩니다.

* 자켓/팬츠 혹은 단품만 하는경우
치수측정 -> 의류 준비 -> 탈의지정 -> 의류준비 상태로 변경됨

Preparation 화면에서 의류준비 -> 탈의실 지정하는 경우에 다시 한번 의류준비 상태로 변경되지 않도록 수정이 가능할까요?

[2018-07-15 01:02] pingpongworks commented on #1466
셔츠, 블라우스, 구두, 벨트와 같이 단품만 대여하는 경우에도 품목 변경을 대비해서 탈의실을 지정하고 있지 않나요? (몇몇한테 물어보니까 옷장지기마다 다르게 진행하는 것 같아서 일단 내부적으로 정리가 필요할 것 같습니다)  아마도 자켓,팬츠,스커트와 같이 수트 품목만 대여하는 경우에만 옷장지기가 옷을 준비하는 동안 대여자가 대기실에서 기다릴 수 있도록 치수측정할 때 탈의실을 지정하지 않는 것으로 알고 있습니다.

그런데 치수측정단계에서 탈의실을 지정 기능이 생긴 이후로는 탈의실을 지정하면 `의류준비` 상태로 한번 머물렀다가 다시 탈의실을 지정했을 때 `탈의실`로 상태가 바뀌도록 구조가 바뀌었기 때문에, 수트류만 대여하는 경우에는 치수측정 단계에서 탈의실을 지정하지 않고 의류준비로 바로 넘겨서 수트가 준비된

[2018-07-15 09:06] aanoaa commented on #1466
- 자켓 or 팬츠 or 스커트
- 자켓+팬츠
- 자켓+스커트

만 대여하는 경우인가요?

[2018-07-15 09:09] aanoaa commented on #1466
작업의 볼륨은 크지 않습니다.
정책이 정해지면 알려주세요.

[2018-07-15 09:59] pingpongworks commented on #1466
자켓 or 팬츠 or 스커트
    자켓+팬츠
    자켓+스커트

네~ 맞습니다.  어려운 작업이 아니라면 논의한 후 말씀드릴게요^^

일단은 **치수측정 시 시간표에서 비어있는 탈의실 번호만 보이는게 좋을 거 같다**부터 작업을 먼저 부탁드리겠습니다. 제가 오늘 해보니까 치수측정자가 시간표, PREPARATION, 사용자정보를 왔다갔다 하면서 탈의실을 지정하는게 꽤 혼란스럽더라고요.  부탁드릴게요.

[2018-07-17 04:59] keedi commented on #1446
총 기증 건수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-07-17 05:00] keedi commented on #1446
월별 기증 건수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-07-17 05:06] keedi commented on #1446
품목별 기증 의류수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-07-17 05:21] keedi commented on #1446
기증 의류 중 활용된 의류의 품목별 수량을 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

활용되었다는 표현이 애매한 관계로 기간 동안의 모든 의류의 상태 중 폐기, 옷캔, 비백, 비전 네 가지 항목을 제외하고 값을 추출합니다. 폐기의 경우 처음에는 잘 대여해주다가 손상으로 인해 이후 폐기로 수정했을 수도 있으나 이런 디테일한 부분에 대한 요구나, 고려가 없어 보이므로 폐기는 활용하지 않았다고 가정합니다. 이외의 여러 상태의 경우 직접 확인하셔서 더하시거나 빼시기 바랍니다.

[2018-07-17 05:39] keedi commented on #1446
재능 나눔 동의와 재능 나눔 분야란 항목이 무엇인가요?

[2018-07-17 05:39] keedi commented on #1446
현대해상 기증 의류수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

현대해상 기증 활용 의류수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

앞에서와 마찬가지로 활용되었다는 표현이 애매한 관계로 자료를 직접 보고 판단 바랍니다.

[2018-07-17 06:11] keedi commented on #1446
재능 나눔 동의를 한 기증자의 수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

상기 결과와 관련해 주의해야 할 사항은 다음과 같습니다.

`donation_form.status` 값의 경우 다음 4가지가 있습니다.

- `cancel` - 기증 취소함
- `delivered` - 기증박스를 보냈음
- `do-not-return` - 기증박스가 되돌아 오지 않음
- `registered` - 기증한 의류를 등록했음

7월 17일 시점 기준으로 봤을때 `registered`를 제외한 3가지 항목은 제대로 기증이 되었다고 보기 힘들 것 같아 `registered` 상태의 값만 고려합니다.

재능 나눔 분야 내용을 확인하는 질의는 다음과 같습니다.

[code]

결

[2018-07-17 06:12] keedi commented on #1446
언급된 항목 모두 정리했습니다.

[2018-07-17 12:57] pingpongworks commented on #1446
확인했습니다. 감사합니다^^

[2018-07-17 13:00] #1446 closed

[2018-07-19 02:29] aanoaa commented on #1466
동적으로 select box 의 option 목록을 변경하기 위해서는
xeditable 의 `input:select` 의 attrs 중에 `source` 를 활용할 수 있습니다.
`source` 는 `string | array | object | function` 으로 정의될 수 있습니다.

function 안에서 ajax 로 비어있는 탈의실 데이터를 fetch 해오고 그것으로 가능한 탈의실만 추가해주도록 합니다.
backend 에서 비어있는 탈의실 목록을 응답해 줄 수 있는 route 가 추가되어야 합니다.

[2018-07-19 02:43] aanoaa commented on #1466
변경 가능한 탈의실(상태)목록을 돌려주는 기능이기 때문에 `available_rooms` 혹은 `available_status` 가 적절할 것 같습니다.

- `GET /api/status` : 모든 상태를 응답
- `GET /api/status?available` : 변경 가능한 상태를 응답

------------------------

`json` 으로만 응답하도록 하면 될 것 같습니다.

[code]

[2018-07-19 05:36] pingpongworks opened #1468 "기증메시지가 없는 의류를 대여하는 경우, 자동문자 발송 요청"
대여한 의류의 기증자가 기증메시지를 함께 기증한 경우에는
다음과 같은 응원문자메시지가 대여자에게 전달되고 있습니다.

<img width="198" alt="1" src="https://user-images.githubusercontent.com/17288038/42923372-2b5578a4-8b60-11e8-8e77-4b131a2d5468.png">

그런데, 의류만 기증한 기증자의 옷을 대여할 경우에는
대여자가 어떤 응원메시지도 받지 못합니다.

그래서 **메시지 없는 기증의류를 대여하는 경우
다음과 같이 옷장지기가 작성한 응원메시지가 자동 발송되도록** 요청드립니다.

[code]

위와 같이 기증메시지없는 의류를 대여할 경우,
공통된 내용으로 자동문자 발송이 가능할까요?
확인 부탁드립니다.

[2018-07-19 05:37] aanoaa commented on #1466
원활하게 작업된 것은 아닙니다.
`editable` 의 source 설정은 초기에 binding 할때에 이루어지고 이때에 ajax 옵션을 지원한다는 뜻 이었습니다.
제가 원했던 data source 가 필요할때마다 불려지는 방식이 아니었습니다.

다행히도 data source 만을 변경하는 방식을 찾아서 적용하였습니다.
시간표탭은 적용뒤에 버그가 발견되면 대여업무에 지장이 있습니다.

제가 서포트할 수 있도록 준비하고 옷장지기가 테스트할 수 있는 환경에서 배포하도록 하겠습니다.

[2018-07-19 05:42] pingpongworks commented on #1466
네~ 그럼 점심시간이 시작되는 시간이나 업무가 마무리되는 시간에 하는게 좋겠네요. 오늘부터 비수기가 시작된 관계로 여유가 있습니다. 언제든 편하실 때 이야기해주세요. 혹시 제가 출근하지 않은 날이라도 @Bentleypark 님이 있으니까 테스트 가능합니다~

[2018-07-19 06:44] pingpongworks opened #1469 "5층 대여 공간 벽에 표시할 열린옷장의 히스토리용 통계"
옷장지기들이 5층 대여공간 벽에 열린옷장의 히스토리를 부착하려고 하는데 필요한 데이터가  몇가지 있다고 합니다. 다음의 통계들 부탁드릴게요~

1. 연도별 봉사자 수 (봉사횟수 아닙니다)
2. 연도별 대여편지 수
3. 연도별 기증편지 수
4. 현재까지 전체 대여 중 대여목적별 비율 => 입사면접, 결혼식, 상견례, 대학(원)면접 등등

[2018-07-19 07:32] keedi commented on #1469
가능하면 제목을 보고 어떤 요청가 작업이 이루어졌는지 확인이 가능하게 작성 부탁드립니다.

예를 들어 지금과 같은 요청이 이후 열댓개가 생겼다고 하면 지나간 이슈를 검색하는데 어려움이 있겠죠.

[2018-07-19 10:21] pingpongworks commented on #1469
네,,, 저도 올리면서 제목을 계속 고민했네요. 여러가지 통계를 요청드리다보니까 여러 개 이슈로 만들어야하나 하는 생각도,,, 일단은 제목이 검색이 될 수 있도록 수정해보았습니다^^

[2018-07-20 02:06] keedi commented on #1469
이슈에 적는 것이 대부분 다 요청이니까 굳이 요청이란 단어는 쓸 필요가 없습니다. 지금 이슈 같은 경우 세부 자료가 목적인지 아니면 5층 대여 공간 벽에 표시할 자료가 목적인지에 따라 제목이 바뀌겠죠. 일단 제가 보기에는 후자로 보이니 제목은 다시 변경해놓겠습니다.

[2018-07-20 02:24] keedi commented on #1469
연도별 대여 편지 수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

2018년의 경우 현 시점 기준이며, 반납된 주문서에 한한 결과입니다.

[2018-07-20 02:28] keedi commented on #1469
연도별 기증 편지 수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-07-20 02:35] keedi commented on #1469
현재까지 전체 대여 중 대여 목적별 비율을 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

`NULL`과 `""` 항목은 대여 목적을 넣지 않은 대여라는 의미입니다. 이외에 유사해보이는 목적이 있는 이유는 일전의 정규화(#516) 작업과 관련이 있으며 그 당시 정규화가 마무리 되지 않았거나 또는 이후로는 정규화를 시도한 적이 없어서 일 것으로 보입니다.

[2018-07-20 02:39] aanoaa commented on #1466
생각해보니 예약된 탈의실을 선택할 수 있습니다.
예약된 탈의실이란 현재는 의류준비 상태이지만 이미 탈의실을 배정받은 것을 뜻합니다.
예약된 탈의실도 선택할 수 없도록 해야 합니다.

[2018-07-20 02:46] aanoaa commented on #1466
예약된 탈의실의 데이터는 monitor 의 local DB(SQLite) 에 쌓이고 있어서 staff 에서는 접근할 수가 없습니다.

1. `GET /api/status-list?avaiable` 를 대체하는 api 를 monitor 에 추가해주거나
2. monitor 에서 예약된 탈의실의 데이터를 어딘가로 실시간 export 해주도록 해서 그걸 활용해야 합니다.

[2018-07-20 02:48] aanoaa commented on #1466
물리적으로 같은 서버를 사용하기 때문에 path 를 지정하면 사용할 수 있지만 docker 와 같은 isolate 된 환경에서는 불가능 합니다.

지금 당장의 문제해결을 위해 쉬운 길을 택하지 않고 적절한 방법을 찾아보겠습니다.

[2018-07-20 03:57] keedi commented on #1469
봉사 횟수를 확인하는 질의는 다음과 같습니다.

[code]

봉사 횟수가 아닌 연도별 봉사자 수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

2018년의 경우 현 시점 기준입니다.

[2018-07-20 03:58] keedi commented on #1469
언급된 항목 모두 정리했습니다. 이상한 부분이 있으면 알려주세요.

[2018-07-20 04:12] pingpongworks commented on #1469
확인했습니다. 감사합니다~

[2018-07-20 04:12] #1469 closed

[2018-07-20 10:52] aanoaa commented on #1466
adf61ebff07857e42b21d74968aed4d387d78a44 에서 반영하였습니다.
배포전에 monitor 의 새로운 버전이 반영되어야 합니다.

[2018-07-20 10:52] #1466 closed

[2018-07-31 07:26] pingpongworks opened #1470 "비전 트레이닝 센터에 기증한 의류 수량 : 2018년 7월"
2018-07-01 ~ 2018-07-31
1개월간 비전트레이닝에 기증된 각 품목별 의류 수량을 확인하고자 합니다.
비전트레이닝에 전달하여 기부금 영수증을 발급받아야 하는 건입니다.

#1279 참고 부탁드립니다

[2018-08-01 02:29] pingpongworks opened #1471 "2018-06-01 ~ 2018-07-31 기간 동안 고양시 쿠폰을 이용한 대여자 명단"
고양시에서 매월별로 정산을 요청하고 있습니다.
이번에는 시작했던 시기가 6월 중순이라 6월~7월 통계를 요청드립니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 6월 1일부터 2018년 7월 31일까지
goyang201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

방문대여와 택배대여가 구분되도록 부탁드립니다.

[2018-08-01 08:04] pingpongworks opened #1472 "대여목적 중 '면접 세부 목적별' 대여횟수 통계"
사용자 정보에 대여자가 입력하는 대여목적 중 세부목적별 대여횟수 통계가 필요합니다.

**간호 / 승무원 / 공무원**

위 직종의 면접을 위해 정장을 대여했던 횟수의 통계를 통해
직종별로 여성대여자가 몰리는 시기를 미리 예측하고자 합니다.
이를 통해 적정한 남여 비율의 예약자리 수를 조정하고,
미리 의류재고에 대한 대비도 할 수 있으리라 기대합니다.

다만, 대여자가 직접 기입한 내용이라 같은 '간호'직이라도 여러가지 표현으로 기입하였으므로
다음과 같은 키워드로 통계를 내주시기를 요청드립니다.

- 기간 : 2017년 1월 1일 ~ 12월 31일
- 직종별 키워드

1.  간호
2.  '간호'가 포함된
3. 병원
4. '병원'이 포함된
5. 승무원
6. '항공'이 포함된
7. 스튜어디스
8. 지상직
9.

[2018-08-02 04:39] keedi commented on #1470
2018년 7월 사이 자료를 추출하는 질의는 다음과 같습니다. (#1432)

[code]

[2018-08-02 04:39] keedi commented on #1470
현 시점 기준 결과는 다음과 같습니다.

[code]

[2018-08-02 04:42] keedi commented on #1471
2018-06 부터 2018-07 까지 goyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-08-02 04:47] keedi commented on #1471
결과 메일로 첨부드렸습니다.

[2018-08-02 04:57] pingpongworks commented on #1471
확인했습니다~ 감사합니다.

[2018-08-02 04:57] #1471 closed, assigned to keedi

[2018-08-02 04:58] pingpongworks commented on #1470
확인했습니다. 감사합니다^^

[2018-08-02 04:58] #1470 closed, assigned to keedi

[2018-08-05 08:16] pingpongworks commented on #1254
**user/104713 팔길이 오류**
키159, 몸무게 50인 여성의 팔길이로 69.5는 지나치게 긴 수치임

[2018-08-05 08:17] pingpongworks commented on #1254
**user/34970 허벅지둘레 오류**
키 182, 몸무게 94인 남성의 허벅지둘레로 64는 지나치게 작은 수치임

[2018-08-05 08:19] pingpongworks commented on #1254
**user/102414 허벅지둘레 오류**
키 173, 몸무게 87인 남성의 허벅지 둘레로 86.9는 나올 수 없음
실측했더니 58이었음

[2018-08-05 08:37] pingpongworks commented on #1254
**user/103509 배꼽둘레 오류**
키 165, 몸무게 93인 남성의 배꼽둘레가 108은 너무 큼
실측했더니 102였음

[2018-08-05 08:39] pingpongworks commented on #1254
**user/103365 엉덩이둘레 오류**
키 166, 몸무게 55인 여성의 엉덩이둘레로 104는 너무 큼

[2018-08-05 08:40] pingpongworks commented on #1254
**user/102817 허벅지둘레 오류**
키 163, 몸무게 70인 남성의 허벅지둘레로 86.8은 너무 큼

[2018-08-05 08:42] pingpongworks commented on #1254
**user/102968 팔길이 오류**
키 170, 몸무게 65인 남성의 팔길이로 67.2는 너무 큰 수치임

[2018-08-05 08:44] pingpongworks commented on #1254
**user/102374 허벅지둘레 오류**
키 165, 몸무게 54인 여성의 허벅지둘레로 78.3은 너무 큼

[2018-08-05 08:45] pingpongworks commented on #1254
**user/101945 허벅지둘레 오류**
키 154, 몸무게 56인 여성의 허벅지둘레로 64.6은 너무 큼

[2018-08-05 08:46] pingpongworks commented on #1254
**user/100898 무릎길이 오류**
키 172, 몸무게 56인 남성의 무릎길이가 무려 136.4!

[2018-08-05 08:51] pingpongworks commented on #1254
**/user/100037 엉덩이둘레 오류**
키 166, 몸무게 55인 여성의 엉덩이둘레로 103은 너무 큼

[2018-08-05 08:53] pingpongworks commented on #1254
**user/99489 엉덩이둘레 오류**
키 166, 몸무게 55인 여성의 엉덩이둘레로 103은 너무 큼

위 100037 사용자와 같은 치수에서 같은 오류가 보임

[2018-08-05 08:55] pingpongworks commented on #1254
**user/98561 팔길이 오류**
키 159, 몸무게 50인 여성의 팔길이로 69.5는 나올 수 없는 수치임

[2018-08-05 08:57] pingpongworks commented on #1254
**user/94383 엉덩이둘레 오류**
키 166, 몸무게 88인 남성의 엉덩이둘레로 73.4는 너무 작음

[2018-08-05 08:58] pingpongworks commented on #1254
**user/94996 엉덩이둘레 오류**
키 166, 몸무게 55인 여성의 엉덩이둘레로 103은 너무 큼

위 100037 사용자와 같은 치수에서 같은 오류가 보임

[2018-08-05 09:00] pingpongworks commented on #1254
**user/95453 허벅지둘레 오류**
키 182, 몸무게 94인 남성의 허벅지둘레로 93.4는 말이 안됨

[2018-08-05 09:01] pingpongworks commented on #1254
**user/91488 팔길이 오류**
키 159, 몸무게 50인 여성의 팔길이로 69.5는 나올 수 없는 수치임

98561 사용자의 치수와 같은 오류임

[2018-08-05 09:03] pingpongworks commented on #1254
**user/96624 무릎길이 오류**
키 180, 몸무게 101인 남성의 무릎길이가 77은 나올 수 없음

[2018-08-12 00:49] pingpongworks commented on #1254
user/105170 팔길이 오류
키 173, 몸무게 58인 남성의 팔길이로 79.1은 나올 수 없음

[2018-08-18 04:51] pingpongworks commented on #1472
가을시즌 대비계획 세우는데 필요한 통계라서요. 언제쯤 받을 수 있을까요? @keedi

[2018-08-21 05:21] keedi opened #1473 "2017년 7월 이후 주문서에서 대여 목적이 기록되지 않음"
#1472 이슈를 처리하면서 자료를 살펴본 결과 2017년 7월 이후 주문서부터 주문서 테이블에 대여 목적 관련 정보가 제대로 저장되지 않음을 확인했습니다. 이는 치명적이며, 이로 인해 2017년 7월부터 현시점 2018년 8월까지의 대여 목적 뿐만 아니라 관련 유사 자료의 값을 확인하는데 문제가 있는 이슈입니다.

최초로 발생한 것으로 보이는 것은 2017년 7월 24일로 추정하며, 간간이 대여 목적이 기록된 경우가 있으나 이는 전체 비중의 극히 일부입니다. 정보를 더 확인해본 결과 이는 온라인 주문서의 경우 대여 목적이 기록된 것으로 추정되며 오프라인 대여 주문서의 경우 모조리 유실되어있습니다.

관련해 상황 파악이 필요합니다.

[2018-08-21 06:13] keedi commented on #1472
#1473 문제가 있음을 확인했지만 현 시점에서 어찌할 방법은 없습니다. 일단 부정확하더라도 사용자 정보에 기록된 대여 목적 정보를 이용합니다. 몇년 전에도 논의된 바 있지만 사용자 정보에 기록된 대여 목적 정보는 가장 마지막 방문, 또는 예약 시점의 정보로 덮어 써지기 때문에 주문서 시점의 대여 목적 정보와는 다를 수 있습니다. 하지만 2017년 7월 이후로 주문서에서 대여 목적 정보가 유실되고 있으므로 일단은 사용자 정보의 목적 정보를 이용할 수 밖에 없습니다.

[2018-08-21 06:14] keedi commented on #1472
복잡한 요청이라 단일 질의로는 문제를 해결하기가 어렵습니다.

상기 요청을 해결하기 위한 질의는 다음과 같습니다.

[code]

임시 테이블과 하위 질의를 조합해 처리합니다.

[2018-08-21 06:15] keedi commented on #1472
결과는 다음과 같습니다.

[code]

[2018-08-21 06:18] keedi commented on #1472
공무원, 병원, 항공을 제외하고는 모두 기타로 처리했습니다.

[2018-08-21 06:23] pingpongworks commented on #1473
아,,, 유실된 원인이 뭘까요?
지금부터라도 복구하면 다시 데이터를 기록 가능한가요?

[2018-08-21 06:24] pingpongworks commented on #1472
일단 유실된 부분을 제외하고 전달해주신 데이터, 확인했습니다. 감사합니다~

[2018-08-21 06:26] keedi commented on #1473
확인 중인데 주문서 시스템 개편과 관련 있을 것 같습니다. 지나간 자료는 어쩔 수 없고, 원인을 찾아서 수정한다면 앞으로는 기록이 될 것이라고 봅니다. 다만 주문서 관련해서 많은 변화가 있었기 때문에 좀 꼼꼼히 살펴봐야할 것 같네요.

해당 이슈에서는 어찌됐든 유실됐다 하더라도 사용자 정보상의 대여 목적 정보를 활용해 최대한 유사하게 자료 추출은 했습니다. #1472 의 경우 중복 방문자가 많다면 실제 값과 차이가 많이 커지고 그렇지 않다면 실제 값과 큰 차이는 있지 않을 것이나 정확한 값은 아닌점은 고려해주셔야 할 듯합니다.

[2018-08-21 06:39] pingpongworks commented on #1472
그런데, 2017년 7월 이후로 기록이 유실된게 맞을까요?
유실되었다고 하기에는 병원, 기타, 항공을 합친 수와 전체 대여횟수가 거의 맞는 거 같은데요.

2017년 10월의 경우, 프로그램에 기록된 전체 대여자수가 2239명이었거든요.
위에 주신 병원,기타,항공,공무원 데이터의 2017년 10월을 합쳐보면 2,299명이네요.
유실된 데이터가 없는 듯 합니다~

[2018-08-21 06:49] keedi commented on #1472
아뇨. 정확하게 말해서 주문서의 정보의 대여목적 값이 유실되었고 그래서 사용자 정보의 대여목적 값으로 대체했다는 의미입니다. 하지만 사용자 정보의 대여목적 값은 재방문 할때마다 값이 변경될 수 있기 때문에 사용자 정보의 대여목적 값을 이용하면 정확한 당시 기록을 알 수 없다는 의미입니다. 하지만 재방문 비율이 낮은 관계로 큰 차이는 없지 않을까 예상은 하지만 다만, 정확한 값이라기 보다는 오차가 있을 수 밖에 없다(사용자 정보 값을 썼기 때문에)는 의미입니다.

[2018-08-21 06:52] keedi commented on #1472
정리하면 총합은 맞을 수 밖에 없습니다. 요청하신 기간에 해당하는 자료를 추출하니까요. 다만 값이 **공무원**로 되었다고 판단했지만 막상 당시에 **기타**였었을수도 있다는 의미죠. 예를 들어 2017년 10월 2239명이라면 2239명임은 변함이 없고 그렇게 통계가 나오지만 당시 공무원이 131명, 기타 2052라고 지금 값을 추출했지만 사실 그당시 어떤 사람은 기타였고 2018년에 재방문해서 공무원 준비라고 했을 경우 이 값은 130/2053 으로 바뀔 여지가 있는 것이죠.

[2018-08-21 07:05] pingpongworks commented on #1472
네, 그런 의미의 유실이라면 데이터의 유용성에 크게 차이가 나지는 않겠네요^^ 아무래도 기타에 포함된 부분에서 차이가 날 수는 있을 거 같은데, 감안하고 전체적인 월별 흐름을 보는 것으로 참고하겠습니다. 감사합니다^^

[2018-08-21 07:54] #1472 closed, assigned to keedi

[2018-08-22 08:41] pingpongworks commented on #1473
네~알겠습니다

[2018-08-26 09:59] pingpongworks opened #1474 "쿠폰: yongin201801 500건 발급 및 210건 제한"
- 아이디 : yongin201801
- 이름 : 용인청년희망옷장
- 제한 : 210
- 발급 : 500
- 유형 : suit
- 택배비 여부: 온라인배송비 / 온오프라인 반납택배비 모두 용인시 부담
- 사용기간 : 2018-12-31
- 서비스 시작일: 2018년 9월 1일

경기도 용인시에서 진행하는 정장대여비 지원 프로그램을 위해 쿠폰 발급을 요청드립니다.
열린옷장에서 500개의 쿠폰 번호만 전달하면 용인시에서 해당 청년에게 쿠폰번호를 전달하는 방식입니다. 이후 개인이 예약페이지를 통해 쿠폰 입력 후 예약을 진행합니다. 서울시 쿠폰과 유사한 형식이지만 용인시 내부에서 연령, 나이, 이용횟수를 체크하여 선정된 인원에게 쿠폰을 제공한다고 합니다. 따라서 열린옷장은 이상의 조건으로만 쿠폰을 발급하여 제공하면

[2018-08-26 10:02] pingpongworks opened #1475 "쿠폰: yongin201801 통계 페이지"
#1474  용인시 쿠폰 발급 건의 통계페이지 요청드립니다.
기존 지자체 쿠폰과 내용 동일합니다.

[2018-08-27 10:14] keedi commented on #1474
쿠폰 발급 이슈 등록 때 **아이디, 이름, 제한, 발급, 유형, 사용기간** 항목과 마찬가지로 **택배 비용** 관련해서도 꼭 기입 부탁드립니다. 더불어 본 이슈에 대해서도 택배 비용 부분을 추가 부탁드립니다.

[2018-08-27 10:24] pingpongworks commented on #1474
택배비용, 서비스시작일 내용 추가했습니다.
앞으로는 위 항목으로 기입해서 요청드리겠습니다~

[2018-08-28 11:15] pingpongworks commented on #1340
성수기를 대비하기 위해,
이전의 의류를 원하는 대여자의 경우,
방문전에 미리 의류를 준비하고,
입어보는 과정을 단축하자는 의견이 다시 나와서
찾아보니까 이슈내용이 이미 있네요.
진행상황이 궁금합니다.

[2018-08-28 13:24] aanoaa commented on #1340
이게 내부프로세스와도 관련이 있던 이슈라서 우선 원하는 방향을 잡아야 할 것 같습니다.
지난번에도 진행하다 말았던 이슈입니다.
해결을 위해서 제가 주말에 직접 찾아갈게요.(시간이 되시나요?)
그밖에 성수기를 대비한 이슈의 우선순위를 좀 생각해두시면 도움이 될 것 같아요.

[2018-08-28 13:39] aanoaa commented on #1340
제가 제대로 이해했다면 지난대여기록이 선택된 주문서에 대해 시간표에서 표시가 될 수
있도록 해서, 미리 의류를 준비할 수 있도록 하고 방문했을때에 정상적인 대여 프로세스를
거치지 않고 빠르게 의류를 대여하는 방법에 대한 것 입니다.

[2018-08-28 13:46] pingpongworks commented on #1340
토요일에 출근하니까 시간이 됩니다!
오전에 신입 옷장지기 교육 끝나고 12시부터도 가능하고,
오후 대여업무 끝난 후 6시 이후로도 가능합니다.
온라인에 대해서도 전체적으로 정리가 필요할 거 같은데,
우선순위를 좀 정리해 놓겠습니다~ @aanoaa

[2018-08-28 13:53] pingpongworks commented on #1340
맞습니다. 대여자가 예약시 이전 의류선택을 했더라도
대여자가 방문을 하기 전까지는 옷장지기가 알 수 없기 때문에
시간표에서 알아볼 수 있도록 표시가 되었으면 합니다.
1차적으로 요청드리고 싶은 부분은 시간표 표시입니다.

이후 정상적인 대여프로세스를 거치지 않고 빠르게 의류를 대여하는 방법에 대해서는
그동안 대여시스템 변동, 서울시쿠폰대여자 이용대장 작성 등 대여과정상 변화가 있었으므로
다시 한번 정리가 필요할 것 같습니다. @aanoaa

[2018-08-28 18:35] aanoaa commented on #1474
![opencloset-coupon-activity](https://user-images.githubusercontent.com/170528/44745306-4f371000-ab42-11e8-8ffe-7d61b33f7a32.png)

https://github.com/opencloset/opencloset/issues/1319#issuecomment-337493429 처럼 스크립트를 통해서 쿠폰을 발급한 후에 제한이 있다면 https://github.com/opencloset/opencloset/issues/1451#issuecomment-398293697 처럼 `coupon_limit` 테이블에 insert 하는 쿼리를 실행해야 합니다.

[2018-08-28 18:57] aanoaa commented on #1474
택배비를 누가 부담하는가를 고려해야 합니다.
관련해서 기억나는 내용이 없어서 이력을 찾아보았습니다.

---

택배비 부담관련된 내용은 `coupon.free_shipping` 에 설정하면 되는 것 같습니다.
<https://github.com/opencloset/OpenCloset-Schema/issues/138>

(와 내가 작업했네.. 기억이 1도 안납니다.)

    mysql> SELECT free_shipping FROM coupon GROUP BY free_shipping;
    +---------------+
    | free_shipping |
    +---------------+
    |             0 |
    |             1 |
    +----------

[2018-08-28 19:20] aanoaa commented on #1474
기억이 안나서 괴로워서 [쿠폰발행 작업 절차](https://github.com/opencloset/opencloset/wiki/쿠폰발행-작업-절차) 를 따로 정리하였습니다.
이 문서를 토대로 쿠폰을 요청/발행 하면 좋을 것 같습니다.

[2018-08-28 19:31] aanoaa commented on #1474
쿠폰을 발행했고 제한도 설정했습니다.

    INSERT INTO `coupon_limit`
        ( `cid`, `limit`, `create_date`, `update_date` )
        VALUES
        ( 'yongin201801', 210, NOW(), NOW() )
    ;

[2018-08-28 19:33] aanoaa commented on #1474
email 로 전달해 드렸습니다.

[2018-08-28 19:33] #1474 closed, assigned to aanoaa

[2018-08-28 19:49] aanoaa commented on #1475
방금전에 서버에 적용했으니까 익일부터 통계페이지에 접근할 수 있을 것 입니다.
(한번 수집 된 이후부터 가능)

[2018-08-28 19:57] aanoaa commented on #1475
ae2952b6eff7f98e25bc0606595d8cc194163ea9 통계화면 이벤트 목록에 추가했습니다.

[2018-08-29 02:14] pingpongworks commented on #1474
쿠폰 확인했어요~

[2018-08-29 02:26] pingpongworks commented on #1475
확인했어요~

[2018-09-01 02:29] aanoaa commented on #1340
열린옷장의 정책상 예약이 가능하지 않습니다.
하지만 재대여이고 지난 대여기록중 원하는 의류가 있다면 daily 로 의류를 포장해두거나 준비해두는 기능입니다.
(정확하지 않습니다. 어떻게 할지 정해야 합니다.)

초기의 (전)한대표님의 아이디어입니다.

1.  대여자가 방문예약시에 지난대여이력을 선택한다.
2.  staff 서비스의 시간표에서 날짜별로 준비가능한 의류의 수를 남여별로 표시한다.
3.  staff 서비스의 시간표에서 준비가능한 주문서의 경우 구분가능하게 표시한다.
4.  staff 서비스의 주문서목록에서 미리 준비 가능한 주문서의 목록을 제공한다.
5.  대여자가 현장방문을 했을때 의류가 준비되어 있다면 치수측정이 아닌 탈의 혹은 그 이상의 단계로 넘어간다.

이렇게 준비가 된다면, 옷장지기는

[2018-09-01 02:42] aanoaa commented on #1340
위에 상세하게 말씀해주셨지만 제 생각으로는 이게 꼭 시간표에 들어가야 하는 건 아니라고 생각합니다.
어디에 어떤 기능이 필요한지는 빼고 필요로하는 기능은 아래와 같습니다.

1.  날짜별로 의류준비가 가능한 주문서목록과 의류준비에 필요한 데이터를 제공
2.  옷장지기는 `1.` 을 참고해서 의류를 패키징하고 해당 주문서의 데이터를 손쉽게 변경
    (상태가 될지 뭐가 될지 모르겠습니다. 이 주문서는 패키징이 되었다는 것을 마킹해두는 것 입니다)
3.  대여자가 방문했을때에 패키징 되어 있다면 상태가 (의류준비/탈의/포장) 으로 변경

staff 서비스의 주문서 목록에서 의류를 준비하기 위한 데이터를 표시하기 적절하지 않을 것 같습니다.
주문서의 목록이 staff 가 아니라 monitor 의 의류준비와 비슷

[2018-09-01 03:13] aanoaa commented on #1340
요구사항을 보면 지난 대여이력중에 선택한 주문서 뿐만 아니라, 방문해서 미리 입어본 경우에도 대응할 수 있어야 합니다.
대여자 입장에서는 미리 방문해서 입어본 후에 "다음에 왔을때 이 옷 또는 이 옷과 유사한 옷을 주세요."
라고 얘기하는 행위가 끝입니다.
이를 바탕으로 다음 방문때에 의류가 준비되어 있어야 합니다.

지난 대여이력을 선택하는 것은 이번 방문예약때에 대여-반납이 이루어진 주문서중에 하나를 선택합니다.
옷장지기가 입력하는 과정은 없습니다. 이는 포장/결제할때에 이미 입력이 된 데이터 입니다.

하지만 입어보는 경우라면 어떤 주문서에 입어본 의류를 입력하는 과정이 필요하고 입력된 이후에는
대여자가 대여이력을 선택한 것과 같은 과정이 시스템에서 자동으로 이루어져야 합니다.

[2018-09-01 06:35] aanoaa commented on #1340
입어보고 가는 대여자들의 문제는 더 고민해봐야합니다.

의류를 입어보기 위해서

1.  예약없이 방문
2.  예약일 보다 먼저 방문
    -   한번 예약
    -   두번 예약(입어보기위한 예약 + 대여일 예약)
3.  예약일에 방문

하는 경우가 있을 수 있습니다.
**예약없이 방문했을때에는 어떻게 처리하고 계신가요?**

의류를 입어본 경우에 보통 다시 방문하지 않고 택배를 통해서 받기를 원할 것 같습니다.
그렇게 된다면 **의류를 언제 패키징 하는게 좋을까요?**

[2018-09-03 01:53] pingpongworks opened #1476 "2018-08-01 ~ 2018-08-31 기간 동안 고양시 쿠폰을 이용한 대여자 명단"
고양시에서 매월별로 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 8월 1일부터 2018년 8월 31일까지
goyang201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

방문대여와 택배대여가 구분되도록 부탁드립니다.

[2018-09-03 01:57] pingpongworks opened #1477 "비전 트레이닝 센터에 기증한 의류 수량 : 2018년 8월"
2018-08-01 ~ 2018-08-31
1개월간 비전트레이닝에 기증된 각 품목별 의류 수량을 확인하고자 합니다.
비전트레이닝에 전달하여 기부금 영수증을 발급받아야 하는 건입니다.

[2018-09-04 08:41] keedi commented on #1477
2018년 8월 사이 자료를 추출하는 질의는 다음과 같습니다. (#1432)

[code]

[2018-09-04 08:41] keedi commented on #1477
현 시점 기준 결과는 다음과 같습니다.

[code]

[2018-09-04 08:49] pingpongworks commented on #1477
확인했습니다. 감사합니다~

[2018-09-04 08:49] #1477 closed, assigned to keedi

[2018-09-04 09:15] keedi commented on #1476
2018-08 첫 날 부터 2018-08 마지막 날까지 goyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-09-04 09:15] keedi commented on #1476
결과 메일로 첨부드렸습니다.

[2018-09-04 09:47] pingpongworks commented on #1476
메일 확인했습니다. 이상없습니다. 감사합니다~

[2018-09-04 09:47] #1476 closed, assigned to keedi

[2018-09-08 04:16] pingpongworks opened #1478 "대여 시스템의 변화에 따라 주중 및 주말 예약 가능 인원을 늘림"
대여공간 확장, 탈의실 확충 등 대여시스템의 변화로
예약가능 인원을 늘리고자 합니다.

    [월~금]
    10: 00~5:00 남자 6명 / 여자 6명
    5:30 남자 3명 / 여자 3명

    [토~일]
    10: 00~5:00 남자 5명 / 여자 5명
    5:30 남자 3명 / 여자 3명

예약활성화 예약가능인원 수정부탁드립니다~

주중과 주말 예약인원 활성화를 다르게 하는게 가능하지 않다면
월~금으로 요청드린 내용을 주말까지 통일해서 해주셔도 됩니다.

[2018-09-09 01:34] keedi commented on #1478
주중과 주말 또는 요일별 예약 인원 활성화 설정이 가능합니다. 언급해주신대로 처리하겠습니다. :)

[2018-09-09 01:40] keedi commented on #1478
점심 시간 대역에 예약을 불가하게 하는것은 여전한지, 해당 시간 대역은 동일한지 확인 부탁드립니다.

[2018-09-09 03:37] pingpongworks commented on #1478
아, 그 부분은 빼먹었네요. 동일합니다.

오전 예약 >> 10:00 - 11:30
오후 예약 >> 2:00 - 5:30

[2018-09-09 05:18] keedi commented on #1478
적용했습니다. 이상 있으면 알려주세요. :-)

[2018-09-09 09:29] pingpongworks commented on #1478
확인했습니다. 감사합니다~

[2018-09-09 09:29] #1478 closed, assigned to keedi

[2018-09-11 10:30] pingpongworks opened #1480 "2018년 가을 뉴스레터 발송용 기증자 이메일 리스트"
2017년 3월 28일부터 현재 2018년 9월 11일까지의 리스트 요청드립니다.
#1216 이슈와 같은 포맷입니다. 추석인사를 겸한 뉴스레터라 9월 16일(일)까지 요청드립니다.

[2018-09-12 00:46] keedi commented on #1480
혹시나 해서 확인차 여쭤보는데, 2017년 3월  28일인가요? 2018년 3월 28일 인가요?

[2018-09-12 07:30] pingpongworks commented on #1480
2017년 3월 28일부터 맞습니다.
이전에 받았던 리스트가 정리가 되어있지 않아서 2017년 3월 28일 이후로 받았으면 한다고 합니다.

[2018-09-12 07:57] pingpongworks commented on #1340
@aanoaa 이 이슈는 그 동안 논의한 내용에 연결해서 생각을 발전시키기가 좀 어려운 듯 합니다. 현 시점에서  옷장지기들이 대여자를 실제 어떻게 응대하고 있는지를 바탕으로 좀더 심플하게 프로그램과 관련된 개선점을 다시 정리해보는 것이 효율적이지 않을까 합니다.  대여현장에서 원하는 프로세스가 정리되면 다시 요청드리겠습니다.

[2018-09-13 04:32] keedi commented on #1480
기증자 이메일 목록을 구하는 질의는 다음과 같습니다.

[code]

지금까지 추출했던 결과와 마찬가지로 동일 기증자가 여러번 기증한 경우 목록에 여러번 나옵니다. 동일 기증자를 한 건으로 표시하려면 말씀해주세요. 대신 이 경우 결과물에서 언제 기증했는지 날짜 정보는 표시할 수 없습니다.

[2018-09-13 04:36] keedi commented on #1480
실 자료는 메일로 전달드렸습니다.

[2018-09-15 00:52] pingpongworks commented on #1480
확인했습니다. 감사합니다~

[2018-09-15 00:52] #1480 closed, assigned to keedi

[2018-09-17 04:50] pingpongworks opened #1481 "2018-07-01 ~ 2018-08-31 기간 동안 안양시 쿠폰을 이용한 대여자 명단"
안양시에서 내부 업무 관계로 요청하고 있습니다.

2018년 7월 1일부터 2018년 8월 31일까지
anyang201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

[2018-09-17 04:58] pingpongworks commented on #1481
확인했습니다~ 감사합니다^^

[2018-09-17 04:58] #1481 closed, assigned to keedi

[2018-09-17 07:36] pingpongworks opened #1482 "[광주시 쿠폰] gwangju201801 통계 페이지 오류"
9월 대여 통계가 잡히지 않고 있습니다.
오류 해결 부탁드립니다.

[2018-09-22 05:53] aanoaa commented on #1482
https://github.com/opencloset/OpenCloset-Cron-Visitor/commit/d554db13870e69eb9612d8922a268727d1d4969e

광주 통계 오류를 확인하는 도중에, 용인통계에 문제가 있음을 발견하였습니다.
`yongin` 이라고 해야 하는데 `yongbin` 이라고 적었음.

[2018-09-22 06:09] aanoaa commented on #1482
의미 없는 로그가 많아서 실제 오류 로그를 찾기가 어려운 점이 있습니다.
10초마다 등록된 이벤트별로 두줄씩 찍히는 로그는 남길 필요가 없어보입니다.

    2018-09-21 00:10:26.687983 +0900 debug OpenCloset::Cron::Worker: insert_event_hanshin_univ_daily: cron[14 00 * * *]
    2018-09-21 00:10:26.688018 +0900 debug OpenCloset::Cron::Worker: insert_event_hanshin_univ_daily: timer is already exists

[2018-09-22 06:49] aanoaa commented on #1482
이름은 yongbin 으로 했지만 실제 동작은 yongin 으로 됐습니다.

1.  `insert_event_yongbin201801_daily` 함수는 없지만 export 되었습니다.
2.  `insert_event_yongin201801_daily` 함수는 export 되지 않았지만 호출되었습니다.

global namespace 로써 호출되었기 때문에 동작에는 문제가 없었습니다.
통계페이지가 생성되었다는 것이 그것입니다.

일간 통계가 보인다는 것은 수집되었다는 것 입니다.
`gwangju201801` 통계도 일별로 수집되었습니다.

통계는 수집되고 있습니다.
실제로 쿠폰이 사용되었음에도 통계에 0건으로 나온다면, 수집방법에 문제가 있는 것 같습니다.
(정말로 사용되지 않았거나)

[2018-09-22 06:50] aanoaa commented on #1482
오히려 문제가 발견된 것은 linkstart 의 통계입니다.

    2018-09-21 00:08:00.008035 +0900 info  main: insert_event_linkstart_daily[08 00 * * *] launched
    unhandled callback exception on event (start, OpenCloset::Cron=HASH(0x297bb88), ): Undefined subroutine &main::event_linkstart called at /path/to/bin/opencloset-cron-visitor.pl line 203.

[2018-09-23 08:53] pingpongworks commented on #1482
@aanoaa 아, 이럴수가! 인내심을 가지고 9월 시간표를 모두 살펴본 결과, 광주시 쿠폰은 사용되지 않았기 때문에 통계가 제로로 나온 것입니다. 9월 3일에 광주시쿠폰으로 예약한 1명이 있었는데, 중복쿠폰사용으로 떠서 쿠폰으로 결제를 하지 못했고, 그 이후로 한건도 없었습니다. 오류가 아닐 가능성이 큽니다.

[2018-09-23 08:55] pingpongworks commented on #1482
일단은 광주시에 예약기록이 없어서 '0'으로 통계가 뜬 것이라 문제가 없다고 전달하겠습니다. 이후에 이용자가 있는데도 같은 현상이라면 다시 요청하겠습니다. 본 이슈는 용인시, 링크스타트 정리되시면 닫아주셔도 될 거 같습니다.

[2018-09-23 08:55] aanoaa commented on #1482
https://github.com/opencloset/OpenCloset-Cron-Visitor/issues/16#issuecomment-423723047

그거 제가 여기에 남겨놨는데..

[2018-09-23 09:02] pingpongworks commented on #1482
추석연휴라 시간이 남아돌아서 직접 한번 더 확인했습니다~ㅎㅎ

[2018-09-25 02:10] aanoaa commented on #1473
상세대여목적(`purpose2`)에 대해서 말씀하시는 건가요?
대여목적과 상세대여목적이 `user_info` 테이블에서 참조되어서 사용되고 있습니다.
왜 그런지 언제부터인지는 모르겠습니다.

다행히도 `user_info.purpose2` 에는 데이터가 존재합니다.
여러번 방문하는 대여자의 경우에는 최근 대여목적|상세대여목적만이 덮어써져서 남게됩니다.

주문서마다 존재해야 하는게 맞는거 같은데 아마도 작년여름에 바꿀때 신경쓰지 못한 것 같습니다.

---

사용자 생성은 인증번호 validation 하는 과정에서 이루어집니다.
방문예약을 할때에 purpose 와 pupose2 가 user_info 에 기록됩니다.
order 에 purpose2 를 언제 뺏는지는 더 찾아보고 있습니다.

[2018-09-26 00:53] aanoaa commented on #1473
포장 -> 결제대기 상태로 변경되면 사용자정보를 주문서에 동기화 시키는 기능이 있었습니다.
그걸 제가 작업하면서 빼먹었습니다. (d1b777f350f1)

[code]

[2018-09-26 01:01] aanoaa commented on #1473
[새로운 결제 및 반납 화면의 구성 #1277](https://github.com/opencloset/opencloset/issues/1277#issuecomment-312540621)

이때에 신체치수 정보는 `사용자정보 -> 주문서` 로 옮겼는데,
대여목적, 착용일, 카테고리 등등은 옮기지 않은 것 같습니다.

https://github.com/opencloset/OpenCloset-API/blob/develop/lib/OpenCloset/API/Order.pm#L750

[2018-09-26 01:39] aanoaa commented on #1473
wearon_date  => $user_info->wearon_date,
    purpose      => $user_info->purpose,
    purpose2     => $user_info->purpose2,
    pre_category => $user_info->pre_category,
    pre_color    => $user_info->pre_color,
    height       => $user_info->height,
    weight       => $user_info->weight,
    neck         => $user_info->neck,
    bust         => $user_info->bust,
    waist        => $user_info-

[2018-09-26 01:56] aanoaa commented on #1473
못찾겠네..

[2018-09-26 08:46] aanoaa commented on #1473
데이터가 있기도 하고 없기도 한 것은 `OpenCloset::API` 의 test 에 의해 생성된 데이터 였습니다.
이를 제외하고 쿼리를 해보면 지난 5월 or 7월 부터 아래 데이터가 주문서에 빠져있습니다.

-   purpose
-   pre_category
-   pre_color
-   desc
-   purpose2

아 테스트 데이터때문에 겁나 삽질..

[2018-09-26 08:49] aanoaa commented on #1473
기존처럼 `결제대기 -> 대여중` 으로 변경될때에 신체치수 이외의 필요한 정보를 주문서에 복사하도록 하면 해결될 것 같습니다.

[2018-09-26 09:45] aanoaa commented on #1473
다음 버전에 수정될 예정입니다.
배포는 @keedi 님이 해주세요.

staff 는 바뀐게 없는데 의존성 모듈을 업그레이드 하고 서비스를 재시작해주어야 합니다.

[2018-09-26 09:46] aanoaa commented on #1473
닫으면 찾기 어려울 것 같아서 다시 열겠습니다.
배포 후에 닫히면 될 것 같습니다.

[2018-09-27 08:33] keedi commented on #1481
2018-07 부터 2018-08 까지 anyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-09-29 07:41] pingpongworks opened #1484 "2018-07-01 ~ 2018-09-30 기간 동안 gwangju201801 쿠폰을 이용한 대여자 명단"
광주시에서 분기별로 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 7월 1일부터 2018년 9월 30일까지
gwangju201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

30일까지 9월 대여 마무리된 후 월요일에 주시면 됩니다~

[2018-09-29 07:45] pingpongworks opened #1485 "2018-08-01 ~ 2018-09-30 기간 동안 goyang201801 쿠폰을 이용한 대여자 명단"
고양시에서 매달 정산을 요청하고 있지만, 8월 이용자가 적어
이번에는 9월에 한꺼번에 정산을 합니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 8월 1일부터 2018년 9월 30일까지
goyang201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

내일까지 9월 대여 마무리 된 후 월요일에 주시면 됩니다~

[2018-09-29 08:13] pingpongworks opened #1486 "2018-07-01 ~ 2018-09-30 기간 동안 anyang201801 쿠폰을 이용한 대여자 명단"
안양시에서 분기별로 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 7월 1일부터 2018년 9월 30일까지
 anyang201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

30일까지 9월 대여 마무리된 후 월요일에 주시면 됩니다~

[2018-09-29 08:15] pingpongworks opened #1487 "2018-07-01 ~ 2018-09-30 기간 동안 gunpo201801 쿠폰을 이용한 대여자 명단"
군포시에서 분기별로 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 7월 1일부터 2018년 9월 30일까지
gunpo201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

30일까지 9월 대여 마무리된 후 월요일에 주시면 됩니다~

[2018-09-30 03:01] aanoaa commented on #1473
배포하였습니다.

[2018-09-30 03:01] #1473 closed, assigned to keedi

[2018-09-30 09:33] pingpongworks opened #1488 "비전 트레이닝 센터에 기증한 의류 수량 : 2018년 9월"
2018-09-01 ~ 2018-09-30
1개월간 비전트레이닝에 기증된 각 품목별 의류 수량을 확인하고자 합니다.
비전트레이닝에 전달하여 기부금 영수증을 발급받아야 하는 건입니다.

[2018-09-30 12:45] keedi commented on #1488
2018년 9월 사이 자료를 추출하는 질의는 다음과 같습니다. (#1432)

[code]

[2018-09-30 12:45] keedi commented on #1488
현 시점 기준 결과는 다음과 같습니다.

[code]

[2018-09-30 13:01] keedi commented on #1486
2018-07 부터 2018-09 까지 anyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-09-30 13:20] keedi commented on #1487
2018-07 부터 2018-09 까지 gunpo201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-09-30 13:22] keedi commented on #1485
2018-08 부터 2018-09 까지 goyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-09-30 13:42] keedi commented on #1484
2018-07 부터 2018-09 까지 gwangju201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-10-01 11:16] pingpongworks commented on #1484
데이터 확인하고 정산 요청 마쳤습니다. 감사합니다~

[2018-10-01 11:16] #1484 closed, assigned to keedi

[2018-10-01 11:16] pingpongworks commented on #1487
데이터 확인하고 정산 요청 마쳤습니다. 감사합니다~

[2018-10-01 11:16] pingpongworks commented on #1487
데이터 확인하고 정산 요청 마쳤습니다. 감사합니다~

[2018-10-01 11:16] #1487 closed, assigned to keedi

[2018-10-01 11:17] pingpongworks commented on #1485
데이터 확인하고 정산 요청 마쳤습니다. 감사합니다~

[2018-10-01 11:17] #1485 closed, assigned to keedi

[2018-10-01 11:17] pingpongworks commented on #1486
데이터 확인하고 정산 요청 마쳤습니다. 감사합니다~

[2018-10-01 11:17] #1486 closed, assigned to keedi

[2018-10-01 11:18] pingpongworks commented on #1488
확인했습니다. 감사합니다~

[2018-10-01 11:18] #1488 closed, assigned to keedi

[2018-10-02 02:02] pingpongworks commented on #1475
용인시에서 직접 확인할 수 있는 visit 페이지 URL이
고양시 통계 페이지로 연결되어 있습니다.
빠른 오류수정 부탁드립니다.

[2018-10-13 03:13] pingpongworks opened #1489 "서울시쿠폰 예약이 열린옷장 주문서에서만 안되는 오류"
**user/108494**

서울시쿠폰 관리자페이지에서는 예약확인이 되었는데
열린옷장 주문서에서는 쿠폰예약이 반영되지 않아 확인이 불가능한 오류입니다.

일단 서울시쿠폰 홈페이지 상에서 대여완료를 수동으로 처리하여 무료대여로 진행했습니다.
원인파악 부탁드립니다.

[2018-10-15 11:01] pingpongworks opened #1490 "자신감 프로그램 모집을 위한 대여자 명단"
자신감 때문에 고민하는 청년을 위한 컨설팅 프로그램 2차를 모집하고 있습니다.
프로그램에 대한 설명은 블로그를 참조해주세요.
http://blog.theopencloset.net/221373239665

SNS홍보만으로는 잘 알려지지가 않아 지원상황이 생각보다 좋지 않습니다.
좋은 기회를 대여자들에게도 적극적으로 알리고자 문자메시지 홍보를 하려고 합니다.
아래 요건을 충족하는 대여자들의 명단 (성명, 전화번호, 이메일 포함)을 요청드립니다.

- 2018년 1월~현재까지 대여자
- 35세 이하 남여
- 주소지 서울, 경기, 인천으로 한정
- 2회 이상 or 3회 이상 대여한 자

지원기간이 많이 남지않아 가능하면 빨리 부탁드립니다.
늦어도 10월 17일 수요일 전까지 가능하다면 좋을 거 같은데
더 오래 걸린

[2018-10-15 14:03] keedi commented on #1490
35세 이하는 현 시점 기준 생년이 1983년을 의미합니다. 더불어 쿠폰 사용여부랑 별개로 2회 또는 3회 이상 대여자 명단을 의미하며, 2회 이상 명단과 3회 이상 명단을 별도로 추출해야 합니다.

[2018-10-15 14:08] keedi commented on #1490
2회 이상 ~ 3회 이상 대여 횟수는 2018년 기록만으로 판단합니다.

[2018-10-15 14:39] keedi commented on #1490
조건을 만족하는 대여자 명단을 추출하는 질의는 다음과 같습니다.

[code]

[2018-10-15 14:41] keedi commented on #1490
명단을 추출해본 결과 조건을 만족하는 대여자 중 2회 이상 대여자는 약 3천명, 3회 이상 대여자는 약 900명 이었습니다. 인원이 충분히 많으므로 3회 이상 대여자 명단만 정리해서 첨부드리겠습니다.

[2018-10-15 14:47] keedi commented on #1490
결과 메일로 첨부드렸습니다. :-)

[2018-10-16 03:27] pingpongworks commented on #1490
네~ 확인했습니다. 덕분에 오후에 바로 문자 발송할 예정입니다. 감사합니다^^

[2018-10-16 03:27] #1490 closed, assigned to keedi

[2018-10-20 14:55] aanoaa opened #1491 "주기적으로 주소데이터를 업데이트"
스크립트 한번 돌려서 되면 좋고,
이게 자동화까지 된다면 아주 좋습니다.

아직 확인된건 아니지만,
https://github.com/opencloset/OpenCloset-Share-Web/issues/211 와 같은 이슈의 발생을 줄일 수 있을 것 같습니다.

[2018-10-22 04:18] pingpongworks opened #1492 "쿠폰: anyang201801 100건 발급 및 100건 제한"
안양청년옷장의 추가 쿠폰 발행을 요청드립니다.

- 아이디 : anyang201801
- 이름 : 안양 청년옷장
- 발급 : 100
- 유형 : suit
- 택배비 여부: 온라인배송비 / 온오프라인 반납택배비 모두 안양시 부담
- 사용기간 : 2018-12-31

안양시에서 진행하는 프로젝트를 위해 쿠폰 발급을 추가요청드립니다.
쿠폰번호 발급은 10월 26일 (금)까지 요청드립니다.

[2018-10-22 04:23] pingpongworks opened #1493 "쿠폰: anyang201801 100건 추가 발급 및 제한없음"
안양청년옷장의 기존 쿠폰이 거의 소진되어 추가 쿠폰 발행을 요청드립니다.

- 아이디 : anyang201801
- 이름 : 안양 청년옷장
- 발급 : 100
- 유형 : suit
- 택배비 여부: 온라인배송비 / 온오프라인 반납택배비 모두 안양시 부담
- 사용기간 : 2018-12-31

안양시에서 진행하는 프로젝트를 위해 쿠폰 발급을 추가요청드립니다.
쿠폰번호 발급은 10월 26일 (금)까지 요청드립니다.

[2018-10-25 11:55] aanoaa commented on #1492
이건 중복이므로 닫겠습니다.

[2018-10-25 11:55] #1492 closed, assigned to nobody

[2018-10-25 11:57] aanoaa commented on #1493
100건 발급이니 100건 제한은 필요가 없지않나 싶습니다.

[2018-10-25 11:59] aanoaa commented on #1493
기존에 사용중이던 청년옷장의 이벤트명은 ` anyangyouth` 이었습니다.
구분이 필요하신건가요?

[2018-10-25 12:00] aanoaa commented on #1493
이름이 바뀌면 통계가 분리됩니다.

[2018-10-25 12:06] pingpongworks commented on #1493
네,,100건 제한은 필요없겠네요

[2018-10-25 12:09] pingpongworks commented on #1492
앗? 이슈가 중복이네요. 저번에 인터넷이 불안정해서 2번 정리했는데 2개가 되었나보네요.

[2018-10-25 12:13] pingpongworks commented on #1493
https://github.com/opencloset/opencloset/issues/1425
https://github.com/opencloset/opencloset/issues/1438
제가 담당하기 전에  `anyang201801`로 이슈가 여러개 올라와있어서요. 어떤게 맞는 걸까요?

[2018-10-25 12:17] aanoaa commented on #1493
확인해보겠습니다.

[2018-10-25 12:31] aanoaa commented on #1493
제가 찾은 이력은 이렇습니다.

`anyangyouth` 는 쿠폰 제한 작업이 추가되면서 2018년도 쿠폰이름이 `anyang201801` 으로 변경됨

anyang201801: 800개 2018-12-04, 2018-04-23
anyangyouth: 300개 2017-08-01

---

`anyang201801` 으로 작업해야 합니다.
통계도 수집되고 있습니다.

[2018-10-25 12:36] aanoaa commented on #1493
이메일로 전달해드렸습니다.

[2018-10-25 13:01] pingpongworks commented on #1493
네~ 부탁드려요.

[2018-10-25 13:12] pingpongworks commented on #1493
확인하고 전달했습니다. 감사합니다^^

[2018-10-25 13:12] #1493 closed, assigned to aanoaa

[2018-10-25 16:55] keedi commented on #1493
작업하러 들어왔는데 처리하셨군요.

이미 있던 쿠폰이기 때문에 제목 변경하겠습니다.

[2018-10-25 16:59] keedi commented on #1493
더이상 `anyangyouth` 와 같은 쿠폰 명은 없습니다. 모든 쿠폰은 `<이름><연도><회차>`와 같은 방식으로 사용하고 있습니다. 이 경우 동일 쿠폰이라도 추가 발급이 용이하며 동일 연도에 발행한 쿠폰이라도 회차가 다를 경우 헷갈리지 않기 때문입니다. 더불어 상기 쿠폰명은 특별한 것이 없다면, 열린옷장 측에서 정하고 기억해서 알려주셔야 할 내용입니다. 이미 이슈에서 `anyang201801`이라고 명시했기 때문에 잘 인지하신 것으로 보이며(아니라면 이 부분은 정확하게 관리하셔야 합니다.) 다만 **발급**이 아닌 **추가 발급**으로만 명명해주시면 될 것 같고, 100건에 100건 제한이면 제한이 없는 것이므로 **제한없음**이라고 제목에 적어주시면 됩니다.

[2018-10-26 07:50] pingpongworks commented on #1493
네~ 알겠습니다

[2018-10-29 08:32] pingpongworks commented on #1491
주소 검색이 안된다는 분들이 계속 발생하고 있습니다. 주소 업데이트 작업은 어려운 작업일까요?

[2018-10-29 09:45] aanoaa commented on #1491
주기적으로 업데이트 하도록 하려면 볼륨이 있고요.(자동화)
지난 갱신 이후에 지금까지 누락된 데이터를 업데이트 하는 작업이라면 하루+ 정도 소요될 것 같습니다.

[2018-10-29 11:35] pingpongworks commented on #1491
그럼, 시간 되시는대로 부탁드리겠습니다~

[2018-10-31 10:28] pingpongworks opened #1494 "서울시쿠폰 사용자의 온라인 주문내역, 쿠폰 관리자페이지 연동 오류"
온라인으로 서울시쿠폰으로 결제한 사용자 user/109981의
최근 주문내역 2건이 취날 관리자페이지에서 검색되지 않고 있습니다.

orders/119972
orders/119835

대여자가 연속 면접이 생겨서 연장을 하려고 했는데
본인의 주문서를 찾을 수가 없어서 열린옷장 쪽으로 문의를 해오는 바람에 발견이 된 건입니다.
일단 연장대여 처리를 해야해서 주문서를 따로 생성해서 쿠폰처리를 했는데
여전히 주문내역이 관리자페이지에서는 검색이 되지 않고 있습니다.

아이넷에 확인을 해보니 열린옷장 홈페이지에서 온라인 신청한 신호가
취날 관리자페이지로 제대로 전달이 되지 않은 것 같다고 합니다.

확인부탁드립니다.

[2018-10-31 11:28] aanoaa commented on #1494
취업날개로 방문예약/방문예약 변경할때에는 예약시간을 변경하는 API 를 호출합니다.
이때에 요청이 실패하면 STDERR 로 남기긴하는데 이걸 capture 해서 로그로 남기지 않았기 때문에 실패 여부를 알 수 없습니다.

쿠폰이 사용되면 다음날 새벽에 쿠폰의 상태를 업데이트 하는 API 를 일괄로 요청하는데 이건 로그로 남깁니다.
최근에 2018-10-13 ~ 오늘까지 실패한게 없습니다.

좀 더 자세한 내용을 파악해봐야 할 것 같습니다.

그리고 주문서 번호 118443 는 온라인 주문서 아닙니다.

[2018-10-31 11:31] aanoaa commented on #1494
예약시간 변경에 대해 실패하는 건에 대해 로그를 남기도록 하겠습니다.

우리쪽의 쿠폰 상태가 올바르게 바뀌었고 API 콜도 성공했는데 취업날개 쪽에서 검색이 안된다는 것은 더 파악이 필요합니다.
가능하다면 취업날개 관리자 화면에서 id 로 검색을 해보던지 해야 할 것 같습니다.

자세한 쿠폰 id 는 email 로 전달해드리겠습니다.

[2018-10-31 11:47] aanoaa commented on #1494
로그를 남기도록 하였습니다.
취업날개와 관련된 예약이라 테스트를 못해본게 불안하긴 하지만..

[2018-11-01 00:24] pingpongworks commented on #1494
네 맞습니다. 118443은 예전에 문제가 없었던 방문대여건입니다. 이번 일과는 관계가 없습니다.

[2018-11-01 00:27] pingpongworks commented on #1494
코드번호로는 모든 주문서가 검색이 됩니다.  대여자는 대부분 이름으로 검색을 하게 되는데 검색이 되지 않습니다.

[2018-11-01 09:55] pingpongworks opened #1495 "비전 트레이닝 센터에 기증한 의류 수량 : 2018년 10월"
2018-10-01 ~ 2018-10-31
1개월간 비전트레이닝에 기증된 각 품목별 의류 수량을 확인하고자 합니다.
비전트레이닝에 전달하여 기부금 영수증을 발급받아야 하는 건입니다.

[2018-11-03 12:54] aanoaa commented on #1495
#1488 과 같은 종류의 이슈입니다.

[2018-11-03 12:59] aanoaa commented on #1495
아래 질의로 확인할 수 있지만, 10월달의 결과는 없습니다.
모두 0건 입니다.

[code]

[2018-11-04 00:38] pingpongworks commented on #1495
알겠습니다. 감사합니다^^

[2018-11-04 00:38] #1495 closed, assigned to keedi, aanoaa

[2018-11-04 00:42] pingpongworks commented on #1494
일단 정산 관련해서는 10월 이용내역에 포함이 되어있어서 문제가 없습니다. 이후 같은 문제가 다시 발견되면 다시 말씀드리겠습니다.

[2018-11-04 00:42] #1494 closed, assigned to keedi, aanoaa

[2018-11-04 07:05] aanoaa commented on #1491
가장 간단한 방법은 주기를(1개월? 3개월?) 가지고 데이터를 업데이트 하는 방법을 알아두고 새벽시간에 실행하는 것 입니다.

-   업데이트 하는 방법을 파악해야 합니다.
-   php 에 의존성을 가집니다.
    -   서버에 php 와 관련된 패키지를 설치해야 합니다.
-   행정안전부의 데이터를 사용합니다.
-   오늘기준으로 업데이트 파일을 다운로드 할 수 없습니다.(php 스크립트)
    행정안전부에서 제공하는 파일의 다운로드 경로가 바뀐 것 같습니다.

---

이걸 자동화 하고 싶은데 그러려면 매일 특정 시간에 업데이트 되는 데이터가 있는지 확인하고 업데이트 스크립트를 실행시켜야 합니다.
파일을 미리 다운로드 받도록 하고 파일이 존재할때에 실행시키도록 하면 될 것 같습니다.

다운로드가 정

[2018-11-05 00:39] pingpongworks commented on #1491
자동화가 되면 가장 좋겠네요. 안되면 현 시점의 신주소 데이터 업로드라도 서둘러 한번 하면 좋을 거 같고요. 최근에 개편된 주소가 많은건지, 주소 검색이 안된다는 분들이 거의 매일 나타나고 있습니다. 그런 분들은 검색이 되는 아무 주소나 쓰고 비고란에 정확한 주소를 적고 있는데, 운송장 다운로드를 해서 한꺼번에 출력하다보면 담당자가 원래 주소로 보내는 실수가 발생하기도 합니다. 주소 업데이트가 급박한 이슈가 되어버렸네요;;

[2018-11-09 00:33] aanoaa commented on #1406
400 건으로 제한을 늘려달라고 해서,

[code]

이렇게 제한을 늘렸습니다.

[2018-11-09 10:29] pingpongworks opened #1496 "일반 대여로 예약했는데 군포 쿠폰으로 예약된 오류"
orders/121863

위 주문자의 경우 군포 쿠폰과 전혀 상관이 없는 대여자인데, gunpo201801 쿠폰으로 예약이 되었습니다.
또한 대여하러 오기도 전에 `사용된 쿠폰`으로 상태가 바뀌어 있었습니다.

이전에 서울시 쿠폰 대여자인데 yongin201801 쿠폰 (45503)으로 예약이 되어있었던 경우와
비슷한 오류인지도 확인이 필요합니다.  (본 케이스는 쿠폰번호와 함께 메일로 문의드렸습니다)

[2018-11-15 08:34] pingpongworks opened #1497 "쿠폰 중복 사용의 원인"
<img width="783" alt="default" src="https://user-images.githubusercontent.com/17288038/48539720-5678e900-e8fb-11e8-8332-8be95afe36b5.png">

쿠폰이 중복으로 사용되었을 경우 위와 같이 경고문이 뜨고 있습니다.
그런데 중복 사용이라고 뜨는 경우가 지자체 쿠폰 별로 계속 몇 건씩 나타나고 있습니다.

대여자가 중복으로 사용한 적이 없는데도 그렇게 뜨는 경우
지자체 담당관에게 쿠폰번호 재발급을 받아 정상적으로 처리하고 있는데
중복으로 뜨는 횟수가 많아지고 있어서 원인파악이 필요해보입니다.

지자체에 확인해보면 해당 대여자에게 전달한 쿠폰번호가 맞다고 확인이 되는 것으로 보아
쿠폰번호를 도용하거나 실제로 중

[2018-11-15 10:39] aanoaa commented on #1497
지자체에서 중복된 쿠폰을 지급했거나 같은 쿠폰번호로 중복해서 예약했거나 일 것 같습니다.
시스템에의해 쿠폰이 중복되어서 발급되지는 않습니다.

[2018-11-15 10:40] aanoaa commented on #1497
A와 B 에게 같은 쿠폰이 지급되었을대에 A가 예약 후에 B가 예약하면 A의 주문서의 쿠폰이 사라지고 B의 주문서에 들어갑니다.

[2018-11-15 10:41] aanoaa commented on #1497
A가 예약후(1)에 다른날 예약(2)을 하면서 같은 쿠폰을 사용했다면 (1)의 쿠폰이 (2)로 옮겨집니다.

[2018-11-16 04:58] pingpongworks commented on #1497
A가 11월 16일 10시에 예약을 했다가,
다시 11월 16일 2시에 같은 쿠폰으로 예약을 하면
아직 주문확정을 하지 않았더라도 중복으로 인식이 된다는 말씀이신가요?

[2018-11-16 05:44] aanoaa commented on #1497
쿠폰상태에 따라 다른데, 같은 날 주문서를 두개 할 순 없었던 것 같고(이러면 주문서의 예약시간이 변경됨)
아직 사용되지 않은 쿠폰을 두개 이상의 주문서에서 사용하려고 하면 가장 최근 주문서로 쿠폰이 옮겨갑니다.

위에 캡쳐하신 내용이 중복으로 사용하려던 이력을 나타내 주는 로그입니다.
중복으로 사용되는 것을 막으려고 장치를 해놓은 것에 걸린 것 입니다.

[2018-11-16 07:15] aanoaa commented on #1491
대안이 될 수 있을 것 같아서 http://postcode.map.daum.net/guide 기록차 남깁니다.

[2018-11-16 08:26] aanoaa commented on #1497
위 내용을 보면 하나의 주문서에서 같은 쿠폰이 두번빠진 것 같은데 확인이 필요한 것 같습니다

[2018-11-20 06:44] pingpongworks opened #1498 "쿠폰: anyang201801 300건 추가발급 및 제한없음"
안양청년옷장의 쿠폰이 또 소진되어 추가 쿠폰 발행을 요청드립니다.

아이디 : anyang201801
이름 : 안양 청년옷장
발급 : 300
유형 : suit
택배비 여부: 온라인배송비 / 온오프라인 반납택배비 모두 안양시 부담
사용기간 : 2018-12-31

안양시에서 진행하는 프로젝트를 위해 쿠폰 발급을 추가요청드립니다.
쿠폰번호 발급은 11월 22일 (목)까지 요청드립니다.

[2018-11-21 02:28] pingpongworks opened #1499 "쿠폰: test201801 100건 발급 및 제한없음"
쿠폰 대여에 대한 지자체 및 기업의 문의가 많이 오는데 말로만 설명하면 이해도가 떨어집니다.
테스트용으로 내부에서도 사용하고, 외부에도 전달할 수 있는 테스트용 쿠폰번호가 있으면 좋을 듯 합니다.

아이디 : test201801
이름 : 열린옷장 테스트용
발급 : 100
유형 : suit
택배비 여부: 온라인배송비 / 온오프라인 반납택배비 모두 사용자 부담
사용기간 : ~~없음~~ 2018-12-31

기업의 사회공헌활동으로 청년들에게 쿠폰을 전달하고자 문의온 기업이 있어서
안양시 쿠폰과 함께 11월 22일 (목)까지 주시면
금요일에 쿠폰에 대한 설명 이메일을 전달할까 합니다.

[2018-11-21 17:34] keedi commented on #1499
Before:
~~쿠폰 : 테스트 및 쿠폰대여 사업설명 시 사용할 용도로 100건 발급 및 제한없음~~

After:
쿠폰: test201801 100건 발급 및 제한없음

[2018-11-21 17:36] keedi commented on #1499
사용기간은 없을 수 없습니다. 쿠폰 이름을 고려하면 2018년 연말까지만 사용하는 것이 맞을 것으로 생각됩니다. 내년에 새로운 쿠폰이 필요하다면 새로 발급하는 것이 적절할 듯 합니다. 이렇게 제한 날짜가 없는 쿠폰 일 경우 열린옷장 입장에서도 쿠폰 관리하는데 드는 수고가 늘 것입니다. 2018-12-31 까지로 설정해서 생성하겠습니다.

[2018-11-26 10:17] pingpongworks opened #1500 "2017년/2018년 경기도 하남시 주소지의 주문서 목록"
하남시 일자리 정책과에서 쿠폰대여 프로그램 운영에 대한 결정을 위해 지난 기간동안 하남시 거주의 대여자 통계를 요청했습니다.

- 2017년 1년동안 주문서 중 '경기도 하남시' 주소지인 주문서 개수
- 2018년 1월 1일~11월 26일까지 주문서 중 '경기도 하남시' 주소지인 주문서 개수

두 가지 통계를 부탁드립니다.
오늘 바로 받기를 원했으나 수요일까지 전달하기로 했습니다.
가능한대로 부탁드립니다.

[2018-11-26 10:18] pingpongworks commented on #1500
#1431 이슈와 유사합니다.

[2018-11-26 10:22] pingpongworks opened #1501 "2018-10-01 ~ 2018-10-31 기간 동안 군포시 쿠폰을 이용한 대여자 명단"
군포시에서 예산 초과 문제로 중간정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 10월 1일부터 2018년 10월 31일까지
gunpo201801 쿠폰을 사용한 대여자 명단을 요청드립니다.
형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

11월 29일 (목)까지 주시면 감사하겠습니다.

[2018-11-26 11:59] aanoaa commented on #1501
2018-10월달의 군포시 대여자 명단 질의 입니다.

[code]

결과는 이메일로 전달해드리겠습니다.

[2018-11-26 12:05] aanoaa commented on #1500
[code]

2017: 132건
2018: 211건

입니다.
자세한 내용을 원하시면 이메일로 전달해드리겠습니다.

[2018-11-26 15:59] pingpongworks commented on #1500
감사합니다~ 자세한 내용은 필요하지 않을 것 같습니다.

[2018-11-26 15:59] #1500 closed, assigned to keedi, aanoaa

[2018-11-26 16:51] pingpongworks commented on #1501
이메일 확인했습니다.
txt 파일이라 정리하는데 시간이 좀 걸렸지만 정리해서 보냈습니다.
다음에는 기존처럼 csv파일로 부탁드릴게요~
빠르게 정리해주셔서 감사합니다.

[2018-11-26 16:51] #1501 closed, assigned to keedi, aanoaa

[2018-11-26 22:23] aanoaa commented on #1501
다시 드리려고 했는데 이미 처리하셨네요. :+1:
포맷에 대해서는 신경쓰지 못했습니다.

[2018-11-30 02:17] pingpongworks opened #1502 "B0HM 의류코드 오류 확인"
B0HM 의류코드가 상세정보를 보려고 하면 502 bad gateway 오류가 뜹니다. 확인부탁드립니다.

[2018-12-02 05:39] pingpongworks opened #1503 "2018-10-01 ~ 2018-11-30 기간 동안 anyang201801 쿠폰을 이용한 대여자 명단"
안양시에서 올해 남은 예산 대비를 위해 4분기 현 시점까지 대여비 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2018년 10월 1일부터 2018년 11월 30일까지
anyang201801 쿠폰을 사용한 대여자 명단을 요청드립니다.

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

12월 5일 (수)까지 부탁드립니다.

[2018-12-02 14:07] keedi commented on #1503
확인했습니다. :)

[2018-12-03 12:34] keedi commented on #1503
2018-10 부터 2018-11 까지 anyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-12-03 12:41] keedi commented on #1502
증상 확인했습니다. :)

[2018-12-03 12:59] keedi commented on #1502
로그 상 표시되는 오류 내용은 다음과 같습니다.

[code]

[2018-12-03 13:01] keedi commented on #1502
해당 오류를 발생시키는 부분의 코드는 다음과 같습니다.

`lib/OpenCloset/Web/Controller/Clothes.pm`:

[code]

[2018-12-03 13:05] keedi commented on #1502
`$clothes->donation->clothes()` 호출시 `donation()` 메소드 호출 값이 정의되지 않아 발생하는 오류입니다. 우선 상황은 확인했는데 이해하기 어려운 부분입니다. 모든 의류는 기증 아이디와 연결되어 있는데 기증 항목과 연결되지 않았기 때문에 발생하는 일입니다. donation 관련해서 의류 등록이 예전과 달라진 부분이 있기 때문에 이제는 의류과 donation이 연결되지 않을 수 있는 가능성이 있는 것인지, 아니면 그외 다른 UI에서 의류가 donation 정보를  잃을 수 있는 것인지 확인이 필요합니다.

무엇보다 해당 의류가 기증정보가 있다면, 현재 유실되었기 때문에 어떻게 복구해야할지도 확인 및 고민해야 합니다.

추가적으로 기증 정보가 있었는데 사라지게 하는 UI나 기능

[2018-12-03 13:22] keedi commented on #1502
해당 의류의 정보를 추출하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-12-03 13:25] keedi commented on #1502
다행히 의류를 등록하는 시점에 같이 등록한 같은 그룹의 의류를 확인하면 기증 정보를 추측하기가 수월할 것으로 보입니다.  이전 질의에서 확인한 `group_id`는 `6208`이므로 동일 그룹의 의류를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-12-03 13:34] keedi commented on #1502
현재 해당 의류 상태는 반납입니다. 마지막으로 의류 상태가 변경되었을 날짜를 기준으로 이후 로그를 뒤져보면 기증 정보를 유실한 경로를 파악할 수 있을 것으로 보입니다. 주문서 상세 항목 중 해당 의류 `B0HM`를 포함하며, 가장 최근 주문 정보를 추출하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

2018년 11월 17일 오후 3시에 대여했음을 확인할 수 있습니다.  11월 17일부터 로그를 확인하겠습니다.

[2018-12-03 13:42] keedi commented on #1502
의류 자체는 0B0HF, 0B0HE, 0B0HM 세 벌이 한 그룹이며 동일 기증 행위와 연결되는 것으로 추정되기 때문에 의류 등록시 한 벌만 기증 행위 정보가 들어가지 않았을 가능성은 낮을 것 같습니다.

[2018-12-03 13:59] keedi commented on #1502
로그 상으로는 주문서 정보를 만들때 관련 정보가 기록 된 것 빼고는 찾을 수가 없습니다. 현재 주요한 정보가 바뀔때 관련한 내역을 제대로 로깅하지 않는 것 같습니다.

언제 값이 유실되었는지 확인하기 위해 개발 장비에서 데이터베이스를 복구하며 확인하고 있습니다. 우선 바이너리 서치로 찾기로 하고 현재 181123-2100 데이터베이스로 되돌려보았는데, 이미 이 시점에는 기증 정보가 없습니다.

[2018-12-03 14:07] keedi commented on #1502
181120-2100 데이터베이스 기준으로도 이미 기증 정보가 없습니다.

[2018-12-03 14:16] keedi commented on #1502
181118-2100 데이터베이스 기준으로도 기증 정보가 없습니다. 다만, 이 경우 의류 상태가 반납이 아닌 대여중으로 나옵니다. 17일에 의류 대여가 일어났기 때문에 18일에는 대여중이므로 상태가 대여중일 수 있을 것 같습니다. 마저 확인은 해야하겠지만 이미 의류 대여보다 훨씬 더 이전 시점에 기증 정보를 잃었는데, 다만 모르고 있었을 가능성도 있습니다. 흠...

[2018-12-03 14:29] keedi commented on #1502
대여가 일어난 당일 뿐만 아니라 181116-2100 데이터베이스까지 확인해보았는데 여전히 기증 정보는 없습니다. 상황을 정리하면 오류가 발생한 것을 인지한 것보다 훨씬 오래 전에 기증 정보가 유실되었으며, 다만 해당 의류 상세 정보 열람을 하지 않았기 때문에 인지를 하지 못한 것으로 사료됩니다.

[2018-12-03 14:39] keedi commented on #1502
181101-0000 까지 확인했습니다. 현상은 동일합니다.

18년 10월까지의 열린옷장 데이터베이스는 네트워크가 연결되지 않은 별도의 백업 미디어에 모두 옮겨 놓은채로 보관하고 있습니다. 따라서 이전 데이터베이스를 확인하기 위해서는 백업 미디어에서 자료를 추출해야하는데, 언제 값이 바뀌었는지 대략적으로도 모르는 상황이라 문제가 발생한 시점을 알아내는데 시간이 꽤 걸릴 듯합니다. 우선 어떻게 이후 진행을 할지 조금 더 고민해보겠습니다.

[2018-12-04 10:36] pingpongworks commented on #1502
네, 알겠습니다. 이후 진행을 어떻게 하는게 좋을지 시간이 좀 걸릴 수 있겠네요.

일단은 현재 사용하지 못하고 있는 B0HM 의류를 B0HF, B0HE 의류와 같은 기증정보로 하여 새로운 코드로 등록해서 사용해도 될까요? 아니면 확인작업 동안 따로 보관하는게 좋을까요?

[2018-12-04 10:53] pingpongworks commented on #1496
사용된 쿠폰으로 바뀌어 있는 군포 쿠폰 (35960)은 정산에 영향을 미칠 수 있으므로 사용가능한 쿠폰 상태로 변경 부탁드립니다.

[2018-12-04 10:55] pingpongworks opened #1504 "일반 대여로 예약했는데 용인시 쿠폰으로 예약된 오류"
#1496 이슈와 유사한 오류입니다.

`orders/125288` 주문서의 예약자는 용인과 전혀 관계 없는 일반 대여자인데 용인 쿠폰으로 예약이 되어있었고, 이미 사용된 쿠폰 상태가 되어 있었습니다. 확인 부탁드립니다.

사용된 쿠폰으로 바뀌어 있는 용인 쿠폰 (45578)은 정산에 영향을 미칠 수 있으므로 사용가능한 쿠폰 상태로 변경 부탁드립니다.

[2018-12-04 11:30] keedi commented on #1502
음 의류를 사용하시는 것이 좋을테니 제가 의류 등록 시점을 확인하고 당시 기증 정보를 정확하게 확인한 뒤 우선 복구를 하도록 하겠습니다. 관련해 문제를 찾는 것은 별개로 진행하도록 할게요. 기증 정보 확인되면 다시 말씀드리겠습니다.

[2018-12-04 23:35] keedi commented on #1504
확인했습니다. 주문 예약이나 대여 시점에 쿠폰을 쓴 것 같지는 않은데 어떤 경로로 쿠폰이 사용되었는지 확인해야합니다. 혹시 현재 UI 상 쿠폰을 입력하는 위치는 어디어디인지 확인 가능할까요?

[2018-12-05 01:48] pingpongworks commented on #1504
- 방문대여자 : 쿠폰번호 입력 url 페이지에 쿠폰번호 입력 후 방문시간 예약
- 택배대여자 : 결제시점에서 쿠폰번호 입력 url 페이지

그외에는 대여자가 쿠폰번호를 입력할 수 있는 방법이 없습니다. 특히 위의 오류 케이스는 쿠폰번호를 아예 소유하지 않은 경우입니다.

[2018-12-05 02:03] keedi commented on #1504
대여자 이외에 관리자가 쿠폰 번호를 입력하는 시점은 없는지요? 있다면 알려주세요~

[2018-12-06 12:06] keedi commented on #1503
특별한 문제는 없는 것 같습니다. 이슈 닫습니다.

[2018-12-06 12:06] #1503 closed, assigned to keedi

[2018-12-06 12:07] keedi commented on #1499
특별한 문제는 없는 것 같습니다. 이슈 닫습니다.

[2018-12-06 12:07] #1499 closed, assigned to keedi

[2018-12-06 12:08] keedi commented on #1498
정상적으로 발급해 전달 드렸습니다. 이슈 닫습니다.

[2018-12-06 12:08] #1498 closed, assigned to keedi

[2018-12-08 13:16] pingpongworks opened #1505 "연체료가 중복 적용된 오류"
<img width="960" alt="2018-12-08 10 12 32" src="https://user-images.githubusercontent.com/17288038/49686358-8bf9a680-fb36-11e8-8bb8-410a7b53684d.png">

`orders/125227`주문서의 연체료가 2번 적용되어 계산 오류가 발생했습니다.
자켓,치마 대여료 2만원에 대한 1일 연체료 6,000원이 추가되어야 맞는 계산인데
6,000원이 또 한번 적용되어 12,000원으로 연체료가 계산되었습니다.
확인부탁드립니다.

[2018-12-08 13:25] pingpongworks opened #1506 "3회 이상 대여 30% 할인이 하위주문서에서도 적용되도록 수정"
<img width="960" alt="2018-12-08 10 21 01" src="https://user-images.githubusercontent.com/17288038/49686433-d62f5780-fb37-11e8-8063-1871679665ed.png">

`orders/125918`의 하위주문서 `orders/125921`는 3회 이상 대여 주문서이므로 30% 할인이 적용되어야 합니다.
하위주문서에서도 3회 이상 할인이 적용될 수 있도록 수정 부탁드립니다.

[2018-12-08 13:40] pingpongworks commented on #1504
**[관리자가 쿠폰번호를 입력하는 경우 1.]**

<img width="560" alt="2018-12-08 10 29 01" src="https://user-images.githubusercontent.com/17288038/49686499-c5cbac80-fb38-11e8-91f2-bd8e4108def8.png">
대여자가 쿠폰으로 예약하지 않고 온 경우, 일단 대여를 진행한 후 추후에 쿠폰번호를 전달받아 주문서의 쿠폰코드 입력창에 관리자가 직접 입력하는 경우가 있습니다.
.
.
.

**[관리자가 쿠폰번호를 입력하는 경우 2.]**

<img width="1189" alt="2018-12-08 10 34 36" src="https://user-images.githubusercontent.com/172

[2018-12-09 00:53] pingpongworks opened #1507 "2018-10-01 ~ 2018-12-10 기간 동안 goyang201801 쿠폰을 이용한 대여자 명단"
고양시에서 2018년 결산마감 때문에 12월 10일까지 이용내역으로 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
**2018년 10월 1일부터 2018년 12월 10일까지
goyang201801 쿠폰을 사용한 대여자 명단을 요청드립니다.**

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

**12월 12일 (수)까지 정산서류 제출을 요청받았으므로
12월 11일 (화)에 이용내역을 주셔야할 듯 합니다.**
잘 부탁드립니다~

[2018-12-09 13:27] keedi commented on #1507
2018-10-01 부터 2018-12-10 까지 goyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-12-09 13:28] keedi commented on #1507
12월 10일까지 자료이므로, 11일에 추출 후 전달하겠습니다.

[2018-12-11 16:24] aanoaa opened #1508 "방문일시 선택에 열려 있지 않은 시간대의 slot 이 노출됨"
![2018-12-12 01-24-22](https://user-images.githubusercontent.com/170528/49814298-b2287c00-fdac-11e8-90dd-9094a3c8f696.png)

방문일시 선택에 열려 있지 않은 시간대의 slot 이 노출됨
아래는 제가 테스트해본 결과입니다.
전체 목록(`2018-12-12 10:00:00` ~ `2018-12-23 17:30:00`)중에 `17:30` 이 넘어가는 결과는 없었습니다.

사용자마다 예약 일시목록이 달라지는 건지는 확인이 필요합니다.

    GET /api/gui/booking-list.json?phone=010xxxxxxxx&sms=xxxxxx&gender=male

    [
      {
        "date

[2018-12-11 16:45] keedi commented on #1507
전달 완료했고, 특별한 문제가 없으므로 이슈 닫습니다.

[2018-12-11 16:45] #1507 closed, assigned to keedi

[2018-12-11 16:58] aanoaa commented on #1508
방문일시 목록은 사용자와 상관없이 똑같이 return 됩니다.
`ymd` 파라미터가 있을때에 로직이 달라지는 것을 보고 테스트해서 재현했습니다.

보통의 경우에는 `ymd` 파라미터가 없지만, staff의 `예약` 화면에서 대여자 이름을 누를 때에
`GET /api/gui/booking-list.json?gender=male&ymd=2018-12-12` 처럼 `ymd` 파라미터가 전달됩니다.

이때에는 왜 인지는 탐구생활을 더 해봐야 하겠지만 21:00, 22:00 의 슬롯도 return 됩니다.
아래에서는 `0` 건이라서 staff라고 할지라도 해당 시간대를 선택할 수는 없습니다.

    #!/bin/sh
    curl 'http://localhost:5001/api/gui/booking-list.js

[2018-12-11 17:18] aanoaa commented on #1508
staff 계정이 로그인 된 상태에서는 모든 데이터가 내려오는 것 입니다.
해당 사용자는 옷장지기의 PC 를 사용한게 아닌가 싶습니다.
관리자 권한의 요청에는 모든 데이터를 내려줍니다.

[2018-12-11 17:37] keedi opened #1509 "서울시 쿠폰 사용자의 경우 12월 13일 이후 방문 일시를 선택할 수 없음"
서울시 쿠폰 사용자의 경우 12월 13일까지만 예약 가능한 일시가 보이고 그 이후는 방문 일시가 보이지 않는다고 합니다. 이로 인해 13일 이후 방문 예약이 불가능하다고 합니다.

[code]

![a0296eaa-cc6f-4e78-af0b-89c9001fc21e](https://user-images.githubusercontent.com/138451/49819982-0f76fa00-fdba-11e8-8cc2-980a67b6435b.jpg)

[2018-12-11 18:08] keedi commented on #1509
관련해서 우선적으로 네트워크 트래픽, coffeescript, template, controller 순서로 동작 확인을 했습니다. 코드의 경우 버그가 있을 가능성이 낮다고 판단해서 역순으로 확인했는데 결과적으로는 버그가 아니었기 때문에 controller 부터 확인했다면 조금 더 빠르게 원인을 확인할 수 있었을 것 같습니다.

해당 예약 가능 목록을 얻어오는 부분은 `O::W::C::API` 모듈의 `api_gui_booking_list()` 함수입니다. 코드를 살펴보면 주석과 함께 정리한 부분이 있습니다.

[code]

2017년 서울시 쿠폰을 마감하면서 요청이 들어온 #1366 이슈와 직접적인 연관이 있습니다. 당시 쿠폰의 마감 일시를 정하는 기능을 서울시에서 요구하면서, 열린옷장의 요청으로 추가한 기

[2018-12-11 18:15] keedi commented on #1509
#1508 이슈에서 시간대가 다 보여서 디버깅을 진행하시고 있는데, 상기 갈무리 화면을 보면, 예약자의 이메일 주소가 열린옷장 주소, 즉 관리자임을 알 수 있습니다. 관리자의 경우 모든 시간대 열람이 가능합니다. 따라서 #1508 이슈에서 @aanoaa 님께서 관리자로 예약한 것 같다고 분석한 내용이 맞을 가능성이 높습니다.

다만, 관리자임에도 불구하고, 13일까지 밖에 열람이 되지 않는 것은 해당 기기에서 쿠폰 관련 예약을 시도 한 적이 있기 때문으로 추정됩니다. 쿠폰 관련 예약을 시도시 초창기 예약 코드가 쿠키에 쿠폰 예약임을 기록하는 식으로 구현되었는데, 이것이 서울시 관련 사업이 급하게 커지면서, 그대로 사용하게 되었는데, 이후 절차나 케이스가 복잡해지면서 쿠키로만 판단하기가 어려워져 발생하는 문제

[2018-12-11 18:39] pingpongworks commented on #1508
위의 예약시간 노출 화면은 개인 핸드폰입니다. 회사PC로 테스트했을 때 쿠키의 영향을 받을 수 있을거 같아 개인폰으로도 테스트를 한 결과입니다.

열린옷장 홈페이지를 통해 바로 예약을 시도할 때는 5:30까지만 보이는데, 서울시쿠폰사이트를 로그인하고 쿠폰으로 예약을 하려고 할 때만 5:30이후가 보이는둣 합니다.

[2018-12-12 00:39] keedi commented on #1508
#1509 에 정리했지만 다시 설명드리면 booking-list 는 사용자마다 다른 결과를 보여줍니다. 여기서 다른 결과를 보여주는 사용자라함은 우선 최소 다음과 같은 경우입니다.

- 일반 대여자
- 쿠폰 대여자
- 쿠폰 대여자 중 서울시 쿠폰 이용자
- 관리자

일반 대여자는 우리 모두가 기대하는 동작을 수행합니다. 쿠폰 대여자의 경우 해당 쿠폰의 마감 시일에 따라 보이는 날짜가 제한됩니다. 서울시 쿠폰 대여자의 경우 초기 구현 상의 이슈로 쿠키값을 사용하며, 쿠폰의 마감 일시에 따라 보이는 날짜가 제한됩니다. 관리자의 경우 자리가 있든 없든, 시간이 지났든 지나지 않았든 모든 슬롯을 열람하고 예약할 수 있습니다.

상기 화면은 쿠키를 피하기 위해 폰으로 진행했지만, 서울시 통해 들어왔기 때문에 쿠키가

[2018-12-12 05:48] pingpongworks commented on #1509
본 이슈는 원인이 오류가 아니라, #1366 이슈의 요청이었음이 밝혀졌으므로 닫겠습니다. 올해 쿠폰 마감시한 요청은 새로운 이슈로 요청드리겠습니다.

[2018-12-12 05:48] #1509 closed, assigned to keedi

[2018-12-12 06:02] pingpongworks commented on #1508
테스트했던 옷장지기에게 확인해본 결과, 관리자 로그인을 한 적이 있는 폰이라 오류가 아니라 쿠키의 영향이 맞는 거 같습니다. 그리고 생각해보니까 10시까지 예약시간이 보여지고 있었다면, 아마도 아무리 예약가능인원이 0명이라도 저녁 시간으로 예약 안되냐는 문의전화가 꽤 많이 왔어야 정상일 거 같습니다. 그런 문의가 없었던 것으로 보아 관리자에게만 5:30분 이후가 보여지고 있다고 봐도 될 거 같습니다. 밤중에 괜한 수고를 하게 해드렸습니다. 죄송합니다. 이슈 닫을게요~

[2018-12-12 06:02] #1508 closed, assigned to aanoaa

[2018-12-12 06:23] pingpongworks opened #1510 "[쿠폰 예약 제한] seoul-2018-1 쿠폰의 방문예약 제한"
2018년 마감시한에 대해 담당부서에서 **12월 20일 경**으로 예상할 뿐 아직 명확한 날짜를 결정하지 못하고 있습니다. 마감방법에 대해서도 마감날짜를 명확히 하여 이후로 아예 이용을 못 하게 하는 방법과 일단 12월 31일까지 예약이 가능하여 이용한 후 이월하여 내년 1월에 정산하는 방법 두 가지 중 선택을 고려하고 있습니다.  며칠 내에 마감시한과 정산방법을 결정한다고 하니 일단은 **13일 이후로 예약이 가능하도록 마감시한을 변경**해야 할 듯 합니다.

2017년의 경우에는 예산이 완전 소진되었기 때문에 급하게 12월 13일에 마감을 했지만(#1366)  올해는 추가 예산을 편성한 덕분에 담당부서에서 여유있게 마감하여 최대한 많이 이용할 수 있도록 배려하고자 합니다. 그런데 그렇다고 지금부터 12

[2018-12-12 06:30] pingpongworks opened #1511 "서울시 쿠폰(seoul-2018-1)의 온라인 주문을 마감함"
2018년 마감시한에 대해 담당부서에서 **12월 20일 경으로 예상**할 뿐 아직 명확한 날짜를 결정하지 못하고 있습니다. 마감방법에 대해서도 마감날짜를 명확히 하여 이후로 아예 이용을 못 하게 하는 방법과 일단 12월 31일까지 예약이 가능하여 이용한 후 이월하여 내년 1월에 정산하는 방법 두 가지 중 선택을 고려하고 있습니다. 며칠 내에 마감시한과 정산방법을 결정한다고 하니 **일단은 13일 이후로 예약이 가능하도록 마감시한을 변경**해야 할 듯 합니다.

2017년의 경우에는 예산이 완전 소진되었기 때문에 급하게 12월 13일에 마감을 했지만(#1366) 올해는 추가 예산을 편성한 덕분에 담당부서에서 여유있게 마감하여 최대한 많이 이용할 수 있도록 배려하고자 합니다. 그런데 그렇다고 지금부터 12월

[2018-12-12 15:02] keedi commented on #1511
이 이슈는 opencloset/OpenCloset-Share-Web 쪽에 열어주셔야합니다.

[2018-12-12 15:04] keedi commented on #1511
https://github.com/opencloset/OpenCloset-Share-Web/issues/215 이슈 쪽으로 내용 옮겼습니다.

[2018-12-12 15:04] #1511 closed, assigned to nobody

[2018-12-12 15:22] keedi commented on #1510
쿠폰 마감 시각을 2018-12-19 23:59:59 로 설정했고 적용 완료했습니다.

[2018-12-12 15:24] keedi commented on #1510
혹시라도 테스트 해보시고 13일~19일 사이의 예약 가능한 슬롯이 보이지 않으면 피드백 부탁드립니다.

[2018-12-13 00:39] pingpongworks commented on #1510
방문대여 예약, 테스트로 확인했습니다. 감사합니다^^

[2018-12-13 00:40] pingpongworks commented on #1511
앗, 그러네요. share 이슈네요. 옮겨주셔서 감사합니다.

[2018-12-13 05:25] pingpongworks opened #1512 "[쿠폰 예약 제한] yongin201801 쿠폰의 방문예약 제한"
지자체 연말 회계 마감 관계로 **12월 21일 (금)** 까지로 쿠폰사용을 제한하려고 합니다.
12월 21일 23시 59분 이후로는 용인 쿠폰으로 방문예약이 되지 않도록 부탁드립니다.

시에서도 쿠폰 배포시 안내를 할 예정이니까 되는대로 오늘내일 중으로만 작업 부탁드릴게요~

[2018-12-13 05:54] pingpongworks opened #1513 "2018년 하반기 뉴스레터용 통계"
2018년 연말 뉴스레터 발송을 위해 아래 통계 부탁드립니다.

1. 대여자 관련
- 2018년 전국 지역별 대여자수 (시 단위 대여자수)
- 2018년 서울시 주소 대여자의 구별 대여자수 통계

2. 기증자 관련
- 2018년 9월 17일 이후 기증자 명단 (기증자명 / 이메일 주소)
- 2018년 전체 기증자 수
- 2018년 월별 기증건 수
- 2018년 기증품목별 수량

3.  봉사자 관련
- 2018년 봉사자수 및 방문 횟수

4. 메시지 관련
- 2018년 기증편지 수량
- 2018년 대여편지 수량

*12월 18일 발송예정이오니, 12월 16일 (일)까지 전달 부탁드립니다.*

[2018-12-13 09:09] pingpongworks commented on #1510
마감날짜 변경으로 다시 한번 요청드립니다.

**12월 27일 (목) 자정**까지만 쿠폰 사용이 가능하도록 제한부탁드립니다.

[2018-12-14 04:19] pingpongworks commented on #1510
**최종 변경사항 요청 드립니다**

**12월 23일 (일) 자정**이후로 예약이 되지 않도록 요청드립니다.

서울 포털 로그인을 하고 열린옷장을 선택한 후
방문예약 페이지에서 시간을 선택할 때
12월 24일부터 보이지 않게 해주시면 됩니다.

현재 쿠폰 마감이 정리되기를 기다리느라 23일 이후 에약 슬롯을 못 열고 있는 상태라
가능하면 빨리 작업 부탁드립니다. 주말 내에 가능하면 좋을 듯 합니다.

[2018-12-14 04:25] pingpongworks opened #1514 "2018-10-19 ~ 2018-12-13 기간 동안 gunpo201801 쿠폰을 이용한 대여자 명단"
군포시는 10월에 중간정산을 한번 했었으므로
2018년 10월 19일~2018년 12월 13일까지 이용내역으로 정산을 요청하고 있습니다.

형식은 #1433 에서 요청드렸던 것과 같이 방문대여와 택배대여가 구분되도록 부탁드립니다.

12월 17일 (월)까지 부탁드립니다.

[2018-12-14 11:13] pingpongworks opened #1515 "[쿠폰 예약 제한] anyang201801 쿠폰의 방문예약 제한"
2018년 사업을 종료하고 결산을 해야하므로 쿠폰 사용을 제한하고자 합니다.

anyang201801 쿠폰이 **2018년 12월 16일 (일) 자정 이후로 예약이 되지 않도록** 요청드립니다.

쿠폰 입력 페이지에 해당 쿠폰번호를 입력한 후 예약페이지에서 방문시간을 선택할 때
12월 17일부터 보이지 않게 해주시면 될 거 같습니다.

16일까지의 이용자내역과 이후에 예약되어 있는 내역을
17일 오전에 받아 바로 청구서류와 함께 제출해야 합니다.
(이용자내역과 예약자내역은 별도의 이슈로 요청드리겠습니다)

갑자기 결정된 사안이라 오늘 바로 작업부탁드립니다.

[2018-12-14 11:20] pingpongworks commented on #1512
담당자의 결산 마감일 변경으로 쿠폰 예약 제한일도 변경 요청드립니다.

yongin201801 쿠폰이 2018년 12월 30일 (월) 자정 이후로 예약이 되지 않도록 요청드립니다.

쿠폰 입력 페이지에 해당 쿠폰번호를 입력한 후 예약페이지에서 방문시간을 선택할 때
12월 31일부터 보이지 않게 해주시면 될 거 같습니다.

30일까지 사용한 내역을 다음 날 오전에 이용자 내역과 청구서류를 제출해야 합니다.
(이용자 내역은 별도의 이슈로 다시 한번 요청드리겠습니다)

제한일이 아직 여유가 있는 사안이라 주말 동안 작업부탁드립니다.

[2018-12-14 11:48] pingpongworks opened #1516 "[쿠폰 통계] 2018-12-01 ~ 2018-12-23 기간 동안 anyang201801 쿠폰을 이용한 대여자 명단"
anyang201801 쿠폰의 예약을 12월 16일 자정으로 제한했으므로
두 가지로 구분된 명단을 부탁드립니다.

- 12월 1일~12월 16일 동안의 대여자 명단
- 12월 17일~12월 23일 동안의 예약자 명단

위 두 가지 명단과 청구서류를 17일 오전에 담당자에게 전달해야 합니다.
12월 17일 (월) 오전 9시까지 부탁드립니다.

[2018-12-14 14:09] aanoaa commented on #1510
쿠폰의 만료기간을 염두에 두고 쿠폰을 발급해서 사용했지만, 쿠폰의 만료기간이 무용지물인 상황입니다.
만료기간은 예약가능한 일시 인데, 어떤 지자체가 원하는 것은 대여가능한 일시 입니다.
(20xx 년도 12월 31일 까지 대여할 수 있게 해주세요.)

지금의 시스템은 이를 만족할 수 없습니다.
만료기간이 `2018-12-31` 인 쿠폰은 `2018-12-31` 일에 `2019-01-01` 일로 예약하고,
`2019-01-01` 일에 대여할 수 있기 때문입니다.

---

**오프라인 대여**

지금 시스템대로 예약일을 기준으로 이벤트의 마감일을 원하는 지자체도 있고,
대여일을 기준으로 이벤트 마감일을 원하는 지자체도 있습니다.
(우리의 정책은 예약일을 기준으로 한다 라고 설득하기를 바랐지만 되지 않았습니다.

[2018-12-14 14:12] aanoaa commented on #1510
현재는 쿠폰종류의 구분을 `coupon.desc` 컬럼에 기록해서 사용합니다.
이벤트별로 관리하고 발급되는 쿠폰들을 이벤트로 연결 시키는 방법을 사용할까 합니다.

[기증시 특정기업을 통한 기증 임을 확인할 수 있는 방법 donation#107](https://github.com/opencloset/donation/issues/107) 에서 필요에 의해 `event` 테이블을 만들고 범용적으로 사용하려고 했는데,
시간이 없어서 꿈을 이루지 못했습니다.

이 테이블에 각 쿠폰 이벤트를 기록하고 이를 활용할 수 있도록 개선하겠습니다.
이벤트가 추가 될때마다 통계작업이 번거로웠는데 시간이 된다면 이부분도 함께 개선하도록 하겠습니다.

[2018-12-14 14:34] aanoaa opened #1517 "쿠폰 시스템의 개선"
쿠폰의 만료기간을 염두에 두고 쿠폰을 발급해서 사용했지만, 쿠폰의 만료기간이 무용지물인 상황입니다.
만료기간은 예약가능한 일시 인데, 어떤 지자체가 원하는 것은 대여가능한 일시 입니다.
(20xx 년도 12월 31일 까지 대여할 수 있게 해주세요.)

지금의 시스템은 이를 만족할 수 없습니다.
만료기간이 `2018-12-31` 인 쿠폰은 `2018-12-31` 일에 `2019-01-01` 일로 예약하고,
`2019-01-01` 일에 대여할 수 있기 때문입니다.

---

**오프라인 대여**

지금 시스템대로 예약일을 기준으로 이벤트의 마감일을 원하는 지자체도 있고,
대여일을 기준으로 이벤트 마감일을 원하는 지자체도 있습니다.
(우리의 정책은 예약일을 기준으로 한다 라고 설득하기를 바랐지만 되지 않았습니다.

[2018-12-14 14:34] aanoaa commented on #1517
현재는 쿠폰종류의 구분을 `coupon.desc` 컬럼에 기록해서 사용합니다.
이벤트별로 관리하고 발급되는 쿠폰들을 이벤트로 연결 시키는 방법을 사용할까 합니다.

[기증시 특정기업을 통한 기증 임을 확인할 수 있는 방법 donation#107](https://github.com/opencloset/donation/issues/107) 에서 필요에 의해 `event` 테이블을 만들고 범용적으로 사용하려고 했는데,
시간이 없어서 꿈을 이루지 못했습니다.

이 테이블에 각 쿠폰 이벤트를 기록하고 이를 활용할 수 있도록 개선하겠습니다.
이벤트가 추가 될때마다 통계작업이 번거로웠는데 시간이 된다면 이부분도 함께 개선하도록 하겠습니다.

[2018-12-14 14:35] aanoaa commented on #1510
[쿠폰 시스템의 개선 #1517](https://github.com/opencloset/opencloset/issues/1517) 에서 쿠폰타입별로 마감일을 다르게 처리할 수 있도록 하겠습니다.

[2018-12-14 15:04] keedi commented on #1517
지금 좀 이해가 안되는게 쿠폰의 만료일시가 무용지물이 아닙니다. 이벤트별 마감일시도 그렇고 지금 다 의도하는대로 동작하고 있구요. 현 동작과 관련해 충분히 논의도 잘 이루어져서 협의하에 진행됐구요. 개선은 더 필요할 수는 있지만 현 상황 인식은 좀 많이 다른 것 같아 걱정입니다. 더불어 앞으로 붙일 시스템은 가능하면 오동작의 가능성을 최대한 줄일 수 있는 방향으로 진행해야할 것 같습니다. 특히 현재 알려진 내재된 원인을 규명하지 못한 오동작를 잡지 못한채로 기능을 추가하는 부분은 음, 글쎄요...

맞는 부분도 있고 아닌 부분도 있습니다. 지자체 쿠폰은 이벤트 마감이 있기 때문에 이벤트 만료 설정이 제대로 됐다면,  오프라인은 예약일 방문, 대여가 원칙이므로 12월 31일에 와서 1월 1일에 빌릴 수는 없습

[2018-12-14 15:43] aanoaa commented on #1517
예약한 날짜와 예약일의 혼동이 있는 것 같습니다.
사전에 예약하고 대여일에 방문합니다.

지금의 시스템은 12/31일에 1/1일로 예약하고 1/1일 방문해서 대여가능합니다.

[2018-12-14 15:56] aanoaa commented on #1517
이벤트의 시작일도 마감일과 비슷하게 고려되어야 할 것 같습니다.
2019-01-01 부터 예약을 하는 것과 2019-01-01 부터 대여를 하는 것은 다릅니다.

-   예약한 날짜로 이벤트 시작
-   대여일로 이벤트 시작

시작과 마감의 경우의 수를 고려하면 4개의 쿠폰 유형이 있을 수 있습니다.
이런 부분을 지자체에서 언급한 것은 아니지만 요청이 오기전에 고려해볼만 합니다.

[2018-12-14 16:03] aanoaa commented on #1517
하나의 컬럼에 `이벤트시작타입|이벤트종료타입` 으로 정의해둘 수 있습니다.
예약한 날짜를 `reserve`, 대여일을 `rental` 로 한다면,
쿠폰타입을 아래와 같이 지정할 수 있습니다.

-   `reserve|reserve`
-   `reserve|rental`
-   `rental|reserve`
-   `rental|rental`

[2018-12-14 16:24] aanoaa commented on #1517
`event` 가 대여 도메인에서만 쓰이지는 않습니다.

이미 기증 서비스쪽에 이벤트가 있었고 사용 중 입니다.
이를 대여 서비스쪽의 이벤트로 확장해서 사용하고자 스키마 변경이 필요합니다.

계획입니다.

1.  `event_type` 테이블을 추가합니다.
    -   id
    -   type: `시작 타입|마감 타입` (ex. `reserve|rental`)
    -   domain: `rental or donation or volunteer or ...`
2.  coupon 의 테이블 스키마를 변경합니다.
    -   `free_shipping` 은 event 에도 추가합니다.
    -   이미 존재하는 `coupon.free_shipping` 은 `event.free_shipping` 을 o

[2018-12-14 19:26] pingpongworks commented on #1517
쿠폰을 처음 발행할 때 거의 모든 쿠폰의 유효기간을 2018년 x월 x일~2018년 12월 31일로 발행했습니다. 12월 31일까지의 의미를 `대여일이 12월 31일 이전이 되어야함`으로 이해했습니다. 말 그대로 `유효기간`이므로 2019년 1월 1일부터는 가지고 있어도 소용이 없어지는 것으로요.

현재 광주, 군포 같은 경우 처음 발행했던 대로 12월 31일까지 사용할 예정이고, 공백없이 무료대여를 진행할 예정이므로 2019년 1월 1일부터는 새로운 쿠폰을 발행해서 사용해야 한다고 안내했습니다.

그렇다면 광주, 군포의 경우에도 예약제한일을 12월 31일로 따로 설정해야 하나요?

[2018-12-14 20:14] pingpongworks opened #1518 "[쿠폰 발행] anyang201901 쿠폰의 신규 발급"
안양 쿠폰사업이 공백없이 진행될 수 있도록 새로운 쿠폰 발행을 요청드립니다.

- 아이디 : anyang201901
- 이름 : 안양 청년옷장
- 발급 : 500
- 유형 : B타입
- 택배비 여부: 온라인배송비 / 온오프라인 반납택배비 모두 안양시 부담
- 사용기간 : 2019-01-01~2019-12-31

안양시에서 진행하는 프로젝트를 위해 쿠폰 발급을 요청드립니다.
신규 쿠폰 사용 현황을 로그인없이 담당자가 확인할 수 있는 visit-event 통계페이지 생성도 함께 부탁드립니다.

**12월 23일 (일**)까지 요청드립니다.

[2018-12-15 01:02] aanoaa commented on #1517
`2018년도까지 사용가능한 쿠폰` 이라는 문장에 대해 저와 다르게 생각하신 것 같습니다.

저는 A 타입으로 본 것이고, 지자체와 대령님은 B 타입으로 본 것입니다.
그럴 수 있고 고려되지 못했기에 이번기회에 해결하고자 합니다.

공백없이 이벤트가 진행되는 광주, 군포와 같은 경우는 어떤 타입이든지 상관이 없습니다.
새로 발행하기만 하면 됩니다. 다만 새로 발행할때에는 마감일이 어떤 타입인지 파악해 두어야
하겠습니다.

A 타입은 마감일+1m 후에 정확한 대여자 수 산정이 가능하고,
B 타입은 마감일 다음날 산정이 가능합니다.

내년 계획에 상관없이 현재 진행중인 모든 쿠폰 이벤트 각각에 대해 어느 타입인지
알려주셔야 합니다.

[2018-12-15 01:32] pingpongworks commented on #1517
말씀해주신 B타입이 되려면 어떻게 바뀌어야 하는거죠? 온라인도 다음날 산정이 가능해지나요?

[2018-12-15 01:56] pingpongworks commented on #1517
B 타입은 마감일 이전날짜로만 방문예약일을 지정할 수 있습니다.

라고 행아웃으로 답변해주셨는데, 질문 하나 더요~

지금 17일 발송/으로 안양쿠폰 온라인 주문이 하나 들어와있는데
그러면, B타입으로 설정할 경우에 17일 발송 주문건은 안양쿠폰으로 무료처리가 안 되는 건가요?

[2018-12-15 01:59] aanoaa commented on #1517
아직 프로그램이 패치가 되기 전 예외 건들은,
어떻게 할지 정책을 정하고 직접 데이터를 변경해서 처리해야 할 것 같습니다.

[2018-12-15 02:10] pingpongworks commented on #1517
네, 그럼 타입별로 정리해보겠습니다.

- 서울 - A타입 / 20일 예약 마감
- 안양 - A타입 / 16일 예약 마감
- 용인 - B타입 / 30일 대여 마감
- 고양 - B타입 / 31일 대여 마감
- 군포 - B타입 / 31일 대여 마감
- 광주 - B타입 / 31일 대여 마감

정산시에는 안양 만 16일 이후에 예약되어 있는 방문대여 건과, 주문되어 있는 온라인대여 건만 포함해서 정산하면 됩니다.
서울시는 어차피 취날 페이지에서 대여로 확정되어 있는 내역 가지고 정산하는 것이고 온라인 건이 많지 않으니까 별 문제없을 거 같습니다.

[2018-12-15 07:46] aanoaa commented on #1517
`coupon_limit` 을 고려해야 합니다.
coupon 의 이벤트와 관련된 메타 데이터는 `event` 에서 참조하게 되었는데,
쿠폰의 사용제한 은 `coupon_limit` 테이블이 활용됩니다.

`event.limit` 을 추가해서 사용하면 `coupon_limit` 테이블대신에 사용할 수 있습니다.

이벤트와 쿠폰 생성하는 스크립트에서 처리하도록 하면 무엇을 쓰던지 상관없겠습니다.
`event.limit` 을 사용하고 싶지만 추가작업이 발생하므로 기존의 `coupon_limit` 을 활용하겠습니다.

[2018-12-15 08:27] aanoaa commented on #1517
이제까지 발급된 모든 쿠폰의 종류중에 만료기간이 아직 끝나지 않은 이벤트는 위에 적어주신 것들 뿐 입니다.
제가 걱정했던 것은 지난 쿠폰중에 만료기간이 없는 쿠폰이 사용되었을때 이벤트로 등록해두지 않으면 통계수집이 아니됩니다.

다행히도 위에 언급해주신 6개의 이벤트만이 현재 active 합니다.
지난 이벤트들은 등록해주지 않아도 되겠습니다.

거기에 테스트를 위한 이벤트 `test201801` 도 추가하도록 하겠습니다.

[2018-12-15 09:04] aanoaa commented on #1517
서울시를 제외한 모든 이벤트가 배송비 까지 지원합니다.
제가 잘못 알고 있는 것이라면 알려주세요.

[2018-12-15 10:27] aanoaa commented on #1517
# Table of Contents

1.  [release](#orgddb87ec)
2.  [install & data migration](#org244613d)
3.  [deploy](#org16f328a)
4.  [test](#orge09f2ae)

기능 구현은 완료된 것 같습니다.
많은 테스트를 해봐야 하지만 시간과 인력이 부족합니다.

여러 모듈이 배포되고 의존성 있는 서비스들이 차례대로 배포되어야 합니다.
데이터 마이그레이션 작업도 이루어져야 합니다.

작업절차에 대해 나열하고 이 순서를 지켜야 하겠습니다.

<a id="orgddb87ec"></a>

# release

-   opencloset
-   OpenCloset::Schema
-   OpenCloset::Plugin::Helper
-

[2018-12-15 11:07] pingpongworks commented on #1517
제가 잘못 알고 있는 것이라면 알려주세요.

- 고양시, 광주시 - 온라인발송비만 지원 (반납택배비는 본인 부담)
- 용인시, 안양시, 군포시 - 온라인발송비, 반납택배비 모두 지원

[2018-12-15 11:54] aanoaa commented on #1517
적용하였습니다.

[2018-12-15 11:56] aanoaa commented on #1517
https://github.com/opencloset/OpenCloset-Coupon-Web/pull/9

이것만 배포방법을 몰라서 서버에 적용하지 못했습니다.
@keedi 님이 보시고 배포해주시면 되겠습니다.

취업날개 쿠폰발행을 위한 웹서비스 입니다.
배포가 되지 않아도 정상적으로 동작해야 합니다.

[2018-12-15 11:58] aanoaa commented on #1517
시간이 촉박해서 테스트를 많이 해보지 못했습니다.
내일 운영시간에 지원할 준비를 하고 있겠습니다.
혹시 잘못된 점이 발견되면 전화도 좋고 이슈로도 좋으니 알려주세요.
@pingpongworks

[2018-12-15 12:03] aanoaa commented on #1517
이벤트별 쿠폰 사용제한을 적용하였습니다.
온라인/오프라인 모두 적용됩니다.

[2018-12-16 01:18] pingpongworks commented on #1517
감사합니다~ 주말에 수고많으셨습니다^^ 제가 테스트로 확인을 다 해볼 수 없어서 내일 출근해서 문제점 발견되면 연락드리겠습니다. 급하게 요청드렸는데 빠르게 작업해주셔서 감사드립니다.

[2018-12-16 16:09] keedi commented on #1518
@aanoaa 진행하시는 새로운 이벤트 시스템과 연관이 되나요? 그렇다면 assignee를 이양하는게 나을듯하구요. 나중에 바꾸는 것과 별개로 기존 방식 그대로 발급하고 진행하고 이후 이전하실거면 기존 방식대로 처리할 것인지 여부 등, 생각해보시고 적절한 방식을 남겨주세요. 직접 진행하실 경우 assignee 변경하시면 될듯하고, 우선 기존 방식으로 진행할 것이라면 저를 assignee 로 변경해주세요.

[2018-12-16 16:37] keedi commented on #1515
@aanoaa 님께서 진행하신 #1517 작업이 배포되면서 자동으로 처리된 이슈입니다. 따로 더 할 것은 없어보이지만, 기존 시스템과 동일하게 일단 설정 파일도 변경해놓겠습니다. 이후 완전히 필요없어지면, 설정 파일에서 불필요한 부분 제거하면됩니다.

[2018-12-16 16:43] keedi commented on #1515
설정도 적용되었습니다. 쿠폰 입력하는 `/coupon` uri에서 이미 #1517 에서 변경한 루틴대로 더 진행이 안되기 때문에 적용한 설정과 별개로 방문 예약은 제한된 것으로 보입니다.

[2018-12-16 16:43] #1515 closed, assigned to keedi, aanoaa

[2018-12-16 17:28] keedi commented on #1516
17~23일 사이의 예약자 명단이라는 것이 좀 애매합니다. 온라인 오프라인 이슈도 있는데, 통계 내기가 까다롭군요. 일단 구할 수 있는데 까지 분리해서 구한 뒤 전달 드리겠습니다. 받으신 후 최종 판단은 하셔야 할 듯합니다.

[2018-12-16 17:33] keedi commented on #1516
특히 온라인의 경우 19일에 착용하지만 15일에 결제했을 수도 있습니다. 이 경우는 어떻게 판단해야 하는지 애매합니다. 더불어 온라인의 경우 결제 시점이 곧 예약 시점이라... 1\~16일 명단은 지금까지와 동일한 방식으로 뽑아서 전달 드리고, 17\~23일의 경우 온라인 부분은 1~16일과 같은 방식으로, 오프라인은 쿠폰을 사용하지 않은 케이스로 추출하겠습니다. 이외의 경우가 있다면 누락되는 경우가 있을 수 있다고 생각됩니다만, 수작업으로 러프하게 살펴본 결과 없지 않을까 사료됩니다.

[2018-12-16 17:34] keedi commented on #1516
2018-12-01 부터 2018-12-16 까지 anyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-12-16 17:37] keedi commented on #1516
2018-12-17 부터 2018-12-23 까지 anyang201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

상기 목록을 추출하는 이유 중 하나의 예를 들면 19일 착용일이지만 15일에 결제를 완료한 경우입니다. 대표적으로 온라인인 경우입니다. 따라서 기존과 동일하되 날짜만 변경해서 동일한 방식으로 통계를 뽑아냅니다. 말이 어려운데, 평상시처럼 지나간 일자에 대해 통계를 뽑는다면 이렇게 구분할 이유가 없습니다. 현재는 미래의 통계를 뽑아야 하기 때문에 수행합니다.

[2018-12-16 17:40] keedi commented on #1516
2018-12-17 부터 2018-12-23 까지 anyang201801 쿠폰으로 예약한 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

온라인과 오프라인의 차이점을 보여주는 질의입니다. 오프라인의 경우 명확하게 예약 날짜, 즉 `booking.date`가 존재하지만 온라인은 없습니다. 질의상은 `OR ( o.online <> 0 )`로 조건을 추가했지만, 수작업으로 예외 경우가 있는지 확인하기 위해 넣은 항목입니다. 실제로는 적절하지 않은 질의일 수 있습니다.

[2018-12-16 17:51] keedi commented on #1514
2018-10-19 부터 2018-12-13 까지 gunpo201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-12-16 17:54] keedi commented on #1514
결과 메일로 첨부드렸습니다.

[2018-12-16 17:55] keedi commented on #1516
결과 메일로 첨부드렸습니다.

[2018-12-16 18:02] keedi commented on #1513
이슈가 하나기는 하지만, 실제 항목이 많습니다. 작년과 다른 항목이 제법 되는군요. 가능하면 작년과 유사한 항목을 우선적으로 본 이슈에 남겨 놓겠습니다.

[2018-12-16 18:05] keedi commented on #1513
작년 통계가 2017-01-01 ~ 2017-12-12 기간 이었으므로 올해는 2017-12-13 ~ 2018-12-16 을 기준으로 처리하겠습니다.

[2018-12-16 18:06] keedi commented on #1513
4.

기증자의 응원편지 수 확인 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-12-16 18:08] keedi commented on #1513
4.

대여자의 대여편지 수 확인 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-12-16 18:10] keedi commented on #1513
3.

2018년 남/녀별 봉사 횟수 확인 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-12-16 18:11] keedi commented on #1513
3.

봉사 횟수와 봉사자의 수는 차이가 많이 납니다. 봉사자마다 봉사 횟수가 다르기 때문이며 참고하시라고 봉사자의 수도 남깁니다.

2018년에 방문한 남/녀별 봉사자의 수 확인 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-12-16 18:14] keedi commented on #1513
2.

2018 전체기증 품목별 수량 / 재기증 품목별 수량 확인 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

[2018-12-16 18:18] keedi commented on #1513
2.

2015 ~ 2018년 기증자 수 확인 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

작년 레터 기준(#1372)으로 2017년은 905였으나 현재 보이는 통계는 941건입니다. 작년에도 12월 기준으로 통계를 냈기 때문이며, 이를 감안하면 2017년은 905이고 2018년은 765가 아니라 765 + ( 941 - 905 ) = 801 건이라고 볼 수 있습니다. 어떻게 표시할 것인지는 직접 선택하시면 될 듯합니다.

[2018-12-16 18:22] keedi commented on #1513
2.

월별 기증 건수를 확인하는 질의는 다음과 같습니다.

[code]

결과는 다음과 같습니다.

[code]

2017년 12월의 총 기증 건 수는 79건이며, 2017년 12월 13일 ~ 2017년 12월 31일 까지의 기증 건 수는 39건 입니다. 어떤 값을 취사 선택하실지는 직접 판단하시면 될듯합니다.

[2018-12-16 18:26] keedi commented on #1513
2.

2018년 9월 17일 이후 기증자 명단을 구하는 질의는 다음과 같습니다.

[code]

개인 정보가 있는 자료이므로 결과는 따로 메일로 첨부드립니다.

[2018-12-16 18:39] keedi commented on #1513
1.

2018년 시 단위 대여자 수를 확인하는 질의는 다음과 같습니다.

[code]

앞에서 언급한 것처럼 2018년 1월 1일이 아닌 2017년 12월 13일부터의 자료입니다. 결과는 다음과 같습니다.

[code]

2017년 12월 자료를 제외한 2018년 1월 1일부터 12월 16일까지의 자료의 결과는 다음과 같습니다.

[code]

[2018-12-16 18:44] keedi commented on #1513
1.

2018년 서울시 구 별 대여자 수를 확인하는 질의는 다음과 같습니다.

[code]

앞에서 언급한 것처럼 2018년 1월 1일이 아닌 2017년 12월 13일부터의 자료입니다. 결과는 다음과 같습니다.

[code]

2017년 12월 자료를 제외한 2018년 1월 1일부터 12월 16일까지의 자료의 결과는 다음과 같습니다.

[code]

[2018-12-16 18:46] keedi commented on #1513
연관 이슈는 다음과 같습니다.

- #1446 - 2018년 상반기 기증 통계
- #1372 - 2017년 하반기 뉴스레터용 통계

[2018-12-16 18:49] pingpongworks commented on #1518
@aanoaa 새로운 쿠폰 발행 요청드릴 때 기존과 같은 방식으로 요청드리면 되나요? 아니면 #1517 에서 말씀해주신 것처럼 기존 요청내용에 A타입인지 B타입인지만 결정해서 추가한 내용으로 말씀드리면 되나요? 서울시를 제외하고 새로운 쿠폰은 모두 B타입으로 진행할 생각이기는 합니다. 올해는 12월 31일 즈음으로만 생각해서 미리 못 챙겼지만, 올해 마감을 거울삼아 내년에는 12월 초에 마감 정산 날짜를 정해놓고 딱 그 날짜를 기점으로 정리가 될 수 있도록 하려고 합니다. 일단은 @aanoaa 님을 assignee로 진행하겠습니다.

[2018-12-16 18:50] keedi commented on #1513
앞서 정리한 **2018년 9월 17일 이후 기증자 명단** 도 메일로 첨부드렸습니다.

언급하신 항목 모두 첨부 완료했습니다.

[2018-12-16 19:42] pingpongworks commented on #1516
확인했습니다. 감사합니다.

[2018-12-16 19:42] #1516 closed, assigned to keedi

[2018-12-16 19:43] pingpongworks commented on #1514
확인했습니다. 감사합니다.

[2018-12-16 19:43] #1514 closed, assigned to keedi

[2018-12-16 19:51] pingpongworks commented on #1513
메일도 확인했습니다. 감사합니다~

[2018-12-16 19:51] #1513 closed, assigned to keedi

[2018-12-17 08:02] pingpongworks opened #1520 "[쿠폰 발행] gunpo201901 쿠폰의 신규 발급"
군포 쿠폰사업이 공백없이 진행될 수 있도록 새로운 쿠폰 발행을 요청드립니다.

    아이디 : gunpo201901
    이름 : 군포 청년날개
    발급 : 500
    유형 : B타입
    택배비 여부: 온라인배송비 군포시 부담 / 온오프라인 반납택배비 본인부담
    사용기간 : 2019-01-01~2019-12-31

군포시에서 진행하는 프로젝트를 위해 쿠폰 발급을 요청드립니다.
신규 쿠폰 사용 현황을 로그인없이 담당자가 확인할 수 있는 visit-event 통계페이지 생성도 함께 부탁드립니다.

**12월 23일 (일)**까지 요청드립니다.

[2018-12-17 08:09] pingpongworks opened #1521 "[쿠폰 통계] 2018-10-01 ~ 2018-12-21 기간 동안 gwangju201801 쿠폰을 이용한 대여자 명단"
광주시 4분기 정산을 위해
**2018년 10월 1일~2018년 12월 21일**까지 이용내역을 요청합니다.

광주시는 이후 이용내역은 내년으로 이월하여 연속 진행할 예정이므로
12월 21일까지의 대여내역만 12월 22일에 정리해주시면 됩니다.

방문대여와 택배대여는 구분되도록 부탁드립니다.

**12월 23일 (일)** 까지 전달 부탁드립니다.

[2018-12-17 10:49] aanoaa commented on #1518
네 제가 진행하겠습니다.
형식은 비슷하지만 요청드리는 데이터가 좀 더 있을 것 입니다.

[2018-12-17 14:46] keedi commented on #1521
2018-10-01 부터 2018-12-21 까지 gwangju201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-12-17 14:46] keedi commented on #1521
오는 12월 22일에 실행 후 결과를 첨부하겠습니다.

[2018-12-18 11:37] aanoaa opened #1522 "쿠폰으로 예약 하고 대여했지만 쿠폰이 사용안된 주문서"
주문서 번호 126897 는 대여중이고 쿠폰으로 예약되었지만 카드로 결제되었습니다.
수트 쿠폰으로 예약했으면 보통 쿠폰으로 결제하게 되는데 이 주문서는 그렇지 않습니다.
확인이 필요한 것 같습니다.

[2018-12-18 12:07] aanoaa commented on #1512
#1517 에서 해결되었습니다.

[2018-12-18 12:07] aanoaa commented on #1510
#1517 에서 해결되었습니다.

[2018-12-18 12:18] aanoaa commented on #1518
<https://github.com/opencloset/opencloset/wiki/쿠폰발행-작업-절차> 가 바뀌어야 합니다.

기존에는 각 쿠폰별 타입, 마감일, 발행갯수, 제한 갯수등을 전달받으면
스크립트를 만들어서 쿠폰을 발행한 txt 파일을 전달하고 통계를 위한 작업이 필요했습니다.

---

-   쿠폰타입: suit or price or rate
-   이벤트 타이틀: 취업날개
-   이벤트구분자(이건 개발파트에서 알아서 정할 수 있음); `seoul-2018-1`
-   스폰서: 서울특별시
-   시작연도: 2019
-   회차: 1
-   발행갯수: 500
-   제한갯수: 200(500 개 발행하고 200개까지만 사용제한)
-   무료배송여부: 대여할때/반납할때가 구분되지 않습니다.
-

[2018-12-19 01:07] pingpongworks commented on #1518
- 쿠폰타입:  suit
- 이벤트 타이틀:  안양 청년옷장
- 이벤트구분자 : anyang201901
- 스폰서: 안양시
- 시작연도: 2019
- 회차: 1
- 발행갯수: 500
- 제한갯수: 없음 (예산이 제한적이지 않습니다)
- 무료배송여부: 온라인 배송비 / 온오프라인 반납택배비 모두 지자체 부담
- 이벤트 시작일: 2019-01-01
- 이벤트 마감일: 2019-12-31
- 마감일 기준: 대여일

다른 건 알겠는데, 쿠폰타입 선택을 정확히 모르겠네요 suit / price / rate 차이 알려주세요~

[2018-12-19 01:40] aanoaa commented on #1518
suit: 단벌쿠폰
price: 10,000 원 짜리
rate: 30%

[2018-12-19 01:40] aanoaa commented on #1518
가격과 비율을 정할 수 있습니다.

[2018-12-19 03:46] pingpongworks commented on #1518
네~ 안양 건은 suit 로 쿠폰 발행 부탁드립니다

[2018-12-19 03:47] pingpongworks commented on #1520
- 쿠폰타입: suit
- 이벤트 타이틀: 군포청년날개
- 이벤트구분자 : gunpo201901
- 스폰서: 군포시
- 시작연도: 2019
- 회차: 1
- 발행갯수: 500
- 제한갯수: 없음 (예산이 제한적이지 않습니다)
- 무료배송여부: 온라인 배송비 / 온오프라인 반납택배비 모두 지자체 부담
- 이벤트 시작일: 2019-01-01
- 이벤트 마감일: 2019-12-31
- 마감일 기준: 대여일

군포시에서 진행하는 프로젝트를 위해 쿠폰 발급을 요청드립니다.
신규 쿠폰 사용 현황을 로그인없이 담당자가 확인할 수 있는 visit-event 통계페이지 생성도 함께 부탁드립니다.

**12월 23일 (일)**까지 요청드립니다.

[2018-12-19 05:19] pingpongworks commented on #1512
제 현재까지 요청드렸던 작업내용 확인했습니다.
그런데, 용인시는 마감날짜에 대해 계속 변경하고 있는 상황이라 일단 지켜봐야할 거 같습니다. 이후에 변동사항이 없다고 판단될 때 최종확인하고 이슈 닫겠습니다.

[2018-12-19 05:28] pingpongworks commented on #1512
요청드렸던 날짜로 마감하겠다고 합니다. 이슈 닫겠습니다.

[2018-12-19 05:28] #1512 closed, assigned to aanoaa

[2018-12-19 05:29] pingpongworks commented on #1522
대여자에게 직접 확인한 결과 쿠폰으로 결제한 분이 맞습니다. 결제담당자가 실수로 '카드'로 선택해서 쿠폰결제가 안 된 거 같습니다. **사용된 쿠폰**으로 변경 요청드립니다.

[2018-12-20 08:59] pingpongworks commented on #1517
예약마감 / 대여마감 표현에 대한 이해가 달라서 서울시 쿠폰이 24일 이후에도 예약이 되고 있습니다. 마감이 필요한 부분은 예약마감의 의미는 "예약행위 마감"이었습니다. 20일이 대여일로 마감되려면 "대여 마감"으로 요청되어야 합니다. A타입은 예약 마감일 이후에도 예약이 계속 가능하므로, 대여 마감일을 따로 설정해야 합니다.

**서울시쿠폰이 원하는 것은 20일까지 예약행위가 가능하고, 23일로 반납까지 마감되어서 24일에 정산하기를 원합니다.** 다른 지자체는 연속적으로 진행될 거라 마감에 오차가 있어도 크게 문제되지 않습니다.

계속 좀 헷갈리는데 둘 중에 어떤 방법이 맞는건지요?

1. A타입으로 두고, 20일을 예약행위마감일, 23일을 대여마감일로 설정한다
2. B타입으로 수정하고, 대여마감일을 2

[2018-12-20 12:20] aanoaa commented on #1517
대여마감일을 이야기하시면 헛갈립니다.

이 이슈에서 사용한 마감일이라고 하는 것을 쿠폰을 사용함에 있어서 유효한 날짜입니다.
옷장에서 대여 반납 프로세스 한사이클을 의미하는 마감과는 다릅니다.

연체나 연장의 변수가 있어서 20일 대여했다고 23일 반납하는 것은 아닙니다.

---

두개의 쿠폰 타입에 대해서 아래와 같이 정의하였는데, 혼란이 있으셨던 것 같습니다.

[2018-12-20 12:25] aanoaa commented on #1517
원하셨던 것을 추측해본다면,
서울시 쿠폰으로는 20일까지 대여할 수 있는 B 타입의 쿠폰인 것 같습니다.

아직까지는 A 타입으로 설정되어 있기 때문에, 오늘 자정 전까지는 쿠폰을 사용해서 20일 이후에도 방문예약을 할 수 있습니다.
이것을 B 타입으로 바꾼 이후부터는 그렇게 되지 않습니다.

서울시 이벤트의 타입을 A 에서 B 로 바꾸고 마감일을 `2018-12-20 23:59:59` 로 지정하겠습니다.
그리고 이미 서울시 쿠폰으로 20일 이후에 방문예약한 주문서를 추려서 전달해드리겠습니다.

[2018-12-20 12:29] aanoaa commented on #1517
실행해야 할 쿼리 입니다.
서울시 이벤트의 타입을 예약일 기준에서 대여일 기준으로 바꿉니다.
마감날짜는 이미 `2018-12-20 23:59:59` 으로 되어있습니다.

    UPDATE `event` SET `event_type_id` = 2 WHERE `id` = 3;

[2018-12-20 12:30] aanoaa commented on #1517
적용하였습니다.

[2018-12-20 12:43] aanoaa commented on #1517
[code]

[2018-12-20 12:46] aanoaa commented on #1517
결과는 이메일로 전달해 드렸습니다.

[2018-12-20 16:45] pingpongworks commented on #1517
목록 확인했습니다.

A타입의 예약일의 개념을 이제 이해했는데, 사실상 현실적으로 이벤트를 마감하려면 대여일 기준이 되어야 일정한 날짜에 매듭이 지어지고 정산을 할 수 있기 때문에 A타입의 “예약하는 날짜”기준으로는 실질적인 ‘마감’이 되기는 어렵습니다.

내년에는 거의 모든 경우에 **B타입 대여일 기준**으로 마감을 해야하는 것으로 정리가 됩니다.

감사합니다. 이슈 닫을게요.

[2018-12-20 16:45] #1517 closed, assigned to aanoaa

[2018-12-21 17:18] keedi commented on #1521
메일 결과로 첨부드렸습니다.

[2018-12-22 09:43] pingpongworks commented on #1521
확인했습니다. 감사합니다.

[2018-12-22 09:43] #1521 closed, assigned to keedi

[2018-12-22 09:50] pingpongworks opened #1523 "[쿠폰 통계] 2018-10-01 ~ 2018-12-30 기간 동안 yongin201801 쿠폰을 이용한 대여자 명단"
용인시 4분기 정산을 위해
2018년 10월 1일~2018년 12월 30일까지 이용내역을 요청합니다.

방문대여와 택배대여는 구분되도록 부탁드립니다.

12월 31일 오전에 제출 예정이므로
12월 30일 6시 대여업무 끝난 이후 저녁에 전달 부탁드립니다.

[2018-12-23 02:05] aanoaa commented on #1518
이거 오늘까지입니다.
작업해서 전달해드리겠습니다.

[2018-12-23 03:08] aanoaa commented on #1518
이벤트 및 쿠폰을 생성했습니다.

    $ cat anyang.sh
    #!/bin/sh

    perl bin/event.pl \
         --name=anyang201901 \
         --title='안양 청년옷장' \
         --type='reserve|rental' \
         --sponsor='경기도 안양시' \
         --year=2019 \
         --nth=1 \
         --freeshipping \
         --start_date='2019-01-01' \
         --end_date='2019-12-31 23:59:59' \
         --coupon-type='suit' \
         --coup

[2018-12-23 03:14] aanoaa commented on #1520
[code]

[2018-12-23 03:14] aanoaa commented on #1518
이메일로 전달해드렸습니다.
통계는 2019-01-01 이후부터 수집하고 나타나게 됩니다.

[2018-12-23 03:15] aanoaa commented on #1520
이메일로 전달해드렸습니다.
통계는 2019-01-01 이후부터 수집하고 나타나게 됩니다.

[2018-12-24 07:50] pingpongworks opened #1525 "로그인없이 이용자수 확인 가능한 페이지 오류"
지자체 담당자가 이용자수를 확인할 수 있도록 만든 페이지 (https://visit...events....stat)에 문제가 생겼습니다.
각 지자체 담당자가 자신의 프로그램 이용자 수만 확인할 수 있어야 하는데
모든 지자체 이용자수를 다 확인할 수 있도록 되어 있습니다.
최대한 빨리 막아주세요!!!

[2018-12-24 07:59] pingpongworks commented on #1525
스태프 로그인 상태로 확인해서 오인하였습니다.
죄송합니다.

[2018-12-24 07:59] #1525 closed, assigned to keedi, aanoaa

[2018-12-24 08:27] pingpongworks commented on #1520
정확한 쿠폰갯수 497개 확인하고 전달했습니다. 감사합니다.

[2018-12-24 08:27] #1520 closed, assigned to aanoaa

[2018-12-24 08:28] pingpongworks commented on #1518
정확한 쿠폰갯수 497개 확인하고 전달했습니다. 감사합니다.

[2018-12-24 08:28] #1518 closed, assigned to aanoaa

[2018-12-24 08:29] pingpongworks commented on #1510
확인했습니다. 덕분에 올해 마감 잘 되었습니다. 감사합니다.

[2018-12-24 08:29] #1510 closed, assigned to aanoaa

[2018-12-24 08:30] pingpongworks commented on #1482
문제 해결 모두 되었어서 닫습니다~

[2018-12-24 08:30] #1482 closed, assigned to aanoaa

[2018-12-24 08:31] #1475 closed, assigned to keedi, aanoaa

[2018-12-24 11:02] aanoaa commented on #1518
[code]

500 개 입니다.
3개는 무슨일이 있나요?

[2018-12-24 11:02] aanoaa commented on #1520
[code]

이것도 500개 입니다.

[2018-12-25 06:47] pingpongworks commented on #1520
액셀로 옮겨보니까 497개더라고요

[2018-12-25 06:47] pingpongworks commented on #1518
안양, 군포 둘다 액셀로 옮겨보니까 497개였어요~

[2018-12-25 10:26] aanoaa commented on #1518
엑셀로 옮기는 과정에서 실수가 있으셨던 것 같습니다.
제가 전달해드린 쿠폰은 500개 입니다.

[2018-12-26 01:46] pingpongworks commented on #1518
기존에는 항상 쿠폰코드는 csv파일로 전달받았기 때문에, 폴라리스 오피스로 연 다음 복사해서 액셀에 붙여넣기 한 후 저장해서 전달했었습니다. 이번에도 txt파일을 폴라리스 오피스로 연 다음 액셀에 붙여넣기 했는데, 이 방식으로 하면 497개가 됩니다. 원인은 모르겠습니다.

txt파일을 그대로 저장한 후 전체 복사해서 액셀에 붙여넣기 해보니까 500개로 뜹니다. 다음부터는 이 방법으로 열어야겠습니다.

[2018-12-26 02:38] pingpongworks opened #1526 "[쿠폰 발행] goyang201901 쿠폰의 신규 발급"
고양 쿠폰사업이 공백없이 진행될 수 있도록 새로운 쿠폰 발행을 요청드립니다.

- 쿠폰타입: suit
- 이벤트 타이틀: 고양 청년희망나래
- 이벤트구분자 : goyang201901
- 스폰서: 고양시
- 시작연도: 2019
- 회차: 1
- 발행갯수: 1000
- 제한갯수: 없음 (예산이 제한적이지 않습니다)
- 무료배송여부: 온라인 배송비 지자체 부담 / 온오프라인 반납택배비 본인 부담
- 이벤트 시작일: 2019-01-01
- 이벤트 마감일: 2019-12-31
- 마감일 기준: 대여일

고양시에서 진행하는 프로젝트를 위해 쿠폰 발급을 요청드립니다.
신규 쿠폰 사용 현황을 로그인없이 담당자가 확인할 수 있는 visit-event 통계페이지 생성도 함께 부탁드립니다.

12월 28일 (금)까지 요청드립니

[2018-12-26 08:26] pingpongworks opened #1527 "[쿠폰 발행] namyangju201901 쿠폰의 신규 발급"
쿠폰타입: suit
이벤트 타이틀: 남양주 꿈날개옷장
이벤트구분자 : namyangju201901
스폰서: 남양주시
시작연도: 2019
회차: 1
발행갯수: 400
제한갯수: 없음 (예산이 제한적이지 않습니다)
무료배송여부: 온라인 배송비 / 온오프라인 반납택배비 모두 본인 부담
이벤트 시작일: 2019-01-01
이벤트 마감일: 2019-12-31
마감일 기준: 대여일

남양주시 무료대여를 위한 쿠폰 발행 요청드립니다. **12월 30일 (일)**까지 부탁드립니다.

[2018-12-26 15:37] aanoaa commented on #1526
검색이 되면 안되나요?
** 해주셔서 타이틀이 뭔지 저도 모르겠습니다.

[2018-12-26 15:44] aanoaa commented on #1526
[code]

[2018-12-26 15:45] aanoaa commented on #1527
[code]

[2018-12-26 15:47] aanoaa commented on #1526
이메일로 전달해 드렸습니다.
이벤트 타이틀은 알려주시면 변경하겠습니다.
노출을 원치 않으시면 행아웃으로 남겨주세요.

[2018-12-26 15:47] aanoaa commented on #1527
이메일로 전달해 드렸습니다.
이벤트 타이틀은 알려주시면 변경하겠습니다.
노출을 원치 않으시면 행아웃으로 남겨주세요.

[2018-12-27 01:03] pingpongworks commented on #1527
이벤트 타이틀 기입해놨습니다. 쿠폰발행에 대한 내용이 검색되어도 괜찮을까 싶어서 그랬는데, 상관없을 거 같습니다. 쿠폰은 이메일로 확인했습니다. 이슈 닫을게요~

[2018-12-27 01:03] #1527 closed, assigned to aanoaa

[2018-12-27 01:04] pingpongworks commented on #1526
이벤트 타이틀 기입해놨습니다. 쿠폰은 이메일로 확인했습니다. 이슈 닫겠습니다~

[2018-12-27 01:04] #1526 closed, assigned to aanoaa

[2018-12-27 07:33] pingpongworks opened #1528 "[쿠폰 발행] gwangju201901 쿠폰의 신규 발급"
- 쿠폰타입: suit
- 이벤트 타이틀: 광주 청년꿈이룸옷장
- 이벤트구분자 : gwangju201901
- 스폰서: 경기도 광주시
- 시작연도: 2019
- 회차: 1
- 발행갯수: 300
- 제한갯수: 없음 (예산이 제한적이지 않습니다)
- 무료배송여부: 온라인 배송비 지자체 부담 / 온오프라인 반납택배비 본인 부담
- 이벤트 시작일: 2019-01-01
- 이벤트 마감일: 2019-12-31
- 마감일 기준: 대여일

광주시 무료대여를 위한 쿠폰 발행 요청드립니다. **12월 30일 (일)**까지 부탁드립니다.

[2018-12-28 11:32] pingpongworks commented on #1523
용인시 대여자내역, 오늘까지 이용자로 주셔도 됩니다. 31일 오전 9시까지 용인시에 가서 서류를 제출해야합니다. 내일까지 이용자내역 전달 부탁드립니다.

[2018-12-28 14:58] keedi commented on #1523
2018-10-01 부터 2018-12-30 까지 yongin201801 쿠폰 사용자의 목록을 추출하는 질의는 다음과 같습니다.

[code]

[2018-12-28 16:33] keedi commented on #1523
결과 메일로 전달 드렸습니다.

[2018-12-29 03:38] aanoaa commented on #1528
[code]

[2018-12-29 03:40] aanoaa commented on #1528
메일로 전달해드렸습니다.

[2018-12-29 04:45] pingpongworks commented on #1528
300개 확인하고 전달했습니다. 감사합니다~

[2018-12-29 04:45] #1528 closed, assigned to aanoaa

[2018-12-29 05:58] pingpongworks commented on #1523
확인했습니다. 감사합니다~

[2018-12-29 05:58] #1523 closed, assigned to keedi

[2019-01-05 09:53] pingpongworks commented on #1491
주소 검색이 안뜬다는 분들이 게속 나오고 있습니다.
신 주소 업데이트 작업 언제쯤 마무리 될까요?

[2019-01-08 05:36] pingpongworks opened #1529 "남성 키 구역별 / 남성정장의 사이즈별 대여 통계: 2018"
실제 대여 통계를 기반으로 사이즈별 재고 상황을 정확하게 파악하고,
사이즈가 없거나 부족해서 대여하지 못했던 의류를 구매/제작/수선하기 위해
남성정장 사이즈별 대여 통계를 요청드립니다.

- 통계 기간 : 2018년 1월 1일~12월 31일
- 통계 대상 : 기간 내 대여된 의류의 사이즈
- 통계 내용 :  남성정장 A,B,C 분류 내에서
1) 자켓 윗배둘레 별 대여횟수
2)  팬츠 허리둘레 별 대여횟수

자세한 내용은 메일로 드렸습니다.

[2019-01-10 09:47] pingpongworks opened #1530 "지자체 쿠폰 이용내역 통계페이지 업데이트 오류"
![image](https://user-images.githubusercontent.com/17288038/50960087-e4421080-1507-11e9-8f4b-447e3e1b69b0.png)

2019년 통계페이지가 전혀 업데이트 되고 있지 않습니다.
이미 안양시, 남양주시, 고양시 등 이용자가 있는데도 모든 지자체의 이용내역 통계페이지가 0으로 뜹니다.
지자체 담당자가 확인하는 페이지도 같은 현상이라고 합니다. 오류 수정 부탁드립니다.

[2019-01-10 12:26] aanoaa commented on #1530
저의 잘못입니다.
수집된 날짜부터 계속해서 0건으로 카운트되고 있습니다.
수정 후에 누락된 수치까지 복구하도록 하겠습니다.

[2019-01-10 15:20] aanoaa commented on #1530
해결되었습니다.

[2019-01-10 22:23] pingpongworks commented on #1530
확인했습니다~

[2019-01-10 22:23] #1530 closed, assigned to aanoaa

[2019-01-14 07:43] pingpongworks opened #1531 "[쿠폰 발행] ansan201901 쿠폰의 신규 발급"
쿠폰타입: suit
    이벤트 타이틀: 안산 취업옷장
    이벤트구분자 : ansan201901
    스폰서: 경기도 안산시
    시작연도: 2019
    회차: 1
    발행갯수: 800
    제한갯수: 없음
    무료배송여부: 온라인 발송비 /  온오프라인 반납택배비 모두 지자체 부담
    이벤트 시작일: 2019-01-14
    이벤트 마감일: 2019-12-31
    마감일 기준: 대여일

안산시 무료대여를 위한 쿠폰 발행 요청드립니다. **1월 18일 (금)**까지 부탁드립니다.

[2019-01-15 01:58] aanoaa opened #1532 "2019년도 서울시 이벤트 생성"
[code]

검색에 노출되지 않는게 좋을 것 같아서, 서울시 쿠폰으로 타이틀을 대신 썼습니다.
하지만 실제 데이터는 그렇지 않을 것 입니다.

[2019-01-15 02:01] #1532 closed, assigned to aanoaa

[2019-01-15 05:35] aanoaa opened #1533 "기간과 이벤트별 대여자 명단을 export 기능"
각 이벤트의 기간별로 대여자 명단을 요청해주시고 있는데,
통계 페이지에서 이것을 기능으로 추가하고 csv 파일로 내려받을 수 있게 하고자 합니다.

[2019-01-15 08:52] pingpongworks opened #1534 "[쿠폰 발행] gscaltex201901 쿠폰의 신규 발급"
- 쿠폰타입: suit
- 이벤트 타이틀: GS칼텍스 취준 동고동락
- 이벤트구분자 : gscaltex201901
- 스폰서: gs칼텍스
- 시작연도: 2019
- 회차: 1
- 발행갯수: 270
- 제한갯수: 없음
- 무료배송여부: 온라인 발송비 /  온오프라인 반납택배비 모두 본인 부담
- 이벤트 시작일: 2019-01-15
- 이벤트 마감일: 2021-12-31
- 마감일 기준: 대여일

GS칼텍스가 후원하는 취업캠프에서 취준생들에게 배포할 쿠폰 발행 요청드립니다. **1월 20일 (일)** 까지 부탁드립니다.

[2019-01-16 00:09] aanoaa commented on #1534
$ cat gscaltex.sh
    #!/bin/sh
    perl bin/event.pl \
         --name='gscaltex201901' \
         --title='GS칼텍스 취준 동고동락' \
         --type='reserve|rental' \
         --sponsor='GS칼텍스' \
         --year=2019 \
         --nth=1 \
         --start_date='2019-01-15' \
         --end_date='2021-12-31 23:59:59' \
         --freeshipping \
         --coupon-type='suit' \
         --coupon-count=270 \

[2019-01-16 00:10] aanoaa commented on #1534
메일로 전달해드렸습니다.

[2019-01-16 00:15] aanoaa commented on #1531
[code]

[2019-01-16 00:16] aanoaa commented on #1531
메일로 전달해드렸습니다.

[2019-01-16 01:19] pingpongworks opened #1535 "[서울시쿠폰] 주문서 쿠폰탭과 관리자페이지 연동 오류"
<img width="612" alt="2019-01-16 10 16 05" src="https://user-images.githubusercontent.com/17288038/51220293-f7c20100-1977-11e9-8978-be9f19e364e0.png">

현재 예약시 수지니와 관리자페이지가 쿠폰탭을 통해 연동되지 않습니다. 대여자가 방문하면 스태프가 주문서의 사용가능 탭을 눌러  관리자 페이지로 이동하여 면접증빙을 확인해야하는데 탭을 눌러도 연동되지 않습니다. 연동되도록 부탁드립니다.

<img width="612" alt="2019-01-16 12 01 02" src="https://user-images.githubusercontent.com/17288038/51223769-95243180

[2019-01-16 02:26] pingpongworks commented on #1535
서울시쿠폰으로 예약하지 않고 온 일반대여자가
`방문예약``결제대기 `상태에서 쿠폰으로 다시 예약했을 경우 덮어씌워지는 기능도 오류입니다.
수지니에서는 `대여가능한 서울시쿠폰`상태로 바뀌어 보이는데,
취날 관리자페이지에는 예약내역이 연동되어 있지 않습니다.
이럴 경우, 현장에서 면접증빙도 확인할 수가 없고, 나중에 정산에서도 누락됩니다.

orders/129475
orders/129551
orders/129552

위 3개의 주문서가 그런 경우입니다.

결제대기 상태에서 덮어씌웠을 때 연동이 늦는 건지, 아예 안 된 건지 확인이 필요합니다.

[2019-01-16 03:07] pingpongworks opened #1536 "[서울시쿠폰] 방문예약/결제대기 상태에서 쿠폰예약으로 덮어씌우기 기능 오류"
서울시쿠폰으로 예약하지 않고 온 일반대여자가
`방문예약` `결제대기 `상태에서 서울시쿠폰으로 다시 예약했을 경우 덮어씌워지는 기능 오류입니다.

수지니에서는 `대여가능한 서울시쿠폰`상태로 바뀌어 보이는데,
취날 관리자페이지에는 예약내역이 연동되어 있지 않습니다.
이럴 경우, 현장에서 면접증빙도 확인할 수가 없고, 나중에 정산에서도 누락됩니다.

    열린옷장에 예약내역이 있는 자가
    방문예약/결제대기 상태에서 취날 포털에 로그인해서 쿠폰으로 예약을 해서
    수지니에서 서울시쿠폰 상태로 바뀌면
    관리자페이지의 예약내역이 사라지고 있다

라고 밖에 추정되지 않습니다. 이해하기 어려운 상황입니다.

위 3개의 주문서가 그런 경우입니다.

[2019-01-16 06:29] aanoaa commented on #1535
라벨의 링크는 수정되었습니다.

[code]

[2019-01-16 06:35] aanoaa opened #1537 "event 와 쿠폰 limit 과 관련된 처리"
결제대기 -> 대여중

이 되었을때에 쿠폰 리밋을 카운트하는 로직이 잘못되었습니다.
(`OpenCloset::API::payment2rental`)
수정되어야 합니다.

[2019-01-16 06:44] aanoaa commented on #1536
그냥예약 -> 쿠폰으로 예약 변경
했을때에 검색이 아니되어서 사라지고 있다고 표현하신 것 같습니다.
사라진 것은 아니고 상태가 비어서 검색이 아니되고 있습니다.
이게 원래부터 이랬던 것 인지, 올해들어 바뀐 것 인지 파악이 필요합니다.

[2019-01-16 07:11] aanoaa commented on #1536
상태변경은 익일에 일괄로 이루어집니다.

`/orders/129475` 주문서를 통해서 상세화면에 접근할 수 있습니다.
전달받은 API 를 통해서 예약시간을 변경하는 request 를 했는데, 예약상태가 비어있습니다.

해당업체에 문의해서 왜 없는 것인지 문의해야 합니다.
지난번에도 같은 이슈가 있었던 것으로 기억합니다.
프로그램의 버그가 아닐까 싶습니다.
@pingpongworks

옷장지기가 예약했던 내역을 가지고 예약상태 변경을 테스트하고 성공했습니다.
익일 일괄로 상태를 변경하는 작업은 동작할 것 같습니다.

[2019-01-16 07:12] aanoaa commented on #1536
담당자의 휴대폰으로 연락해 봤는데 안받습니다.
이메일로 문의를 해주세요.

[2019-01-16 07:27] aanoaa commented on #1536
해당 관리자 페이지에서 예약상태가 없을때에 사용자 이름등으로 검색이 아니되어서
예약내역이 사라졌다고 오해하셨지만,

주문서에서 라벨클릭이 안되는 이슈 #1535 가 해결되어서 직접 페이지에 접근할 수 있습니다.

[2019-01-16 07:29] aanoaa commented on #1537
아직 limit 이 적용된 쿠폰이 없는게 다행입니다.

[2019-01-16 08:02] aanoaa commented on #1537
[OpenCloset-API-v0.1.9.tar.gz](https://cpan.theopencloset.net/STAFF@THEOPENCLOSET.NET/OpenCloset-API-v0.1.9.tar.gz) 배포하였습니다.

[2019-01-16 08:03] aanoaa commented on #1537
upgrade 하고 visit, staff 재시작 하였습니다.

[2019-01-16 08:03] #1537 closed, assigned to aanoaa

[2019-01-17 01:45] pingpongworks commented on #1531
확인했습니다. 감사합니다^^

[2019-01-17 01:45] #1531 closed, assigned to aanoaa

[2019-01-17 01:55] pingpongworks commented on #1534
확인했습니다. 감사합니다.

[2019-01-17 01:55] #1534 closed, assigned to aanoaa

[2019-01-17 01:57] pingpongworks commented on #1535
오류 복구 확인했습니다.

[2019-01-17 01:57] #1535 closed, assigned to aanoaa

[2019-01-17 02:36] pingpongworks opened #1538 "[통계 요청] "내공식탁" 문자 홍보용 명단"
기증자 재능나눔 프로그램인 "내공식탁"의 참여자를 모집중입니다.
직군별로 기증자와 청년구직자가 식사를 하며 취업과 사회생활에 대한 내공을 나누는 자리입니다.
열린옷장에서 대여한 청년구직자 중 잠재참여자에게 참여 안내 문자를 보내고자
다음과 같이 명단을 요청드립니다.

    1) 2018년 10월 16일~2019년 1월 16일까지 최근 3개월 이내 대여했던 자
    2) 1번 중 생년이 1990년~1998년인 자
    3) 2번 중 주소지가 서울/경기인 자
    4) 3번 중 대여목적이 입사면접인 자

이미 SNS홍보를 시작했으나 참여가 저조한 관계로 문자홍보를 진행하는거라
가능하신대로 빨리 주시면 감사하겠습니다.

[2019-01-17 17:22] keedi commented on #1538
상기 네 가지 조건을 모두 만족하는 명단을 추출하는 질의는 다음과 같습니다.

[code]

[2019-01-17 17:22] keedi commented on #1538
명단은 메일로 첨부드렸습니다.

[2019-01-18 00:54] pingpongworks commented on #1538
명단 메일로 받았습니다. 위의 조건을 충족하는 리스트가 18명 밖에 되지 않는게 이상합니다.
명단을 보니까 온라인대여자 중에서만 추출된 것 같습니다.
**방문대여자 중 위 조건을 충족하는 명단도 다시 한번 부탁드립니다.**

[2019-01-18 01:13] keedi commented on #1538
~~해당 조건을 충족하는 방문 대여자는 0명입니다.~~

[2019-01-18 02:19] keedi commented on #1538
방문 대여자가 0명이 아닙니다. 데이터베이스에 user_address 란 테이블이 생겼고 주문서에서 외래키 처리를 하도록 바뀌었지만 오프라인의 경우 전혀 연결되어 있지 않습니다. 온라인 전용으로 만들었거나. 만들고 온라인만 적용한 것으로 보입니다.

상기 질의를 수정해서 다시 목록을 뽑아야 하는데 온라인과 오프라인 질의를 별개로 만들어야 합니다.

[2019-01-18 08:53] pingpongworks opened #1539 "방문예약 창에 무료대여 안내 정보 추가"
![-](https://user-images.githubusercontent.com/17288038/51375571-96ea2280-1b49-11e9-9efa-91510577bcfe.jpg)

서울시와 경기지역 무료대여 프로그램이 다양해진 만큼 예약시 정보를 알고 이용할수 있도록 방문예약창 하단의 정보를 위와 같이 보완하고자 합니다.

- 서울시 무료대여 탭을 클릭하면 서울시 일자리 포털로 연결
http://dressfree.net/main/main.php

- 경기지역 무료대여 탭을 클릭하면 열린옷장 홈페이지의 경기지역 무료대여 안내 페이지로 연결
https://theopencloset.net/%ea%b2%bd%ea%b8%b0%ec%a7%80%ec%97%ad-%eb%ac%b4%eb%a3%8c%eb%8c%8

[2019-01-20 19:48] keedi commented on #1539
수정 및 배포 완료했습니다.

![screenshot-visit theopencloset net-2019-01-21-04-47-59](https://user-images.githubusercontent.com/138451/51444187-d37b7100-1d37-11e9-8a38-b5a41c674197.png)

[2019-01-20 21:16] keedi commented on #1538
현 시점 기준 온라인, 오프라인에서 주소를 처리하는 방식이 다른 관계로 주소를 처리하는 질의의 경우 조건식을 별개로 처리해야 합니다. 상기 조건을 충족하는 수정된 질의는 다음과 같습니다.

[code]

[2019-01-21 01:15] pingpongworks commented on #1539
![default](https://user-images.githubusercontent.com/17288038/51447863-726a9200-1d65-11e9-8697-08384d513193.JPG)
하단에 무료대여 안내가 타이포로만 보이고 있습니다.
링크 연결은 잘 되어 있는 거 같습니다. 디자인 수정 부탁드릴게요~

[2019-01-21 01:18] keedi commented on #1539
이미 적용 되어있는데, 브라우저 캐시 때문에 그런 것 같군요. 새로 고침하셔야 할 듯합니다.

[2019-01-21 01:20] pingpongworks opened #1541 "[쿠폰 발행] hwaseong201901 쿠폰의 신규 발급"
- 쿠폰타입: suit
- 이벤트 타이틀: 화성 꿈나래
- 이벤트구분자 : hwaseong201901
- 스폰서: 경기도 화성시
- 시작연도: 2019
- 회차: 1
- 발행갯수: 600
- 제한갯수: 없음
- 무료배송여부: 온라인 발송비 이용자 부담 /  온오프라인 반납택배비 지자체 부담
- 이벤트 시작일: 2019-01-21
- 이벤트 마감일: 2019-12-31
- 마감일 기준: 대여일

화성시 무료대여를 위한 쿠폰 발행 요청드립니다. **1월 24일 (목)**까지 부탁드립니다.

[2019-01-21 01:25] pingpongworks commented on #1539
아, 브라우저 캐시가 이렇게도 영향을 미치나보네요. 인터넷 익스플로어에서 열어보니까 정상적을 보입니다. 확인 감사드립니다~ 그럼, 이슈 닫겠습니다^^

[2019-01-21 01:25] #1539 closed, assigned to keedi

[2019-01-22 05:11] pingpongworks commented on #1536
방문예약/결제대기 상태에서 덮어씌우기 예약을 했을 때, `예약중` 상태는 되지 않지만, 1시 5분 동기화 이후 `대여완료` 가 되어 관리자페이지에 정상적으로 뜨는 것을 확인했습니다. 일단 정산에서 누락될 우려는 사라졌다고 판단됩니다. 이 이슈는 이만 닫겠습니다.

[2019-01-22 05:11] #1536 closed, assigned to aanoaa

[2019-01-22 05:37] pingpongworks commented on #1538
새로운 이메일 발송명단 확인했습니다. 감사합니다.

[2019-01-22 05:37] #1538 closed, assigned to keedi

[2019-01-22 05:39] pingpongworks commented on #1489
2018년 서울시쿠폰 관련한 이슈 닫습니다. 2019년 사업에서 같은 오류가 발생하면 다시 확인요청하겠습니다.

[2019-01-22 05:39] #1489 closed, assigned to keedi, aanoaa

[2019-01-22 05:40] pingpongworks commented on #1455
2018년 서울시쿠폰 관련 이슈 닫습니다. 2019년 같은 오류 발견시 다시 열겠습니다.

[2019-01-22 05:40] #1455 closed

[2019-01-22 05:41] pingpongworks commented on #1377
2017년 서울시쿠폰 관련 이슈 닫습니다. 2019년 같은 오류 발견시 다시 열겠습니다.

[2019-01-22 05:41] #1377 closed

[2019-01-22 05:43] pingpongworks commented on #1361
2017년 서울시쿠폰 관련 이슈 닫습니다. 2019년 같은 오류 발견시 다시 열겠습니다.

[2019-01-22 05:43] #1361 closed

[2019-01-22 05:46] pingpongworks commented on #1522
시기가 지난 이슈이므로 닫겠습니다.

[2019-01-22 05:46] #1522 closed, assigned to pingpongworks

[2019-01-22 08:30] pingpongworks opened #1542 "중복쿠폰 여부를 쿠폰입력창 단계에서 알 수 있도록"
![default](https://user-images.githubusercontent.com/17288038/51520562-5ea75480-1e67-11e9-89ac-203575a0676b.JPG)

지자체 쿠폰으로 예약을 한 후 방문했는데, 중복 쿠폰으로 뜨는 경우가 자주 있습니다.
중복쿠폰인지 여부를 알 수 있는 시점이 `주문확정`을 눌렀을 때이기 때문에 대여자도 스태프도 문제를 해결하기가 번거롭습니다.

일단 유료로 대여를 한 후 지자체에서 다시 쿠폰번호를 받아 기존 주문을 환불처리하고 새로운 쿠폰번호로 다시 예약을 하여 새로운 주문서를 만들어야 정상적으로 쿠폰처리를 할 수 있기 때문입니다.

쿠폰번호 입력창에 쿠폰번호를 입력했을 때  중복쿠폰인지를 대여자에게 알려서 예약 전에 지자체로부터 새로운

[2019-01-22 11:33] aanoaa commented on #1491
자동화까지 욕심을 냈는데 언제 될지 모르겠으므로 2018-08 버전으로 DB 를 업데이트 하겠습니다.
테스트를 위해서 검색되지 않는 주소를 알려주세요.

업데이트 이후에 검색되는지 비교해볼 수 있으면 좋을 것 같습니다.

2019-01-22 24:00 이후에 진행하겠습니다.
업데이트 중에는 주소검색이 원활하지 않을 수 있습니다.
한시간 정도 예상합니다.

잘못되었을때를 대비해서 현재 사용중인 주소 DB 를 백업해야 하는데 그건 지금 하겠습니다.

[2019-01-22 11:34] aanoaa commented on #1491
2017-03-13 버전의 백업파일이 존재합니다.
주소 DB 는 write 되지 않고 read 만 되던 것 이라서 백업이 필요없습니다.

[2019-01-22 11:40] aanoaa commented on #1491
[code]

[2019-01-22 15:06] aanoaa commented on #1491
23:38 부터 20분간 주소 DB 교체 작업이 진행되었습니다.
없는 주소의 결과가 cache 되어 있을 것을 감안해서 캐시파일을 staff 와 postcodify 서비스에서 삭제하고 다시 생성됨을 확인했습니다.

주소DB를 2017년 이전 데이터에서 2018년 8월 기준 데이터로 변경하였습니다.

[2019-01-23 00:58] pingpongworks commented on #1491
확인했습니다~
그동안 검색안 된다고 했던 지역 몇 곳 검색해서 확인했습니다.

검색해서 바로 나오니까 속이 다 시원합니다. 감사합니다. 이슈닫을게요~

[2019-01-23 00:58] #1491 closed, assigned to aanoaa

[2019-01-23 02:07] aanoaa commented on #1491
아 이런 상세한 주소 남기시면 곤란하지 않을까요

[2019-01-23 02:08] aanoaa commented on #1491
늦어서 죄송합니다.

[2019-01-23 02:12] pingpongworks commented on #1491
상세주소는 빠진 주소에요. 그래도 확인하셨으면 지우겠습니다.

[2019-01-24 05:53] pingpongworks opened #1543 "뉴스레터 발송용 기증자 이메일 리스트: 2018-12-17 ~ 2019-01-24"
- 통계기간 : 2018년 12월 17일 ~2019년 1월 24일
- 통계내용 : 기증자 이름 / 이메일

1월 27일 (일)까지 부탁드립니다.

[2019-01-26 04:45] aanoaa commented on #1541
현재 시스템에서는 온라인 발송비에 대해서만 무료가 가능하도록 되어 있습니다.
반납 택배비는 고려되어 있지 않습니다.

해서 이 경우에는 반납택배비는 사용자 입장에선 무료 이지만 시스템에서는 방법이 없습니다.
freeshipping 이 아닙니다.

[2019-01-26 04:52] aanoaa commented on #1541
$ cat a.sh
    #!/bin/sh
    perl bin/event.pl \
         --name='hwaseong201901' \
         --title='화성시 꿈나래' \
         --type='reserve|rental' \
         --sponsor='경기도 화성시' \
         --year=2019 \
         --nth=1 \
         --start_date='2019-01-21' \
         --end_date='2019-12-31 23:59:59' \
         --coupon-type='suit' \
         --coupon-count=600 \
         --coupon-out='hwaseong20190

[2019-01-26 04:55] aanoaa commented on #1541
쿠폰은 이메일로 전달해드렸습니다.

[2019-01-27 14:15] keedi commented on #1543
#1216

2018-12-17 ~ 2019-01-24 기간 사이의 기증자 이메일 목록을 구하는 질의는 다음과 같습니다.

[code]

지금까지 추출했던 결과와 마찬가지로 동일 기증자가 여러번 기증한 경우 목록에 여러번 나옵니다. 동일 기증자를 한 건으로 표시하려면 말씀해주세요. 대신 이 경우 결과물에서 언제 기증했는지 날짜 정보는 표시할 수 없습니다.

[2019-01-28 02:21] pingpongworks commented on #1541
아, 네네~ 시스템에서는 온라인발송비만 고려되면 됩니다. 메일로 쿠폰 확인했습니다. 감사합니다.

[2019-01-28 02:21] #1541 closed, assigned to aanoaa

[2019-01-28 02:30] pingpongworks commented on #1529
메일 확인했습니다. 감사합니다.

[2019-01-28 02:30] #1529 closed, assigned to keedi

[2019-01-30 07:26] pingpongworks opened #1544 "[쿠폰 발행] hanam201901 쿠폰의 신규 발급"
- 쿠폰타입: suit
- 이벤트 타이틀: 하남 일마련
- 이벤트구분자 : hanam201901
- 스폰서: 경기도 하남시
- 시작연도: 2019
- 회차: 1
- 발행갯수: 400
- 제한갯수: 없음
- 무료배송여부: 온라인 발송비 이용자 부담
- 이벤트 시작일: 2019-02-07
- 이벤트 마감일: 2019-12-31
- 마감일 기준: 대여일

하남시 무료대여를 위한 쿠폰 발행 요청드립니다.
 **2월 3일 (일)** 까지 주시면 설 연휴 직후에 전달하겠습니다.

[2019-01-31 06:53] pingpongworks opened #1545 "재대여자 관련 통계 요청"
온/오프라인 대여업무의 효율성을 높이는 것이 이 요청의 궁극적인 목적입니다.
가장 우선적으로 근시간내에 재대여를 하는 사람에 대한 전략을 세움으로써 대여자도 스태프도 빠르고 편리하게 대여를 마칠 수 있도록 하고자 합니다. 목적 달성을 위해 우선적으로 기존의 재대여자에 대해 파악해보고자 다음과 같이 통계 요청을 드립니다.

    - 통계기간 : 2018년 1월 1일 ~12월 31일 (12개월간)
    - 통계내역
    1) 기간 내의 전체 대여건수 중 1달 이내에 재대여를 한 건수 => 온/오프라인 구분, 남여 비율 구분
    2) 기간 내의 전체 대여건수 중 2달 이내에 재대여를 한 건수 => 온/오프라인 구분, 남여 비율 구분
    3) 기간 내의 전체 대여건수 중 3달 이내에 재대여를 한 건수

[2019-02-01 06:14] pingpongworks commented on #1543
확인했습니다.

[2019-02-01 06:14] #1543 closed, assigned to keedi

[2019-02-06 23:46] aanoaa commented on #1544
[code]

[2019-02-06 23:48] aanoaa commented on #1544
쿠폰은 이메일로 전달해드렸습니다.

[2019-02-07 03:47] pingpongworks commented on #1544
확인했습니다. 감사합니다.

[2019-02-07 03:47] #1544 closed, assigned to aanoaa

[2019-02-08 12:03] aanoaa opened #1546 "지난대여기록을 선택했을때에 신체치수 측정단계에서 알수가 없음"
모니터의 의류준비탭에서 `2019-02-xx 대여했던 의류를 ~~` 로 나오는데, 이 내용을 사용자정보 화면의 설명에서 볼 수 있어야 합니다.

블라우스 영역이 지금은 필요가 없으니 대체해도 될 것 같습니다.

[2019-02-08 12:15] aanoaa opened #1547 "본인확인 후에 방문대여인지 온라인대여인지 선택하는 기능"
추후에 자세하게 적겠습니다.

계정이 있더라도, 방문예약 페이지에서 본인확인 후에

대여 방식을 대여자가 선택하고, 온라인 대여라면 인증된 사용자로써 온라인 대여 화면으로 넘기는 기능입니다.

[2019-02-09 10:43] pingpongworks opened #1548 "착용여부 목록에서 "입고감+기록요망" => "온라인 예정"으로 변경"
<img width="393" alt="2019-02-09 7 41 06" src="https://user-images.githubusercontent.com/17288038/52519691-ac62f000-2ca2-11e9-9834-051105769698.png">

사용자 정보 페이지 중 착용여부 탭의 목록 변경을 요청드립니다.
네번째 목록인 "입고감+기록요망"은 대여현장에서는 사용되지 않는 목록입니다.
이보다는 미리 방문해서 입어만 보고 일정기간 후에 온라인으로 대여하려는 경우를 스태프가 인지하는 게 더 필요합니다.

**온라인 예정**으로 변경 부탁드립니다.

[2019-02-15 04:38] pingpongworks opened #1549 "2018년 주문서 중 서울시에 거주 하는 1980~1984년생 대여자 통계"
서울시쿠폰의 현재 이용대상 나이제한은 만 34세입니다.
만 39세로 이용가능한 나이를 늘리는 것과 관련해서
실제 만 35세~만 39세의 이용자 층이 얼마나 되는지 알고자 하는
서울시의 요청으로 통계 요청드립니다.

    - 2018년 1월 1월 ~12월 31일 대여자 중 서울시 주소를 가진 자의 수
    - 2018년 1월1일~12월 31일 대여자로 서울시 주소를 가진 자 중 1980년생~1984년생인 자의 수

2월 17일 (일)까지 통계 부탁드립니다.

[2019-02-17 13:46] keedi commented on #1549
2018년 대여자 중 서울시 주소를 가진 자의 수를 구하는 질의는 다음과 같습니다.

[code]

[2019-02-17 13:47] keedi commented on #1549
2018년 대여자 중 서울시 주소를 가진 1980 ~ 1984년생인 자의 수를 구하는 질의는 다음과 같습니다.

[code]

[2019-02-17 13:50] keedi commented on #1549
결과 메일로 첨부드렸습니다.

[2019-02-18 02:56] pingpongworks commented on #1549
확인했습니다. 감사합니다.

[2019-02-18 02:56] #1549 closed, assigned to keedi

[2019-02-19 02:53] pingpongworks opened #1550 "[쿠폰 발행] seongnam201901 쿠폰의 신규 발급"
* 쿠폰타입: suit
    * 이벤트 타이틀: 성남 청년드림슈트
    * 이벤트구분자 : seongnam201901
    * 스폰서: 경기도 성남시
    * 시작연도: 2019
    * 회차: 1
    * 발행갯수: 600
    * 제한갯수: 없음
    * 무료배송여부: 온라인 발송비 지자체 부담
    * 이벤트 시작일: 2019-03-01
    * 이벤트 마감일: 2019-12-31
    * 마감일 기준: 대여일

성남시 무료대여를 위한 쿠폰 발행 요청드립니다.
**2월 23일 (토)** 까지 주시면 전달하겠습니다.

[2019-02-23 09:26] pingpongworks commented on #1550
성남시 쿠폰, 내일까지는 꼭 부탁드립니다.

[2019-02-23 09:38] pingpongworks opened #1551 "방문예약시 3개월 이내 대여이력이 있는 경우, 온라인 대여 안내 팝업이 뜨도록"
방문대여자가 3개월 이내 대여이력이 있는 경우 택배대여를 하도록 유도하고자 합니다.
대여자가 방문예약을 위해 휴대폰 인증을 받은 후,
3개월 이내 대여이력이 있는 경우 다음의 노란박스와 같은 팝업이 뜨도록 작업 요청드립니다.

<img width="446" alt="스크린샷 2019-01-31 오후 9 28 52" src="https://user-images.githubusercontent.com/17288038/55678455-127f9280-5935-11e9-88e8-21f3aa045e73.png">

[2019-02-24 04:02] aanoaa commented on #1550
[code]

[2019-02-24 04:06] aanoaa commented on #1550
죄송합니다.
자꾸 깜빡합니다.
쿠폰은 메일로 전달해드렸습니다.

[2019-02-24 10:11] pingpongworks commented on #1550
메일에 첨부파일이 없습니다. 확인 부탁합니다.

[2019-02-24 10:14] pingpongworks commented on #1550
확인했습니다. 감사합니다.

[2019-03-02 02:43] aanoaa opened #1552 "*.theopencloset.net 서비스 장애"
서비스가 정상적으로 되는 곳도 있다고 하는데, 제 기준으로는 아니됩니다.

<https://kr.dnsever.com/> 에서 각 레코드를 관리 중 인데, 관련된 모든 설정 값이 제거 되었습니다.
도메인의 소유권이 사라진게 아닌가 싶습니다.

    $ dig staff.theopencloset.net SOA

    ; <<>> DiG 9.11.5-P4-1-Debian <<>> staff.theopencloset.net SOA
    ;; global options: +cmd
    ;; Got answer:
    ;; ->>HEADER<<- opcode: QUERY, status: NXDOMAIN, id: 12166
    ;; flags: qr rd ra; QUERY: 1, ANSWER: 0, AUT

[2019-03-02 07:40] aanoaa commented on #1552
@yongbin 님께 전달받은 내용입니다.
담당자와 통화하고 알아봤는데,

무슨 액션 또는 이벤트에 의한 것인지는 모르겠지만, 다행히도 도메인이 연장되었습니다.
지금은 확산되고 있는 중 입니다.
https://www.gdnspc.com/dns-propagation-checker/kr.html#SOA&theopencloset.net

dnsever 로 네임서버가 올바르게 설정되었습니다.

<img width="436" alt="2019-03-02 4 35 06" src="https://user-images.githubusercontent.com/170528/53678974-b019ed80-3d09-11e9-92fc-a3b4f655423f.png">

옷장 5층 네트워크에서 확인해보았습니다.
옷장에서의 네트워크

[2019-03-04 03:32] pingpongworks commented on #1552
도메인 관련 문제, 정상적으로 2022년 2월 28일까지 기간 연장되었습니다. 오류 나타나지 않고 있습니다. 특별히 마무리 할 내용이 없으시면 이슈 닫아도 될 듯 합니다.

[2019-03-04 03:35] pingpongworks opened #1553 "2019-01-01 ~ 2019-02-28 기간 동안 남양주시 쿠폰을 이용한 대여자 명단"
남양주시에서 2019년 1월~2월 정산을 요청하고 있습니다.

정산 요청시에는 이용자 명단 자료가 필요하기 때문에,
2019년 1월 1일부터 2019년 2월 28일까지
namyangju201901 쿠폰을 사용한 대여자 명단을 요청드립니다.

방문대여와 택배대여가 구분되도록 부탁드립니다.

오늘 바로 급한 요청을 받았으나 내일까지 연기해놓은 상황이라
가능하시다면 내일 오전(3월5일)까지 부탁드립니다.

[2019-03-04 03:37] #1550 closed, assigned to aanoaa

[2019-03-04 05:12] keedi commented on #1553
쿠폰 관련해서 내용이 변경되어 정산 방식이 기존과 달라졌을 수 있습니다. 동일한지 다른지 여부 확인이 필요합니다.

[2019-03-04 11:19] aanoaa commented on #1553
SELECT
        o.id                                     AS order_id
        , u.id                                   AS user_id
        , DATE_FORMAT(b.date, "%Y-%m-%d")        AS booking_ymd
        , DATE_FORMAT(o.rental_date, "%Y-%m-%d") AS rental_ymd
        , u.name                                 AS user_name
        , ui.birth                               AS user_birth
        , c.id

[2019-03-04 11:21] aanoaa commented on #1553
결과는 이메일로 전달해드렸습니다.

[2019-03-04 11:25] #1552 closed, assigned to nobody

[2019-03-05 01:51] pingpongworks commented on #1553
확인했습니다~ 감사합니다^^

[2019-03-05 01:51] #1553 closed, assigned to keedi, aanoaa

[2019-03-09 06:23] pingpongworks opened #1554 "지자체별 쿠폰 사용자 내역 다운로드 기능"
![액셀다운로드](https://user-images.githubusercontent.com/17288038/54067047-f200e180-427d-11e9-8e6e-7dbee9273559.jpg)

1. 스태프 `이벤트현황` 페이지에서 각 지자체별로 월 사용자 내역을 **액셀로 다운로드**할 수 있는 기능을 요청드립니다. (위 그림 참조)
2. 쿠폰에 대한 지자체 정산 요청시 사용자 내역을 제출해야 합니다.
3. 사용자 내역에는 주문서번호, 사용자번호, 대여일시, 사용자이름, 생년, 사용자 폰번호, 사용한 쿠폰코드, 택배대여 여부 항목이 기본적으로 필요합니다.

10여개 지자체가 한꺼번에 1분기 정산을 하는 4월 1일 전까지 기능 추가가 가능하면 좋을 듯 합니다.
액셀다운로드 기능의 형태는 1번과 같이

[2019-03-09 10:05] pingpongworks commented on #1491
신주소 문제는 당분간 없을 듯 하니까 이슈우선순위에서 삭제하겠습니다.

[2019-03-21 10:14] pingpongworks opened #1555 "개인 정보 취급 방침 수정"
대여자 신체치수 정보 수집과 관련한 부분에 보완이 필요하다는 변호사 의견에 따라 부분 수정을 하였습니다. 보완하면서 기증자와 자원봉사자의 개인정보 보유기간과 관련된 부분도 보완을 하였습니다.

1) 방문예약할 때
2) 기증신청할 때
3) 자원봉사 신청할 때
4) 온라인대여 회원가입할 때

**개인정보 취급방침 간단버전** 수정 부탁드립니다.

이전에는 기증신청, 자원봉사 신청 버전이 조금씩 달랐지만, 아래의 버전으로 통일해서 수정해주시면 될 듯합니다.

홈페이지 하단 푸터의 **개인정보 취급방침 풀버전**은 이미 수정해놓았으니 가능하면 빠른 수정 부탁드립니다.

----------------------------------------------------------------------------------

[2019-03-25 14:28] keedi commented on #1555
visit 페이지에 적용 완료했습니다.

[2019-03-26 01:37] pingpongworks commented on #1555
2.기증신청할 때
3.자원봉사 신청할 때
4.온라인대여 회원가입할 때

- 방문예약 시 개인정보취급방침 수정된 거 확인했습니다.
- 나머지 2,3,4 경우의 개인정보취급방침도 추가로 수정 부탁드립니다.

[2019-03-26 03:30] pingpongworks opened #1557 "예약시 쿠폰이 아닌데 쿠폰으로 뜬 오류"
user/113458
orders/134727

위 사용자는 2번째 이용자로, 전화번호가 바뀌어 전화번호를 수정한 후 예약을 하자 `안양시쿠폰`으로 뜨는 오류가 발생했습니다.

안양과는 관련이 없는 사용자인데 왜 `안양시 사용된 쿠폰`으로 뜨게 된 것인지 확인이 필요해보입니다. 확인 부탁드립니다.

<img width="717" alt="쿠폰 오류" src="https://user-images.githubusercontent.com/17288038/54969789-f427a780-4fc2-11e9-8685-14c3ce344a9f.png">

[2019-03-28 05:40] pingpongworks commented on #1554
요청드린 지자체별 쿠폰 사용자 내역 다운로드 기능,
이번 주까지 작업이 어렵다면 1분기 정산 요청을 별도 이슈로 드리겠습니다.

안양시, 군포시, 광주시, 고양시, 남양주시, 안산시, 화성시, 하남시, 성남시
총 9개 지자체 대여내역 요청을 드려야하기 때문에
이슈 1개에 한꺼번에 요청을 드릴까 하고 있습니다.

9개 개별 이슈로 요청드리는게 낫다면 답변주시기 바랍니다.

4월 5일전까지 보조금 신청서류와 대여내역 제출, 담당자 확인, 세금계산서 발행까지 마쳐야하므로
3월 31일에 마감된 후 가능한 4월 2일 (화) 저녁까지는 대여내역을 모두 주셔서
제출, 확인, 계산서 발행 과정이 문제없이 진행될 수 있을 듯 합니다.

일정 참고 부탁드립니다.

가능하다면 3월 31일 전에 요청드린 다운로드 기능이 되면 좋

[2019-03-31 01:08] keedi commented on #1554
ui 부분에서 약간 다른 방식으로 진행중입니다. 4/2까지 파일 전달은 문제없으나(별도 이슈 생성할 필요없습니다) 본 이슈 마무리는 시간이 더 걸릴 예정입니다. 참고해주세요.

[2019-04-01 03:03] pingpongworks commented on #1554
네~ 알겠습니다.
그럼, 4월 2일까지 이용자내역 부탁드립니다.

[2019-04-01 14:42] keedi commented on #1555
기록해주신 2, 3, 4는 다른 저장소(프로젝트)입니다. 언급해주신 1~4는 다음과 같습니다.

- 방문예약(visit), 관리(staff) - opencloset/opencloset - @keedi / @aanoaa
- 기증신청(donation) - opencloset/donation - @aanoaa
- 자원봉사(volunteer) - opencloset/volunteer - @aanoaa
- 온라인대여(share) - opencloset/OpenCloset-Share-Web - @aanoaa

번거로우시더라도 별개로 이슈를 올려주시는 것이 좋을 것 같습니다.

[2019-04-01 14:49] keedi commented on #1554
가능하면 쿠폰 관련 요청을 주실 때는 `anyang201901` 과 같은 이벤트 고유 이름을 이용해서 이슈를 기록해주시면 작업하는데 도움이 될 것 같습니다. 이벤트의 종류와 개수가 점점 많아지기 때문에 요청하실 때 명확하게 명시주시는 것이 혼란의 여지가 없을 것으로 사료됩니다.

무엇보다 시작 일시와 종료 일시가 다들 다르기도 하고, 해가 넘어가도 연속되는 이벤트도 있기도 하는 등, 단순히 지자체 명만으로 구분하기는 어려운 점이 많습니다. 참고 부탁드립니다.

[2019-04-01 15:01] keedi commented on #1554
언급하신 지자체의 코드를 확인해보았습니다.

- 안양시   anyang201901
- 군포시   gunpo201901
- 광주시   gwangju201901
- 고양시   goyang201901
- 남양주시 namyangju201901
- 안산시   ansan201901
- 화성시   hwaseong201901
- 하남시   hanam201901
- 성남시   seongnam201901

이상한 부분이 있다면 알려주세요.

[2019-04-01 16:03] pingpongworks commented on #1555
네~ 따로 이슈 올리겠습니다

[2019-04-01 16:04] pingpongworks commented on #1554
이벤트 고유이름, 모두 맞습니다~

[2019-04-04 05:02] pingpongworks opened #1558 "[바코드] 발급 요청드립니다."
품목 | 수량
----|--------
자켓 | 1,000개
바지 | 1,000개
블라우스 | 1,000개
셔츠 | 1,000개
구두(양쪽 2개씩) | 500쌍
원피스 | 500개
코트 | 200개

[2019-04-04 22:06] aanoaa commented on #1558
# belt, blouse, coat, jacket, onepiece, pants, shirt, shoes, skirt, tie, waistcoat, bag, misc
    perl script/generate_code.pl jacket    1000 --save > jacket.csv
    perl script/generate_code.pl pants     1000 --save > pants.csv
    perl script/generate_code.pl blouse    1000 --save > blouse.csv
    perl script/generate_code.pl shirt     1000 --save > shirt.csv
    perl script/generate_code.pl sho

[2019-04-04 22:09] aanoaa commented on #1558
각 파일은 이메일로 전달해드렸습니다.

[2019-04-05 05:23] pingpongworks opened #1559 "온라인 택배 개선을 위한 제안서용 데이터"
5일전 주문해야만 가능한 온라인 배송 기간을 개선하기 위해
당일특송이 가능한 기업에 제휴 제안서를 내려고 합니다.
제안서에 필요한 데이터 요청드립니다.

- 2016년 /2017년/ 2018년 /2019년 3월까지 연도별로 월별 이용자 수
- 2018년 1년간 온라인 대여자 중 주소지가 서울, 경기도 ,인천의 이용자 수
- 2018년 1년간 온라인 대여자 중 주소지가 강원도, 경상도, 전라도, 충청도, 제주도의 이용자수

[2019-04-05 05:24] pingpongworks commented on #1558
확인했습니다~

[2019-04-05 05:24] #1558 closed, assigned to keedi, aanoaa

[2019-04-05 09:01] pingpongworks opened #1560 "하남시 주소의 대여자 대여 건수: 2017, 2018"
경기도 하남시에서 데이터 요청한 건입니다.

- 2017년 1년간 하남시 주소인 대여건수
- 2018년 1년간 하남시 주소인 대여건수

일요일까지 부탁드립니다~

[2019-04-06 00:53] pingpongworks opened #1561 "자원 봉사자 목록: 2018-01-01 ~ 2019-03-31"
주말지기 모집을 위해 열린옷장 업무 경험이 있는 봉사자들에게 문자 구인홍보를 하려고 합니다. 봉사자 명단 요청드립니다.

- 기간 : 2018년 1월 1일 ~2019년 3월월 31일 내의 봉사자
- 요청드리는 내역 :  이름, 전화번호, 이메일, 생년월일, 주소

SNS 모집 공고에 생각보다 반응이 없어 급하게 요청드립니다.
가능하시다면 4월 7일 (일)까지 부탁드립니다.

[2019-04-07 16:59] keedi commented on #1560
2017년 하남시 주소 대여자의 대여 건수 목록을 구하는 질의는 다음과 같습니다.

[code]

2018년 하남시 주소 대여자의 대여 건수 목록을 구하는 질의는 다음과 같습니다.

[code]

[2019-04-07 17:17] keedi commented on #1561
명단을 확인하는 질의는 다음과 같습니다.

[code]

[2019-04-08 04:02] pingpongworks commented on #1560
확인해서 보냈습니다. 감사합니다.

[2019-04-08 04:02] #1560 closed, assigned to keedi, aanoaa

[2019-04-08 08:30] pingpongworks commented on #1561
확인하고 문자발송 마쳤습니다. 감사합니다.

[2019-04-08 08:30] #1561 closed, assigned to keedi, aanoaa

[2019-04-14 17:36] keedi commented on #1559
이용자 수라고 언급하셨지만 실제로는 주문서 개수를 확인하고 싶은 것으로 사료됩니다.  이용자 수는 실제 주문서 개수보다 적을 수 있는데, 이부분 유의하셔야 합니다. 통계의 경우 이용자 수와 주문서 개수는 개념이 미묘하게 다르기 때문에 요청하실 때 원하는 값이 어떤 것인지 확인하실 필요가 있습니다.

자의적이지만, 주문서 개수를 확인하고 싶다고 가정하고 내용 정리합니다. 혹시라도 원래 내용처럼 이용자 수가 필요하다면 피드백주세요.

더불어 담당자를 세 명 모두를 정하는 것은 별 의미가 없습니다. 담당자 정하기가 애매하시면 그냥 비워두시면 될 것 같습니다.

[2019-04-14 17:37] keedi commented on #1559
2016 / 2017 / 2018 / 2019년 3월까지 연도별 월별 주문서 개수를 확인하는 질의는 다음과 같습니다.

[code]

[2019-04-14 17:38] keedi commented on #1559
2018년 1년간 온라인 대여 중 주소지가 서울, 경기도, 인천인 주문서 개수를 확인하는 질의는 다음과 같습니다.

[code]

[2019-04-14 17:39] keedi commented on #1559
2018년 1년간 온라인 대여 중 주소지가 강원, 경상, 전라, 충청, 제주인 주문서 개수를 확인하는 질의는 다음과 같습니다.

[code]

경상도, 전라도, 충청도의 경우 남/북도가 있기 때문에 **경상도**, **전라도** 등과 같이 검색할 경우 원하는 결과가 나오지 않으므로 유의해야합니다.

[2019-04-15 02:53] pingpongworks commented on #1559
이용자수가 아니라 주문건수가 맞습니다. 정확한 표현 사용하도록 하겠습니다.
이슈 담당 등록은 요즘 애매한 게 사실입니다. 당분간은 담당없이 이슈 등록하겠습니다.
메일로 데이터 확인했습니다. 감사합니다.

[2019-04-15 02:53] #1559 closed, assigned to yongbin, keedi, aanoaa

[2019-04-16 06:19] pingpongworks opened #1562 "정장 반납 안내 출력시 택배 반납 문구 제거"
택배로 반납할 경우 현재는 반납일 1일전 발송이라, 실질적인 대여기간이 2박3일 밖에 되지 않는 불편이 있습니다. 반납방법을 방문/택배 구분해서 기억해야하는 대여자의 불편도 있습니다.

불편사항 개선을 위해 방문반납, 택배반납 동일하게 3박4일 내에 반납 또는 발송 하면 되는 것으로 택배반납 정책을 변경하려고 합니다. 결제시 프린트하는 반납안내지의 출력 문구 수정 요청드립니다.

![KakaoTalk_20190416_145439013](https://user-images.githubusercontent.com/17288038/56186551-adc1e780-605a-11e9-8644-acd772b060a1.jpg)

빨간 박스 내용 삭제해주시면 됩니다.

[2019-04-16 10:54] aanoaa opened #1563 "반납택배 발송 알리미 내용 변경"
https://github.com/opencloset/OpenCloset-Cron-SMS/issues/37

[code]

[2019-04-16 11:00] #1563 closed, assigned to aanoaa

[2019-04-16 18:48] keedi commented on #1562
해당 문구 제거했습니다.

![screenshot--2019-04-17-03-42-05](https://user-images.githubusercontent.com/138451/56236003-979c4180-60c3-11e9-89c0-c55520873abc.png)

[2019-04-16 18:49] keedi commented on #1562
배포 이후 서비스를 재기동해야 합니다. 서버에 배포 및 재기동 완료했습니다.

클라이언트 쪽에서는 브라우저 캐시가 있을 수 있으므로 캐시를 제거하거나 새로고침을 정확하게 수행해야 합니다.

[2019-04-21 08:29] pingpongworks commented on #1562
확인했습니다. 감사합니다.

[2019-04-21 08:29] #1562 closed, assigned to keedi

[2019-04-22 08:36] pingpongworks opened #1565 "[쿠폰 발행] gimpo201901 쿠폰의 신규 발행"
* 쿠폰타입: suit
* 이벤트 타이틀: 김포 청년내일옷장
* 이벤트구분자 : gimpo201901
* 스폰서: 경기도 김포시
* 시작연도: 2019
* 회차: 1
* 발행갯수: 500
* 제한갯수: 없음
* 무료배송여부: 온라인 발송비 본인부담
* 이벤트 시작일: 2019-05-02
* 이벤트 마감일: 2019-12-31
* 마감일 기준: 대여일

4월 26일 (금)까지 요청드립니다.

[2019-04-24 14:06] aanoaa commented on #1565
[code]

[2019-04-24 14:07] aanoaa commented on #1565
메일로 전달해드렸습니다.

[2019-04-24 14:07] #1565 closed, assigned to nobody

[2019-04-25 05:35] pingpongworks commented on #1565
확인했습니다. 감사합니다.

[2019-04-29 08:52] pingpongworks opened #1566 "방문 예약 페이지 문구 수정"
<img width="477" alt="스크린샷 2019-04-29 오후 5 41 38" src="https://user-images.githubusercontent.com/17288038/56884942-32265880-6aa6-11e9-9d09-bb868df8fff3.png">

빨간 박스 내의 내용을 아래 내용으로 수정 부탁드립니다.

------------------------------------------------------------------------------------

안녕하세요. 열린옷장 방문시간 예약 페이지입니다.

**방문시간 예약 / 예약내역 확인 / 예약일시 변경 / 예약 취소**를 원하시면 다음을 입력해주세요.

(휴대전화가 없거나 번호가 변경된 경우, 열린옷장 직접 문의

[2019-04-29 08:59] pingpongworks commented on #1566
<img width="384" alt="스크린샷 2019-04-29 오후 5 56 07" src="https://user-images.githubusercontent.com/17288038/56885745-289df000-6aa8-11e9-8eea-f202ba5c3e4c.png">

빨간 박스 내의 내용을 아래 내용으로 수정 부탁드립니다.

---------------------------------------------

입사면접인 경우 응시기업 및 분야와 면접복장 규정을 자세히 입력해주세요. 적합한 의류를 준비해드리기 위해 최선을 다하겠습니다.

[2019-05-02 14:51] pingpongworks opened #1567 "2019-04-01 ~ 2019-04-30 기간 동안 namyangju201901 쿠폰 이용자 명단"
2019년 4월 1일부터 2019년 4월 30일까지
namyangju201901 쿠폰을 사용한 대여자 명단을
방문대여와 택배대여가 구분되도록 요청드립니다.

5월 5일 (일)까지 부탁드립니다.

[2019-05-04 09:19] keedi commented on #1567
명단을 확인하는 질의는 다음과 같습니다.

[code]

[2019-05-04 21:14] pingpongworks commented on #1567
확인했습니다. 감사합니다.

[2019-05-04 21:14] #1567 closed, assigned to nobody

[2019-05-06 15:47] keedi commented on #1566
수정 완료 및 서버에 배포 완료했습니다.

[2019-05-06 15:48] #1555 closed, assigned to keedi

[2019-05-06 20:04] pingpongworks commented on #1566
확인했습니다. 감사합니다.

[2019-05-06 20:04] #1566 closed, assigned to keedi

[2019-05-07 04:50] pingpongworks opened #1569 "평일 및 주말 09:30 예약 슬롯 활성화"
<img width="539" alt="스크린샷 2019-05-07 오후 1 11 48" src="https://user-images.githubusercontent.com/17288038/57272213-c5c2df00-70cd-11e9-8c50-c23f30d7e534.png">
<img width="1025" alt="스크린샷 2019-05-07 오후 1 20 53" src="https://user-images.githubusercontent.com/17288038/57272214-c5c2df00-70cd-11e9-892b-5315c1b463b5.png">
<img width="1025" alt="스크린샷 2019-05-07 오후 1 21 14" src="https://user-images.githubu

[2019-05-07 04:56] pingpongworks opened #1570 "방문 예약시 방문 일자 선택 화면에서 택배 반납 정보 삭제"
<img width="539" alt="스크린샷 2019-05-07 오후 1 11 48" src="https://user-images.githubusercontent.com/17288038/57272710-cd838300-70cf-11e9-82c2-410735d404ca.png">

어디선가 끝없이 나오네요. 빨간 밑줄 부분 삭제 요청드립니다.

[2019-05-08 08:27] yongbin opened #1571 "열린옷장 오프라인 대여자 신체치수 통계"
소령대표님 요청으로 확인한 내용입니다. 요청의 주요 사항은 다음과 같습니다.

- 2018년 1월 1일부터 현재까지
- 대여한 사람중 남성은 상의 자켓, 하의 펜츠, 여성은 상의 자켓, 하의 스커트
- 남성은 상의 topbeely, 하의 waist, 여성은 상의 topbeely, 하의 hip
- 대여한 옷이 한건이상인경우 대여한 옷들의 사이즈의 평균

[2019-05-08 08:29] yongbin commented on #1571
다음 SQL을 통해서 결과를 추출했습니다.

## 남성 상의
[code]
## 남성 하의
[code]
## 여성 상의
[code]
## 여성 하의
[code]

[2019-05-08 08:30] yongbin commented on #1571
4개의 쿼리결과를 단일 ods 파일의 시트로 정리해서 메일로 송부했습니다.

[2019-05-08 08:30] #1571 closed, assigned to yongbin

[2019-05-11 03:40] aanoaa commented on #1548
- staff
- monitor
- OpenCloset-Common

세 군데에서 바뀌어야 합니다.

[2019-05-11 03:43] aanoaa commented on #1548
기존의 `입고감+기록요망` 의 라벨을 `온라인 예정` 으로 바꾸는 대신에,
새로운 카테고리를 추가하고, 목록에서 `온라인 예정` 이 대신 나타날 수 있도록 하겠습니다.

[2019-05-11 05:13] aanoaa commented on #1548
[OpenCloset-Common v0.1.10](https://cpan.theopencloset.net/STAFF@THEOPENCLOSET.NET/OpenCloset-Common-v0.1.10.tar.gz) 배포되었습니다.
여기에는 입고감의 "온라인예정" 값이 포함되어 있습니다.

[2019-05-11 05:29] #1548 closed, assigned to aanoaa

[2019-05-11 11:44] keedi commented on #1571
코드나 내용 첨부할 때 url 주소 신경써주세요.

[2019-05-11 12:02] keedi commented on #1569
변경된 예약 페이지 화면입니다.

![screenshot-staff theopencloset net-2019-05-11-20-57-19](https://user-images.githubusercontent.com/138451/57569442-13be4680-7430-11e9-981e-18dba5436ca3.png)

[2019-05-11 12:02] keedi commented on #1569
변경된 시간표 페이지입니다.

![screenshot-staff theopencloset net-2019-05-11-20-58-15](https://user-images.githubusercontent.com/138451/57569447-1caf1800-7430-11e9-904d-8f828757a75f.png)

[2019-05-11 12:07] keedi commented on #1569
변경된 방문 예약 일시 선택 화면입니다.

![screenshot-staff theopencloset net i5 bebop 10301-2019-05-11-21-07-06](https://user-images.githubusercontent.com/138451/57569486-d1493980-7430-11e9-9be1-0f0da4080306.png)

[2019-05-11 12:08] keedi commented on #1569
몇 명으로 슬롯을 열지 몰라 기본 값은 0으로 했으니 필요에 따라 슬롯 개수를 조절하시면 됩니다.

[2019-05-11 12:37] pingpongworks commented on #1569
네 확인했습니다. 감사합니다.
5월 13일 월요일, 9:30의 경우 지금 예약활성화를 눌러도
기존의 10시 이후 예약 내역은 그대로 있겠죠? 예약 내역이 초기화 되지는 않겠죠?

[2019-05-11 12:49] pingpongworks commented on #1569
타 시간대와 동일하게,
월~금은 6 / 6
토일은 5 / 5 로 설정 부탁드립니다.

[2019-05-11 13:48] keedi commented on #1569
적용했습니다.

예약 활성화는 예약 내역과 무관한 기능으로 해당 예약 시간대 인원을 조정할 수 있도록 해주는 기능입니다. 예약 활성화를 하지 않으면 **CLOSED**로 표시되므로 인원을 조정할 수 없습니다.

[2019-05-11 15:49] keedi commented on #1570
수정 및 적용 완료했습니다. 잘 나오겠지만 경우에 따라 브라우저 새로 고침을 해야할 수도 있습니다.

[2019-05-13 09:15] pingpongworks commented on #1569
확인했습니다. 감사합니다.

[2019-05-13 09:15] #1569 closed, assigned to keedi

[2019-05-13 09:18] pingpongworks commented on #1570
확인했습니다. 감사합니다.

[2019-05-13 09:18] #1570 closed, assigned to keedi

[2019-05-13 09:24] pingpongworks commented on #1548
확인했습니다. 감사합니다.

[2019-05-16 04:15] pingpongworks opened #1574 "서울시쿠폰 대여자 단벌할인 오류"
![fullsizeoutput_2146](https://user-images.githubusercontent.com/17288038/57826039-758a0200-77dc-11e9-9c7d-829ad4de456a.jpeg)

단벌할인이 30,000원이 아니라 27,000원이 되었습니다.
총액이 왜 8,000원인지도 모르겠습니다.
확인부탁드립니다.

[2019-05-16 04:16] #1574 closed, assigned to nobody

[2019-06-01 23:42] pingpongworks opened #1575 "2019-05-01 ~ 2019-05-31 기간 동안 남양주시 쿠폰 이용자 명단"
2019년 5월 1일부터 2019년 5월 31일까지
namyangju201901 쿠폰을 사용한 대여자 명단을
방문대여와 택배대여가 구분되도록 요청드립니다.

가능하시면 6월 2일 (일)까지 부탁드립니다.

[2019-06-03 01:28] pingpongworks opened #1576 "도로명 주소 데이터베이스 갱신"
`user/123990`
`user/123245`
사용자의 주소 검색이 되지않아 정확한 주소 입력을 하지 못했습니다.
상세주소 란에 기입해놓은 도로명 주소 업데이트 요청 드립니다.

[2019-06-03 01:29] pingpongworks commented on #1575
주말이 나으실 거 같아서 요청드렸는데, 못 보신 거 같습니다.
6월 5일 (수)까지 요청드립니다.

[2019-06-03 02:58] pingpongworks opened #1577 "신체치수 오류 수정방법"
#1254와 연관된 이슈입니다.

팔길이, 허벅지둘레, 엉덩이둘레의 잘못된 평균치수가 계속 발견되고 있습니다.

입력할 때 황당하게 큰 숫자가 입력된 것이 영향을 미치는 것 같은데,

잘못 입력된 정보를 찾아서 수정해야할 듯 합니다.

온라인대여 사이트를 새로 작업하기 전에 하면 좋을 듯 합니다.

어떤 방법으로 찾아야할 지 논의 드립니다.

[2019-06-04 03:54] pingpongworks opened #1578 "불납 주문서를 완납으로 처리시 오류가 발생하며 실패함"
`orders/127681`
이미 납부가 된 건이라 불납 상태를 완납 상태로 바꾸고자 하는데,
계속 오류가 나서 못 바꾸고 있습니다.
완납 상태로 처리 요청드립니다.

[2019-06-04 14:22] aanoaa commented on #1576
주소 DB 는 바로바로 적용될 수 없긴 합니다.
upstream 에서 패치된 버전을 export 해두면 그걸 활용하는 방법을 사용하고 있습니다.

최근 DB 가 새로 갱신되었는지 확인해보겠습니다.

[2019-06-04 14:23] aanoaa commented on #1576
`29-Jan-2019 13:16` 일 파일이 최근파일 입니다.(저희가 사용하고 있는 버전같습니다)
업데이트 될때가 되었는데..

[2019-06-04 14:31] aanoaa commented on #1575
[code]

[2019-06-04 14:33] aanoaa commented on #1575
결과는 메일로 전달해드렸습니다.

[2019-06-05 08:23] pingpongworks commented on #1575
확인했습니다. 감사합니다.

[2019-06-05 08:23] #1575 closed, assigned to aanoaa

[2019-06-21 09:45] pingpongworks opened #1579 "2019-04-01 ~ 2019-06-21 기간 동안 안양시 쿠폰 이용자 명단"
2019년 4월 1일부터 2019년 6월 21일까지
anyang201901 쿠폰을 사용한 대여자 명단을
방문대여와 택배대여가 구분되도록 요청드립니다.

안양시에서 내부 사정상 중간정산을 요청하고 있습니다.
6월 2일 (일)까지 부탁드립니다.

[2019-06-21 13:54] aanoaa commented on #1579
제목은 남양주시인데, 안양시를 말씀하시는거겠죠?

[2019-06-21 14:07] aanoaa commented on #1579
메일로 전달해드렸습니다.

[2019-06-22 00:27] pingpongworks commented on #1579
네~ 안양시 맞아요. 감사합니다^^

[2019-06-22 09:35] pingpongworks commented on #1579
근데, 요즘 데이터 받을 때마다 매월 마지막 날 데이터가 누락되어서 옵니다. 다음 번에 데이터 부탁드릴 때 확인 한번 해주세요~

[2019-06-22 09:35] #1579 closed, assigned to aanoaa

[2019-06-24 02:07] pingpongworks opened #1580 "평일 및 주말 09:00 예약 슬롯 활성화"
#1569 와 유사한 요청입니다.

이용자 예약 추이를 분석한 결과를 반영하여 예약시간을 확대하려고 합니다.
일단 시범운영을 통해 검증과정을 거치고자 합니다.
다음 예약시간에 예약이 가능하도록 예약슬롯 조정을 요청드립니다.

    AM 9:00
    PM 18:00
    PM 18:30
    PM 19:00

- 방문예약시 위 시간 선택이 가능하도록
- staff 시간표와 예약 페이지 시간 생성

7월 초 시범운영을 해본 후 확정하여 확대운영을 하려고 하기 때문에
일단 확대하는 시간의 예약가능인원수는 0명으로 해주시면
저희가 수기로 조정하겠습니다.

6월 28일 (금)까지 작업 부탁드립니다.

[2019-06-24 11:41] aanoaa commented on #1580
설정파일을 바꾸고 재시작 하였습니다만 적용되지 않은 것 같습니다.
설정파일만 변경해서는 아니되는 것 같습니다.

[2019-06-24 12:09] aanoaa commented on #1580
[code]

[2019-06-24 12:10] aanoaa commented on #1580
이미 2019-07-14 일 까지 예약을 열어놓은 상태라서, 09:00 슬롯을 추가합니다.
이러면 edit 가능한 형태가 될 것 같습니다.

[2019-06-24 15:33] keedi commented on #1580
음 디비를 질의를 날려서 직접 여는 것은 아닌데요. 혹시 직접 질의 날리셨나요?

[2019-06-24 15:58] keedi commented on #1580
요청하신 09:00, 18:00, 18:30, 19:00 네 개의 시간 중 09:00 을 제외하고는 이미 활성화 되어 있습니다. 수동으로 수정만 해주시면 되는 상황이기 때문에 09:00 만 활성화 시키면 됩니다.

[2019-06-24 16:04] keedi commented on #1580
기존 열어둔 상태의 날짜의 경우 **예약 활성화** 버튼을 누르면 **CLOSED** 항목의 슬롯이 열리게 됩니다. 참고해주세요.

![screenshot-staff theopencloset net i5 bebop 10301-2019-06-25-01-02-54](https://user-images.githubusercontent.com/138451/60034271-31e0bd00-96e5-11e9-9be5-abf55d76da88.png)

P.S.
데이터베이스에 직접 질의를 날리지 않고 상기 버튼을 이용해 활성화 합니다.

[2019-06-24 16:07] keedi commented on #1580
이미 @aanoaa 님께서 작업을 해주셔서 별 다른 것은 없고 내용 확인만 추가로 진행했습니다. 기본 값이 6으로 되어 있어 요청대로 0으로 조정했습니다. 가능하면 데이터베이스에 직접 질의를 날리기 보단 UI를 이용해서 활성화시켜주세요. 버그가 없다면 정상 동작할 겁니다.

[2019-06-24 16:48] keedi commented on #1578
관련 오류 로그는 다음과 같습니다.

[code]

해당 부분 펄 코드는 다음과 같습니다.

[code]

[2019-06-24 16:51] keedi commented on #1578
500 오류를 내는 코드는 `nonpaid2fullpaid()` 함수를 호출하는 부분으로 보입니다.

[code]

[2019-06-24 16:52] keedi commented on #1578
@aanoaa 관련해서 검토 부탁드려요~ :)

[2019-06-24 16:53] keedi commented on #1578
오류가 발생할 때의 화면은 다음과 같습니다.

![screenshot-staff theopencloset net i5 bebop 10301-2019-06-25-01-52-50](https://user-images.githubusercontent.com/138451/60037262-0dd4aa00-96ec-11e9-80b8-b6c61dd92b7d.png)

[2019-06-24 21:26] aanoaa commented on #1580
07-14 까지 이미 활성화 되어 있어서 쿼리로써 넣었습니다.
활성화를 누르면 CLOSED 된 것들만 활성화되는 줄 몰랐습니다.
앞으로는 그리 하겠습니다.

[2019-06-25 02:12] pingpongworks commented on #1580
네 확인했습니다. 감사합니다^^

[2019-06-25 02:12] #1580 closed, assigned to keedi

[2019-06-25 08:55] pingpongworks opened #1581 "2019-04-01 ~ 2019-06-25 기간 동안 hanam201901 쿠폰 이용자 명단"
하남시, 급하게 정산요청이 있습니다.

2019년 4월 1일 ~ 6월 25일
hanam201901 쿠폰이용자 내역
온라인/오프라인 구분하여 부탁드립니다.

급하지만 6월 26일 오전까지 부탁드립니다.

[2019-06-25 12:12] aanoaa commented on #1581
[code]

[2019-06-25 12:13] aanoaa commented on #1581
결과물은 메일로 전달해드렸습니다.

[2019-06-25 17:13] keedi commented on #1581
질의 날짜가 틀렸습니다. 2019-04-01에서 2019-05-01 기간으로 구한 것으로 보입니다.